body {
	width: 100%;
	margin: auto;
	position: relative;
	background-image: url(..//img/bg-pat.png);
}
.body
{
  width : 90% !important;
  margin-left : auto !important;
  margin-right : auto !important;
 // position : relative;
 // background : red !important;
}
/* HEADER */
#header {
	border: 0px;
	padding: 0px;
	height: 85px;
	//background-color: white;
	background: #e9f6f4;
	width: 111%;
	margin-left : -5.5%;
	margin-top : -2px;
}

#headerleft {
	/* background-image: url(..//img/BandeauM2M.jpg); */
	background-position: left bottom;
	background-repeat: no-repeat;
	border: 0px;
	padding: 0px;
	height: 85px;
	width: 400px;
	float: left;
}

#headerright {
	border: 0px;
	padding-top: 40px;
	width: 300px;
	float: right;
	text-align: right;
}

#logo {
	border: 0px;
	padding: 10px;
	width: 130px;
	float: left;
	margin-left: 10%;
}

.headerinfo {
	position: absolute;
	top: 15px;
	float: left;
	vertical-align: bottom;
	margin-left: 220px;
	font-style: italic;
	color: #999;
	height: 50px;
	vertical-align: bottom;
}

/* BODY */
.body {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 80%;
}

.body H1 {
	text-align: right;
	margin: 0px;
	padding: 0px;
	font-style: italic;
	font-size: 1.2em;
}

.body form {
	margin: 0px;
	padding: 0px;
}

.body label {
	color: #666;
}

.columnForm {
	width: 50%;
}

.footer {
	font-style: italic;
	color: #666;
}

...//imgHome {
	background-image: url(..//img/..//imgAccueil.jpg);
	width: 100px;
	height: 100px;
	border: 1px solid silver;
	margin: auto;
}

.info {
	text-align: left;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

#languagePanel ul { list-style-type: none; }
#languagePanel ul li { float: right; margin-left: 5px; }

/* JOBELLE ADDITIONAL CSS FILES */
#admin-bar
{
    background-image: url(../img/admin-top-bar-pat.png);
    height: 51px;
    //position: fixed;
    width: 100%;

    margin-top : -15px;
   
  
}
#admin-bar ul
{
  padding-top: 15px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#admin-bar ul li:first-child
{
   border-left : none;
}
#admin-bar ul li:last-child
{
   border-right : none;
}
#admin-bar ul li:nth-child(3)
{
   border-right : none;
}
#admin-bar ul li:nth-child(4)
{
   border-left : none;
   margin-right : 50px;
}
#admin-bar ul li
{
	display: inline-block;
	height: 20px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid black;
	border-right: 1px solid #717272;
	float: left;
	
	
}
#admin-bar ul li.right-part
{
	float : right;
}
#admin-bar ul li,
#admin-bar ul li a
{
   font-family: helvetica;
   font-size: 13px;
   color : #d3dadc;
   padding-top: 5px;
   text-decoration: none;
   text-shadow: -1px -1px 0px black;
   filter: dropshadow(color=#000, offx=-1, offy=-1);
}
#admin-bar ul li a:hover
{
  color: #3fa5a8;
}
#admin-bar ul li .top-bar-home,
#admin-bar ul li .top-bar-user
{
  // background: red;
   width : 30px;
   height: 30px;
   display: inline-block;
   float : left;
   margin-right : 10px;
   margin-top: -8px;
}
#admin-bar ul li .top-bar-home
{
   background-image: url(..//img/home-top-bar.png) ;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   display: inline-block;
   background-position: center;
   
}
#admin-bar ul li .top-bar-user
{
   width: 25px;
   height: 25px;
   background-image: url(..//img/user-top-bar.png) ;
   border : 1px solid grey;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   display: inline-block;
   background-position: center;
}

#headerright
{
   margin-right : 80px;
}
.j_idt21_itm
{
  color : white !important;
}

}
.body
{
  background : white;
  padding : 10px;
  border : 2px solid #d3d3d3;
  margin-top:10px;
  
}
.footer
{
  margin-top : 20px;
  font-family : helvetica;
  color : #55585b;
}

/* primefaces */
.ui-menubar
{
  
   background-image: url(..//img/menu-inactive-pat.png);
   font-family: helvetica;
   //overflow: hidden;
   background-color: transparent;
   border : none;
   width:104.5%;
   margin-left: -5.5%;
   padding-left: 6%;
}
.ui-menubar .ui-menu-list
{
  width : 90%;
  margin-left : auto;
  margin-right : auto;
}
.ui-menu .ui-menuitem-text
{
    color : white;
    font-size : 13px;

}
.ui-menuitem .ui-state-hover
{
  background: #00a9ad; /* Old browsers */
  background: -moz-linear-gradient(top, #00a9ad 0%, #00636a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a9ad), color-stop(100%,#00636a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00a9ad 0%,#00636a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00a9ad 0%,#00636a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00a9ad 0%,#00636a 100%); /* IE10+ */
  background: linear-gradient(to bottom, #00a9ad 0%,#00636a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9ad', endColorstr='#00636a',GradientType=0 ); /* IE6-9 */
}
.ui-menu-child  .ui-menuitem-text
{
  color : #73777c;
}
.ui-menu-child .ui-state-hover .ui-menuitem-text
{
  color : white;
}
.ui-menu-child
{
  background : #ffffff !important;
}
.ui-widget-header
{
  background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0% 0% rgb(44, 130, 125);
}

