<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{genericWorkflowListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">

		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
				<p:menuitem outcome="genericWorkflows"
					value="#{messages['menu.generic.workflows']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel backingBean="#{genericWorkflowListBean}">
			<hftl:searchField label="#{messages['businessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['businessEntity.description']}"
				field="description" />
			<hftl:searchField label="#{messages['generic.wf.targetEntityClass']}"
				field="targetEntityClass" size="50"
				autocompleteBean="#{genericWorkflowBean}"
				autocompleteMethod="autocompleteClassNames" isAutocomplete="true" />
		</hftl:searchPanel>

		<hftl:dataList backingBean="#{genericWorkflowListBean}" sortBy="code">
			<hftl:column label="#{messages['businessEntity.code']}" field="code"
				useCustomIdParam="true" objectIdParamName="genericWorkflowId" />
			<hftl:column label="#{messages['businessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['generic.wf.targetEntityClass']}"
				field="targetEntityClass" />
			<hftl:column label="#{messages['generic.wf.targetCetCode']}"
				field="targetCetCode" />
			<hftl:column label="#{messages['workflow.enableHistory']}"
				field="enableHistory" isMessage="true" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="active" isMessage="true" />
			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
