<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org"
    template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{wfTransitionListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
		    <hftl:searchPanel
			label="#{messages['dunningPlanTransition.search']}" backingBean="#{wfTransitionListBean}">
				<hftl:searchField  label="#{messages['dunningPlanTransition.dunningLevelFrom']}" field="dunningLevelFrom" />
    			<hftl:searchField  label="#{messages['dunningPlanTransition.dunningLevelTo']}" field="dunningLevelTo" />
		    </hftl:searchPanel>
		 
	    	<hftl:dataList label="#{messages['dunningPlanTransition.title']}" backingBean="#{wfTransitionListBean}"   dataModel="#{wfTransitions}">
	    		<hftl:column label="#{messages['dunningPlanTransition.dunningLevelFrom']}" field="dunningLevelFrom" />
				<hftl:column label="#{messages['dunningPlanTransition.dunningLevelTo']}" field="dunningLevelTo" />
				 <hftl:actionsColumn />   	
		    </hftl:dataList >
		
    </ui:define>
    
</ui:composition>
