<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">
    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{workflowListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.admin']}" disabled="true" />
                <p:menuitem outcome="workflows" value="#{messages['menu.workflow']}" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel backingBean="#{workflowListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['subscription.description']}" field="description" />
            <!-- 			<hftl:searchField label="#{messages['workflow.type']}" -->
            <!-- 				field="wfType" /> -->
            <hftl:searchField label="#{messages['workflow.type']}" field="wfType" size="50" autocompleteBean="#{workflowBean}" autocompleteMethod="autocompleteClassNames"
                isAutocomplete="true" />
            <hftl:searchField label="#{messages['commons.status']}" field="status" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['dunningPlan.title']}" backingBean="#{workflowListBean}" sortBy="code">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" useCustomIdParam="true" objectIdParamName="workflowId" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['workflow.type']}" field="wfType" />
            <hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />

            <hftl:column label="#{messages['workflow.enableHistory']}" field="enableHistory" />

            <hftl:actionsColumn renderDuplicateLink="true" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
