<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

    <ui:define name="metadata">
    	<f:metadata>
    		<f:event type="preRenderView"
    			listener="#{ddRequestLOTListBean.preRenderView}" />
    	</f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.Paiements']}" disabled="true" />
				<p:menuitem outcome="ddrequestLots" value="#{messages['menu.ddrequestLot']}" />
			</p:breadCrumb>
		</h:form>	

		<hftl:searchPanel
			label="#{messages['ddrequestLot.panel']}"
			backingBean="#{ddRequestLOTListBean}" renderNewButton="false">
			<hftl:searchField label="#{messages['ddrequestLot.fileName']}"
				field="fileName" />
			<hftl:searchField label="#{messages['ddrequestLot.sendDate']}"
				field="sendDate" />
			<hftl:searchField label="#{messages['ddrequestLot.paymentCreated']}"
				field="paymentCreated" />
		</hftl:searchPanel>

		<hftl:dataList backingBean="#{ddRequestLOTListBean}" deleteManyButton="false" sortBy="sendDate" sortOrder="DESCENDING">
			<hftl:column label="#{messages['ddrequestLot.fileName']}"
				field="fileName" />
			<hftl:column label="#{messages['ddrequestLot.createdDate']}"
				field="auditable.created" isDate="true" time="true" />
			<hftl:column label="#{messages['ddrequestLot.sendDate']}"
				field="sendDate" isDate="true" />
			<hftl:column label="#{messages['ddrequestLot.invoicesNumber']}"
				field="nbItemsOk" />
			<hftl:column label="#{messages['ddrequestLot.invoicesAmount']}"
				field="totalAmount" />
			<hftl:column label="#{messages['ddrequestLot.paymentCreated']}"
				field="paymentCreated" isMessage="true" />
			<hftl:column label="#{messages['ddrequestLot.rejectedInvoices']}"
				field="nbItemsKo" />				
			<hftl:actionsColumn renderDeleteLink="false" renderViewLink="true"/>
		</hftl:dataList>

	</ui:define>

</ui:composition>
