<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:s="http://jboss.org/seam/faces" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions"
    xmlns:hftl="http://hftl.org">

<ui:composition>

    <c:set var="mainBackingBean" value="#{backingBean}" />

    <p:panelGrid columns="3" columnClasses="Wid10 Responsive100, Wid30 Responsive100 VAlignTop, Wid30 Responsive100 VAlignTop" styleClass="ui-panelgrid-blank">
        <p:panel>
            <hftl:formField label="#{messages['commons.image']}" field="imagePath" required="false" pictureGroupName="product" />
        </p:panel>
        <p:panel>
            <h:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100" columnClasses="Wid100">
                <hftl:formField label="#{messages['businessEntity.code']}" field="code" required="true" />
                <hftl:formField label="#{messages['commons.name']}" field="name" required="true" id="name" />
                <hftl:formField label="#{messages['commons.valid']}" field="validity" />
                <hftl:formField label="#{messages['productOffering.lifeCycleStatus']}" field="lifeCycleStatus" id="lifeCycleStatus" componentWidth="100" />

                <hftl:formField label="#{messages['businessProductModel.title']}" field="businessProductModel" valueLabelField="code" listElements="#{businessProductModelBean.listAll()}"
                    componentWidth="100" />
                <hftl:formField label="#{messages['productChargeTemplate.title']}" field="productChargeTemplate" valueLabelField="code" listElements="#{productChargeTemplateBean.listAll()}"
                    componentWidth="100" />

            </h:panelGrid>

            <o:validateMultiple components="#{idPath}:code_txt #{idPath}:validity_date #{idPath}:validity_date_toRange" validator="#{backingBean.validateUniqueVersion}"
                message="#{messages[mode eq 'BUNDLE'?'bundleTemplate.version.exists.short':'productTemplate.version.exists.short']}">
                <f:attribute name="objectId" value="#{backingBean.entity.id}" />
            </o:validateMultiple>
        </p:panel>

        <h:panelGrid columns="1" styleClass="ui-panelgrid-blank Wid100">

            <hftl:formField id="offerTemplateCategories" label="#{messages['offerTemplate.category']}" field="offerTemplateCategories" listType="selectCheckbox" valueLabelField="code"
                listBean="#{offerTemplateCategoryListBean}" newLine="true" componentWidth="100" />
            <hftl:formField id="channels" label="#{messages['channels.title']}" field="channels" listType="selectCheckbox" valueLabelField="descriptionOrCode" listBean="#{channelListBean}"
                newLine="true" componentWidth="100" />
            <hftl:formField id="businessAccountModels" label="#{messages['marketingManager.catalog.targetSegment']}" field="businessAccountModels" listType="selectCheckbox" valueLabelField="code"
                listBean="#{businessAccountModelListBean}" componentWidth="100" />
            <hftl:formField id="sellers" label="#{messages['offerTemplate.seller']}" field="sellers" listType="selectCheckbox" valueLabelField="descriptionOrCode" listBean="#{sellerListBean}"
                componentWidth="100" />

            <hftl:formField label="#{messages['billingCycle.calendar']}" field="invoicingCalendar" valueLabelField="code" popup="false" listBean="#{calendarBean}" componentWidth="100" />
            <hftl:formField id="attachments" label="#{messages['productOffering.attachments']}" field="attachments" listType="selectCheckbox" valueLabelField="code"
                listBean="#{digitalResourceListBean}" componentWidth="100" />
            <hftl:formField id="walletTemplates" rendered="#{mode eq 'PRODUCT'}" label="#{messages['productTemplates.walletTemplates']}" field="walletTemplates" listType="selectCheckbox"
                valueLabelField="code" listBean="#{walletTemplateListBean}" componentWidth="100" />

        </h:panelGrid>
    </p:panelGrid>

    <hftl:formLanguageFields field="description" entity="#{mainBackingBean.entity}" backingBean="#{mainBackingBean}" />
    <hftl:formLanguageFields field="longDescription" entity="#{mainBackingBean.entity}" backingBean="#{mainBackingBean}" label="#{messages['offerTemplate.longDescription']}" componentWidth="100" />


    <hftl:formField label="#{messages['enableEntity.disabled']}" doNotShowOnNew="true" allowEdit="false" field="disabled" isMessage="true" />

    <!-- Product Templates -->
    <c:if test="#{mode eq 'BUNDLE'}">
        <p:outputPanel id="bundleProductPanel" header="#{messages['menu.productTemplates']}">
            <p:panel rendered="#{mainBackingBean.edit}">
                <p:commandButton value="#{messages['bundleTemplate.addProduct']}" type="button" onclick="PF('selectProduct').show();" update=":selectProduct" />
            </p:panel>
            <p:panel>
                <p:dataTable id="bundleTemplateList" var="prod" value="#{mainBackingBean.entity.bundleProducts}" paginator="true" rows="5" paginatorPosition="top" paginatorAlwaysVisible="true"
                    paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" styleClass="ui-panelgrid-blank custom-grid"
                    widgetVar="bundleList">
                    <p:column>
                        <p:graphicImage value="#{defaultImageStreamer.image}" cache="false" width="100" height="100">
                            <f:param name="providerCode" value="#{appProvider.code}"></f:param>
                            <f:param name="fileName" value="#{prod.productTemplate.imagePath}"></f:param>
                            <f:param name="pictureGroupName" value="product"></f:param>
                        </p:graphicImage>
                    </p:column>
                    <p:column headerText="#{messages['commons.name']}">
                        <p:link outcome="mm_productTemplateDetail" value="#{prod.productTemplate.name}">
                            <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                            <f:param name="objectId" value="#{prod.productTemplate.id}"></f:param>
                            <f:param name="edit" value="false"></f:param>
                            <f:param name="backView" value="mm_productTemplates"></f:param>
                            <f:param name="tab" value="0"></f:param>
                        </p:link>
                    </p:column>
                    <p:column headerText="#{messages['BusinessEntity.description']}">
                        <h:outputText value="#{prod.productTemplate.description}" />
                    </p:column>
                    <hftl:column label="#{messages['offerTemplate.validity']}" entity="#{prod}" field="productTemplate.validity" isDatePeriod="true" width="11%" />
                    <p:column headerText="#{messages['commons.actions']}" rendered="#{mainBackingBean.edit}">
                        <h:panelGroup layout="block" styleClass="form-panel-actions">
                            <p:commandButton value="#{messages['bundleTemplate.removeProduct']}" action="#{mainBackingBean.removeProductTemplateFromBundle(prod)}"
                                update=":#{p:component('bundleTemplateList')} :#{p:component('messages')}">
                            </p:commandButton>
                        </h:panelGroup>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:outputPanel>
    </c:if>

    <hftl:customFields backingBean="#{mainBackingBean}" messagesId="#{idPath}:messages" />

</ui:composition>
</html>