<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">


    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView"
                listener="#{ponctualChargeInstanceListBean.preRenderView}" />
        </f:metadata>
    </ui:define>
    
	<ui:define name="body">

		<hftl:searchPanel label="#{messages['ponctualChargeInstance.search']}"
			backingBean="#{ponctualChargeInstanceListBean}">
			<hftl:searchField
				label="#{messages['ponctualChargeInstance.chargeDate']}"
				field="chargeDate" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['ponctualChargeInstance.title']}"
			backingBean="#{ponctualChargeInstanceListBean}">
			<hftl:column
				label="#{messages['ponctualChargeInstance.chargeDate']}"
				field="chargeDate" />
				
			<hftl:actionsColumn/>
		</hftl:dataList>

	</ui:define>

</ui:composition>
