<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:hftl="http://hftl.org"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
                template="/layout/template.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{currencyListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true"/>
                <p:menuitem
                        value="#{messages['menu.currencies']}" outcome="currencies"/>
            </p:breadCrumb>
        </h:form>

		<hftl:searchPanel label="#{messages['currency.search']}" columns="3"
			backingBean="#{currencyListBean}">
			<hftl:searchField label="#{messages['currency.code']}"
				field="currencyCode" />
			<hftl:searchField label="#{messages['currency.name']}"
				field="descriptionEn" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['currency.title']}"    backingBean="#{currencyListBean}">
			<hftl:column label="#{messages['currency.code']}" edit="#{currentUser.hasRole('currencyManagement')}" 	field="currencyCode" width="10%" entityView="currencyDetail" valueIdField="id"/>
			<hftl:column label="#{messages['currency.name']}" field="descriptionEn" />
			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
