<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:hftl="http://hftl.org" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{dDRequestBuilderBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.Paiements']}"
					disabled="true" />
				<p:menuitem value="#{messages['menu.DDRequestBuilders']}" outcome="dDRequestBuilders" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['dDRequestBuilder.search']}"
			backingBean="#{dDRequestBuilderBean}">
			<hftl:searchField label="#{messages['businessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['businessEntity.description']}"
				id="description" field="description" />
			<hftl:searchField label="#{messages['dDRequestBuilder.type']}"
				id="type" field="type" />
		</hftl:searchPanel>

		<hftl:dataList backingBean="#{dDRequestBuilderBean}"
			label="#{messages['dDRequestBuilder.title']}" sortBy="code">
			<hftl:column label="#{messages['businessEntity.code']}" field="code" />
			<hftl:column label="#{messages['businessEntity.description']}" field="description" />			
			<hftl:column label="#{messages['dDRequestBuilder.type']}" field="type" />
			<hftl:actionsColumn  renderEnableLink="true"/>
		</hftl:dataList>

	</ui:define>

</ui:composition>
