<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{productChargeTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="productChargeTemplates"
					value="#{messages['menu.productChargeTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['productChargeTemplate.search']}"
			backingBean="#{productChargeTemplateListBean}">
			<hftl:searchField label="#{messages['BusinessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['BusinessEntity.description']}"
				id="description" field="description" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}"
				field="disabled" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['bundleTemplates.title']}"
			backingBean="#{productChargeTemplateListBean}" sortBy="code">
			<hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:column label="#{messages['BusinessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="active" isMessage="true" />

			<hftl:column label="#{messages['chargeTemplate.amountEditable']}"
				field="amountEditable" isMessage="true" />
			<hftl:column label="#{messages['charge.subCategory']}"
				field="invoiceSubCategory.code" valueIdField="invoiceSubCategory.id"
				entityView="invoiceSubCategoryDetail" propagateConversation="false"
				backView="invoiceCategories" />
			<hftl:column label="#{messages['menu.triggeredEdrTemplates']}"
				field="edrTemplates" valueLabelField="code" valueIdField="id"
				isList="true" entityView="triggeredEdrTemplateDetail" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="active" isMessage="true" />			

			<hftl:actionsColumn renderEnableLink="true"
				renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
