<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>MEVEO Admin</display-name>

	<context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>65535</param-value> <!-- 64KB. -->
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<param-value>-1</param-value> <!-- Should be -1 for production. -->
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/taglib/happyfaces.taglib.xml;/taglib/primefacesextension.taglib.xml</param-value>
	</context-param>

	<!-- Standard JSF date converters use system time zone - not default -->
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Skip comment in jsf pages -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Bean validation -->
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>facesExceptionFilter</filter-name>
		<filter-class>org.omnifaces.filter.FacesExceptionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>facesExceptionFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>noCache</filter-name>
		<filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>noCache</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<!-- <filter> -->
	<!-- <filter-name>UTF8CharacterEncodingFilter</filter-name> -->
	<!-- <filter-class>org.meveo.admin.filter.UTF8CharacterEncodingFilter</filter-class> -->
	<!-- </filter> -->

	<!-- <filter-mapping> -->
	<!-- <filter-name>UTF8CharacterEncodingFilter</filter-name> -->
	<!-- <url-pattern>*.jsf</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- Error page -->
	<!-- <error-page> -->
	<!-- <exception-type>javax.faces.application.ViewExpiredException</exception-type> -->
	<!-- <location>/errors/expired.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <exception-type>java.sql.SQLException</exception-type> -->
	<!-- <location>/errors/database.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <exception-type>java.lang.RuntimeException</exception-type> -->
	<!-- <location>/errors/bug.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <exception-type>org.jboss.weld.context.NonexistentConversationException</exception-type> -->
	<!-- <location>/errors/bug.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <error-code>500</error-code> -->
	<!-- <location>/errors/500.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <error-code>404</error-code> -->
	<!-- <location>/errors/404.xhtml</location> -->
	<!-- </error-page> -->
	<!-- <error-page> -->
	<!-- <error-code>400</error-code> -->
	<!-- <location>/errors/400.xhtml</location> -->
	<!-- </error-page> -->

</web-app>
