<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hftl="http://hftl.org" 
	template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{ddRequestLotOpBean.objectId}" />
        </f:metadata>
    </ui:define>

	<ui:define name="body"> 
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.Paiements']}" disabled="true" />
				<p:menuitem outcome="ddrequestLotOps" value="#{messages['menu.ddrequestLotOp']}" />				
				<p:menuitem
					value="#{messages['menu.ddrequestLotOp']} - #{ddRequestLotOpBean.entity.status}"
					disabled="true" rendered="#{!ddRequestLotOpBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>
		
		
		<hftl:entityPopup id="scriptPopup"
			header="#{messages['scriptInstance.popup.header']}"
			backingBean="#{scriptInstanceBean}"
			selection="#{ddRequestLotOpBean.entity.scriptInstance}"
			searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
			column1Label="#{messages['businessEntity.code']}" column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" eventBackingBean="#{pricePlanMatrixBean}"
			updateField=":FormId:scriptSelectId :FormId:scriptSelectId_text">
		</hftl:entityPopup>
		
		<hftl:entityPopup id="sellerPopup"
			header="#{messages['seller.title']}"
			backingBean="#{sellerBean}"
			selection="#{ddRequestLotOpBean.entity.seller}"
			searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
			column1Label="#{messages['businessEntity.code']}" column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" 
			updateField=":FormId:sellerSelectId :FormId:sellerSelectId_text">
		</hftl:entityPopup>		
		
		<hftl:entityPopup id="dDRequestBuilderPopup" header="#{messages['dDRequestBuilder.title']}" backingBean="#{dDRequestBuilderBean}"
            searchField1Label="#{messages['BusinessEntity.code']}" searchField1="code" column1Label="#{messages['BusinessEntity.code']}" column1="code"
            selection="#{ddRequestLotOpBean.entity.ddRequestBuilder}" column2Label="#{messages['BusinessEntity.description']}" column2="description"
			updateField=":FormId:builderSelectId :FormId:builderSelectId_text">
		</hftl:entityPopup>
		<hftl:entityPopup id="filterPopup" header="#{messages['filter.title']}" backingBean="#{filterBean}"
            searchField1Label="#{messages['BusinessEntity.code']}" searchField1="code" column1Label="#{messages['BusinessEntity.code']}" column1="code"
            selection="#{ddRequestLotOpBean.entity.filter}" column2Label="#{messages['BusinessEntity.description']}" column2="description"
			updateField=":FormId:filterSelectId :FormId:filterSelectId_text">
		</hftl:entityPopup>		
		
		<hftl:formPanel formId="FormId"  label="#{messages['menu.ddrequestLotOp']}" backingBean="#{ddRequestLotOpBean}">
		    <hftl:formField label="#{messages['jobExecution.paymentOrRefund']}"  field="paymentOrRefundEnum"  required="true"/>
			<hftl:formField label="#{messages['ddrequestLotOp.fromDueDate']}"  field="fromDueDate"  isMessage="true"/>
			<hftl:formField label="#{messages['ddrequestLotOp.toDueDate']}"  field="toDueDate"  isMessage="true"/> 
			<hftl:formField label="#{messages['dDRequestBuilder.title']}"  field="ddRequestBuilder" required="true" id="builderSelectId" valueLabelField="code" popup="true" popupId="dDRequestBuilderPopup" /> 
			<hftl:formField label="#{messages['filter.title']}"  field="filter" id="filterSelectId" valueLabelField="code" popup="true" popupId="filterPopup" /> 
			<hftl:formField label="#{messages['ddrequestLotOp.status']}" field="status"  isMessage="true" rendered="#{not empty ddRequestLotOpBean.entity.id}" edit="false"/>
			<hftl:formField label="#{messages['ddrequestLotOp.errorCause']}" field="errorCause" rendered="#{not empty ddRequestLotOpBean.entity.id}" edit="false"/>
			<hftl:formField label="#{messages['ddrequestLotOp.generatePaymentLines']}" field="generatePaymentLines"  />
			<hftl:formField label="#{messages['ddrequestLotOp.paymentStatus']}" field="paymentStatus"  />
			<hftl:formField label="#{messages['ddrequestLotOp.createMatching']}" field="createMatching"  />

			<hftl:formField id="scriptSelectId"
				label="#{messages['ddrequestLotOp.dueDateRangeScript']}"
				field="scriptInstance" valueLabelField="code" required="false"
				popup="true" popupId="scriptPopup" showResetButton="true" />
				
			<hftl:formField id="sellerSelectId"
				label="#{messages['ddrequestLotOp.seller']}"
				field="seller" valueLabelField="code" required="false"
				popup="true" popupId="sellerPopup" showResetButton="true" />				

			<hftl:formField label="#{messages['ddrequestLotOp.recurrent']}" field="recurrent" edit="true"/>
			 
		</hftl:formPanel>
	</ui:define>  

</ui:composition>
