<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
    	<f:metadata>
    		<f:event type="preRenderView"
    			listener="#{ddRequestLotOpListBean.preRenderView}" />
    	</f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.Paiements']}" disabled="true" />
				<p:menuitem outcome="ddrequestLotOps" value="#{messages['menu.ddrequestLotOp']}" />
			</p:breadCrumb>
		</h:form>
		<hftl:searchPanel
			label="#{messages['menu.ddrequestLotOp']}"
			backingBean="#{ddRequestLotOpListBean}">
			<hftl:searchField label="#{messages['ddrequestLotOp.ddrequestOp']}"
				field="ddrequestOp" />
			<hftl:searchField label="#{messages['ddrequestLotOp.status']}"
				field="status" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['menu.ddrequestLotOp']}"
			backingBean="#{ddRequestLotOpListBean}">
			<p:column>
				<f:facet name="header">
					<h:outputText value="#{messages['ddrequestLotOp.date']}" />
				</f:facet>
				<h:outputText value="#{entity.getAuditable().getCreated()}"
					isDate="true">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<hftl:column label="#{messages['jobExecution.paymentOrRefund']}" field="paymentOrRefundEnum" />
			<hftl:column label="#{messages['ddrequestLotOp.fromDueDate']}" field="fromDueDate" isDate="true" />
			<hftl:column label="#{messages['ddrequestLotOp.toDueDate']}" field="toDueDate" isDate="true" />
			<hftl:column label="#{messages['ddrequestLotOp.recurrent']}" field="recurrent" />
			<hftl:column label="#{messages['ddrequestLotOp.ddrequestOp']}" field="ddrequestOp.label" isMessage="true" />
			<hftl:column label="#{messages['ddrequestLotOp.status']}" field="status.label" isMessage="true" />
			<hftl:column label="#{messages['dDRequestBuilder.title']}" field="ddRequestBuilder.code" />				
			<hftl:column label="#{messages['ddrequestLotOp.errorCause']}" field="errorCause" />
			<hftl:actionsColumn renderEditLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
