<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

    <ui:define name="metadata">
    	<f:metadata>
    		<f:event type="preRenderView"
    			listener="#{discountPlanListBean.preRenderView}" />
    	</f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="discountPlans"
					value="#{messages['menu.discountPlans']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['action.search']}"
			backingBean="#{discountPlanListBean}" columns="3">
			<hftl:searchField label="#{messages['BusinessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['BusinessEntity.description']}"
				field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['discountPlan.title']}"
			backingBean="#{discountPlanListBean}" sortBy="code">
			<hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:column label="#{messages['BusinessEntity.description']}"
				field="description" />
			<!--  
			<hftl:column label="#{messages['pricePlanMatrix.minSubscriptionAgeInMonth']}"
				field="minDuration" />
			<hftl:column label="#{messages['pricePlanMatrix.maxSubscriptionAgeInMonth']}"
				field="maxDuration" />
				-->
			<hftl:column label="#{messages['discountPlanMatrix.planItems']}" field="discountPlanItems" isList="true" valueLabelField="code" valueIdField="id"
				/>
			<hftl:column label="#{messages['discountPlanItem.startDate']}"
                field="startDate" isDate="true" />
            <hftl:column label="#{messages['discountPlanItem.endDate']}"
                field="endDate" isDate="true" />
            <hftl:column label="#{messages['enableEntity.active']}" field="active"
                isMessage="true" />

			<hftl:actionsColumn renderEnableLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
