<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Usage Charge Instance</title>
</style>
</h:head>

<h:body>
	<h:form>
	</h:form>
</h:body>
</html>