<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{barChartBean.objectId}" />
        </f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.reporting']}" disabled="true" />
				<p:menuitem outcome="charts" value="#{messages['menu.charts']}" />
				<p:menuitem value="#{messages['commons.new']} #{messages['barChart.title']}"
					disabled="true" rendered="#{barChartBean.entity.transient}" />
				<p:menuitem
					value="#{messages['barChart.title']} - #{barChartBean.entity.code}"
					disabled="true" rendered="#{!barChartBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:entityPopup id="searchMeasurableQuantity"
			header="#{messages['measurableQuantity.popup.header']}"
			updateField=":formChat:measurableQuantityId :formChat:measurableQuantityId_text"
			selection="#{barChartBean.entity.measurableQuantity}"
			backingBean="#{measurableQuantityBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code" column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:entityPopup id="searchRole"
			header="#{messages['role.userRolePanel']}"
			updateField=":formChat:roleId :formChat:roleId_text"
			selection="#{barChartBean.entity.role}" backingBean="#{userRoleBean}"
			searchField1Label="#{messages['commons.name']}" searchField1="name"
			column1Label="#{messages['commons.name']}" column1="name"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:formPanel id="chartFormPanel" formId="formChat"
			label="#{messages['chart.panel']}" backingBean="#{barChartBean}">

			<hftl:formField label="#{messages['businessEntity.code']}"
				field="code" validateUnique="true" />
				
			<hftl:formField label="#{messages['businessEntity.description']}"
				field="description" />

			<hftl:formField id="measurableQuantityId"
				label="#{messages['chart.measurableQuantity']}"
				field="measurableQuantity" valueLabelField="code" required="true"
				popup="true" popupId="searchMeasurableQuantity" />

			<hftl:formField id="roleId" label="#{messages['chart.role']}"
				field="role" valueLabelField="name" required="false" popup="true"
				popupId="searchRole"
				rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}" />
				
			<hftl:formField label="#{messages['commons.width']}" field="width" />
			<hftl:formField label="#{messages['commons.height']}" field="height" />
			<hftl:formField label="#{messages['chart.style']}" field="style" />
			<hftl:formField label="#{messages['chart.styleClass']}"
				field="styleClass" />
			
			<hftl:formField label="#{messages['chart.extender']}"
				field="extender" />
			<hftl:formField label="#{messages['chart.visible']}"
				field="visible" />

			<hftl:formField label="#{messages['barChart.stacked']}"
				field="stacked" />
	
			<hftl:formField label="#{messages['barChart.barPadding']}" field="barPadding" />
			<hftl:formField label="#{messages['barChart.barMargin']}" field="barMargin" />
		
			<hftl:formField label="#{messages['barChart.min']}" field="min" />
			<hftl:formField label="#{messages['barChart.max']}" field="max" />
			<hftl:formField label="#{messages['barChart.breakOnNull']}"
				field="breakOnNull" />
			<hftl:formField label="#{messages['barChart.xaxislabel']}"
				field="xaxisLabel" />
			<hftl:formField label="#{messages['barChart.yaxislabel']}"
				field="yaxisLabel" />
			<hftl:formField label="#{messages['barChart.xaxisangle']}"
				field="xaxisAngle" />
			<hftl:formField label="#{messages['barChart.yaxisangle']}"
				field="yaxisAngle" />
			<hftl:formField label="#{messages['barChart.legendcols']}"
				field="legendCols" />
			<hftl:formField label="#{messages['barChart.legendrows']}"
				field="legendRows" />
			<hftl:formField label="#{messages['barChart.zoom']}" field="zoom" />
			<hftl:formField label="#{messages['barChart.animate']}"
				field="animate" />
			<hftl:formField label="#{messages['barChart.showDataTip']}"
				field="showDataTip" />
			<hftl:formField label="#{messages['barChart.datatipFormat']}"
				field="datatipFormat" />
			<hftl:decorateFormField label="#{messages['meveoModule.partOfModules']}" rendered="#{!barCharBean.entity.transient}">
                <h:outputText value="#{barChartBean.getPartOfModules()}" />
            </hftl:decorateFormField>

<!-- 			<p:commandButton id="showPreview"
				action="#{barChartBean.getChartEntityModel()}"
				value="#{messages['page.chart.preview']}" update="@all"></p:commandButton>

			<p:outputPanel id="chartPreview"
				rendered="#{barChartBean.chartEntityModel != null}"
				style="margin:50px">
				<p:chart type="bar" model="#{barChartBean.chartEntityModel.model}"
					style="#{entity.style}" styleClass="#{entity.styleClass}" responsive="true" />
			</p:outputPanel> -->

		</hftl:formPanel>


	</ui:define>

</ui:composition>
