<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{lineChartBean.objectId}" />
        </f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.reporting']}" disabled="true" />
				<p:menuitem outcome="charts" value="#{messages['menu.charts']}" />
				<p:menuitem value="#{messages['commons.new']} #{messages['lineChart.title']}"
					disabled="true" rendered="#{lineChartBean.entity.transient}" />
				<p:menuitem
					value="#{messages['lineChart.title']} - #{lineChartBean.entity.code}"
					disabled="true" rendered="#{!lineChartBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:entityPopup id="searchMeasurableQuantity"
			header="#{messages['measurableQuantity.popup.header']}"
			updateField=":formChat:measurableQuantityId :formChat:measurableQuantityId_text"
			selection="#{lineChartBean.entity.measurableQuantity}"
			backingBean="#{measurableQuantityBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code" column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:entityPopup id="searchRole"
			header="#{messages['role.userRolePanel']}"
			updateField=":formChat:roleId :formChat:roleId_text"
			selection="#{lineChartBean.entity.role}"
			backingBean="#{userRoleBean}"
			searchField1Label="#{messages['commons.name']}" searchField1="name"
			column1Label="#{messages['commons.name']}" column1="name"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:formPanel formId="formChat" label="#{messages['chart.panel']}"
			backingBean="#{lineChartBean}">

			<hftl:formField label="#{messages['businessEntity.code']}"
				field="code" validateUnique="true" />

			<hftl:formField label="#{messages['businessEntity.description']}"
				field="description" />

			<hftl:formField id="measurableQuantityId"
				label="#{messages['chart.measurableQuantity']}"
				field="measurableQuantity" valueLabelField="code" required="true"
				popup="true" popupId="searchMeasurableQuantity" />

			<hftl:formField id="roleId" label="#{messages['chart.role']}"
				field="role" valueLabelField="name" required="false" popup="true"
				popupId="searchRole"
				rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}" />

			<hftl:formField label="#{messages['commons.width']}" field="width" />
			<hftl:formField label="#{messages['commons.height']}" field="height" />
			<hftl:formField label="#{messages['chart.style']}" field="style" />
			<hftl:formField label="#{messages['chart.styleClass']}"
				field="styleClass" />
			<hftl:formField label="#{messages['chart.extender']}"
				field="extender" />
			<hftl:formField label="#{messages['chart.visible']}"
				field="visible" />
			<hftl:formField label="#{messages['lineChart.filled']}"
				field="filled" />
			<hftl:formField label="#{messages['lineChart.legendposition']}"
				field="legendPosition" />
			<hftl:decorateFormField fieldId="color"
				label="#{messages['pieChart.seriesColors']}">
				<p:colorPicker id="color"
					value="#{lineChartBean.entity.seriesColors}" />
			</hftl:decorateFormField>
			<hftl:formField label="#{messages['lineChart.shadow']}"
				field="shadow" />
			<hftl:formField label="#{messages['lineChart.minX']}" field="minX" />
			<hftl:formField label="#{messages['lineChart.minY']}" field="minY" />
			<hftl:formField label="#{messages['lineChart.maxX']}" field="maxX" />
			<hftl:formField label="#{messages['lineChart.maxY']}" field="maxY" />
			<hftl:formField label="#{messages['lineChart.breakOnNull']}"
				field="breakOnNull" />
			<hftl:formField label="#{messages['lineChart.xaxislabel']}"
				field="xaxisLabel" />
			<hftl:formField label="#{messages['lineChart.yaxislabel']}"
				field="yaxisLabel" />
			<hftl:formField label="#{messages['lineChart.xaxisangle']}"
				field="xaxisAngle" />
			<hftl:formField label="#{messages['lineChart.yaxisangle']}"
				field="yaxisAngle" />
			<hftl:formField label="#{messages['lineChart.legendcols']}"
				field="legendCols" />
			<hftl:formField label="#{messages['lineChart.legendrows']}"
				field="legendRows" />
			<hftl:formField label="#{messages['lineChart.stacked']}"
				field="stacked" />
			<hftl:formField label="#{messages['lineChart.zoom']}" field="zoom" />
			<hftl:formField label="#{messages['lineChart.animate']}"
				field="animate" />
			<hftl:formField label="#{messages['lineChart.showDataTip']}"
				field="showDataTip" />
			<hftl:formField label="#{messages['lineChart.datatipFormat']}"
				field="datatipFormat" />
			<hftl:decorateFormField label="#{messages['meveoModule.partOfModules']}" rendered="#{!lineChartBean.entity.transient}">
                <h:outputText value="#{lineChartBean.getPartOfModules()}" />
            </hftl:decorateFormField>

			<!-- <p:commandButton id="showPreview"
				action="#{lineChartBean.getChartEntityModel()}"
				value="#{messages['page.chart.preview']}" update="@all"></p:commandButton>

			<p:outputPanel id="chartPreview"
				rendered="#{lineChartBean.chartEntityModel.model != null}"
				style="margin:50px">
				<p:chart type="line" model="#{lineChartBean.chartEntityModel.model}"
					style="#{entity.style}" styleClass="#{entity.style}" responsive="true"/>
			</p:outputPanel> -->

		</hftl:formPanel>

	</ui:define>

</ui:composition>
