<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{pieChartBean.objectId}" />
        </f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.reporting']}" disabled="true" />
				<p:menuitem outcome="charts" value="#{messages['menu.charts']}" />
				<p:menuitem value="#{messages['commons.new']} #{messages['pieChart.title']}"
					disabled="true" rendered="#{pieChartBean.entity.transient}" />
				<p:menuitem
					value="#{messages['pieChart.title']} - #{pieChartBean.entity.code}"
					disabled="true" rendered="#{!pieChartBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:entityPopup id="searchMeasurableQuantity"
			header="#{messages['measurableQuantity.popup.header']}"
			updateField=":formChat:measurableQuantityId :formChat:measurableQuantityId_text"
			selection="#{pieChartBean.entity.measurableQuantity}"
			backingBean="#{measurableQuantityBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code" column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:entityPopup id="searchRole"
			header="#{messages['role.userRolePanel']}"
			updateField=":formChat:roleId :formChat:roleId_text"
			selection="#{pieChartBean.entity.role}" backingBean="#{userRoleBean}"
			searchField1Label="#{messages['commons.name']}" searchField1="name"
			column1Label="#{messages['commons.name']}" column1="name"
			column2Label="#{messages['businessEntity.description']}"
			column2="description" />

		<hftl:formPanel id="chartFormPanel" formId="formChat"
			label="#{messages['chart.panel']}" backingBean="#{pieChartBean}"
			columns="2">

			<hftl:formField label="#{messages['businessEntity.code']}"
				field="code" validateUnique="true" />
				
			<hftl:formField label="#{messages['businessEntity.description']}"
				field="description" />
				

			<hftl:formField id="measurableQuantityId"
				label="#{messages['chart.measurableQuantity']}"
				field="measurableQuantity" valueLabelField="code" required="true"
				popup="true" popupId="searchMeasurableQuantity" />

			<hftl:formField id="roleId" label="#{messages['chart.role']}"
				field="role" valueLabelField="name" required="false" popup="true"
				popupId="searchRole"
				rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}" />

			<hftl:formField label="#{messages['commons.width']}" field="width" />
			<hftl:formField label="#{messages['commons.height']}" field="height" />
			<hftl:formField label="#{messages['chart.style']}" field="style" />
			<hftl:formField label="#{messages['chart.styleClass']}"
				field="styleClass" />
			<hftl:formField label="#{messages['chart.extender']}"
				field="extender" />
			<hftl:formField label="#{messages['chart.visible']}"
				field="visible" />
			<hftl:formField label="#{messages['pieChart.filled']}" field="filled" />
			<hftl:formField label="#{messages['pieChart.legendposition']}"
				field="legendPosition" />
			<!-- <hftl:formField label="#{messages['pieChart.seriesColors']}"
				field="seriesColors" /> -->

			<hftl:decorateFormField fieldId="color"
				label="#{messages['pieChart.seriesColors']}">
				<p:colorPicker id="color"
					value="#{pieChartBean.entity.seriesColors}" />
			</hftl:decorateFormField>

			<hftl:formField label="#{messages['pieChart.diameter']}"
				field="diameter" />
			<hftl:formField label="#{messages['pieChart.sliceMargin']}"
				field="sliceMargin" />
			<hftl:formField label="#{messages['pieChart.shadow']}" field="shadow" />
			<hftl:formField label="#{messages['pieChart.showDataLabels']}"
				field="showDataLabels" />
			<hftl:formField label="#{messages['pieChart.legendCols']}"
				field="legendCols" />
			<hftl:formField label="#{messages['pieChart.legendRows']}"
				field="legendRows" />
			<hftl:decorateFormField label="#{messages['meveoModule.partOfModules']}" rendered="#{!pieChartBean.entity.transient}">
                <h:outputText value="#{pieChartBean.getPartOfModules()}" />
            </hftl:decorateFormField>



			<!-- <p:commandButton id="showPreview"
				action="#{pieChartBean.getChartEntityModel()}"
				value="#{messages['page.chart.preview']}" update="@all"></p:commandButton>

			<p:outputPanel id="chartPreview"
				rendered="#{pieChartBean.chartEntityModel.model != null}"
				style="margin:50px">
				<p:chart type="pie" model="#{pieChartBean.chartEntityModel.model}"
					style="#{entity.style}" styleClass="#{entity.styleClass}" responsive="true" />
			</p:outputPanel> -->
		</hftl:formPanel>


	</ui:define>

</ui:composition>
