<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{serviceTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="serviceTemplates"
					value="#{messages['menu.serviceTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['serviceTemplate.search']}"
			backingBean="#{serviceTemplateListBean}">
			<hftl:searchField label="#{messages['serviceTemplate.code']}"
				field="code" />
			<hftl:searchField label="#{messages['serviceTemplate.description']}"
				id="description" field="description" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}"
				field="disabled" />

		</hftl:searchPanel>

		<hftl:dataList label="#{messages['serviceTemplate.title']}"
			noClose="false" sortBy="code"
			backingBean="#{serviceTemplateListBean}">
			<hftl:column label="#{messages['serviceTemplate.code']}" field="code" />
			<hftl:column label="#{messages['serviceTemplate.description']}"
				field="description" />
			<hftl:column label="#{messages['serviceTemplate.recurringCharges']}"
				field="serviceRecurringCharges" isList="true"
				valueLabelField="chargeTemplate.code"
				valueIdField="chargeTemplate.id"
				entityView="recurringChargeTemplateDetail" />
			<hftl:column
				label="#{messages['serviceTemplate.subscriptionCharges']}"
				field="serviceSubscriptionCharges" isList="true"
				valueLabelField="chargeTemplate.code"
				valueIdField="chargeTemplate.id"
				entityView="oneShotChargeTemplateDetail" />
			<hftl:column
				label="#{messages['serviceTemplate.terminationCharges']}"
				field="serviceTerminationCharges" isList="true"
				valueLabelField="chargeTemplate.code"
				valueIdField="chargeTemplate.id"
				entityView="oneShotChargeTemplateDetail" />
			<hftl:column label="#{messages['serviceTemplate.usageCharges']}"
				field="serviceUsageCharges" isList="true"
				valueLabelField="chargeTemplate.code"
				valueIdField="chargeTemplate.id"
				entityView="usageChargeTemplateDetail" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="active" isMessage="true" />

			<hftl:actionsColumn
				renderEnableLink="true" renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
