/* Menu Button */
#menu-button {
	height: 21px;
}

#menu-button i {
	font-size: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
}

/*Fixed Topbar Menu Button*/
.FixedTopbar #menu-button {
	float: left;
	display: inline-block;
	padding: 16px 20px 15px;
	margin: -15px 0px -15px 10px;
	border-right: solid 1px #2f5582;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.FixedTopbar #menu-button:hover, .FixedTopbar #menu-button:active {
	background-color: #0d2542;
}

.FixedTopbar #menu-button.active i {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #cd2026;
}

.FixedTopbar #menu-button.active {
	background-color: #0d2542;
}

/* MENU ----------------------------------------------------------------------------------*/
/* OpencellMega Menu */
/*Layout Menu Cover */
.OpencellMegaMenu #layout-menu-cover {
	overflow: hidden;
	margin: 0px -25px 0px -25px;
	clear: both;
	height: 0px;
	display: block;
}

.OpencellMegaMenu #layout-menu-cover.active {
	height: auto;
	max-height: 470px;
	overflow-y: auto;
	padding: 0px 25px 10px 25px;
	margin: 37px -25px 0px -25px;
	border-top: solid 1px #f1f1f1;
	background-color: #f1f1f1;
}

/*Layout Menu */
.OpencellMegaMenu .layout-menu {
	width: auto;
	height: auto;
	margin: 0px;
	display: block;
	padding: 0px 12px;
	float: left;
	opacity: 0;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-ms-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.OpencellMegaMenu #layout-menu-cover.active .layout-menu {
	opacity: 1;
	margin-top: 25px;
}

/* first node */
.OpencellMegaMenu .layout-menu>li {
	width: 210px;
	float: left;
	margin: 0px 40px 20px 0px;
	overflow: hidden;
}

.OpencellMegaMenu .layout-menu>li>a {
	width: 210px;
	padding: 10px 0px;
	display: block;
	font-family: 'source_sans_probold';
	color: #000;
	font-size: 16px;
	border-bottom: solid 1px #d6d7d9;
	margin-bottom: 8px;
	cursor: pointer;
}

.OpencellMegaMenu .layout-menu>li>a i {
	font-size: 16px;
	float: left;
	margin-right: 10px;
}
/* second node */
.OpencellMegaMenu .layout-menu>li ul {
	margin: 0px;
	padding: 0px;
}

.OpencellMegaMenu .layout-menu>li ul li {
	display: block;
	padding: 0px;
	margin: 0px;
}

.OpencellMegaMenu .layout-menu>li ul li a {
	color: #000;
	font-size: 14px;
	font-family: 'source_sans_proregular';
	padding: 4px 0px 2px;
	display: inline-block;
	border-bottom: solid 1px transparent;
	cursor: pointer;
}

.OpencellMegaMenu .layout-menu>li ul li a:hover, .OpencellMegaMenu .layout-menu>li ul li a:focus
	{
	border-bottom: dotted 1px #0071bc;
}

.OpencellMegaMenu .layout-menu>li ul li a i {
	float: left;
	margin-right: 10px;
	font-size: 15px;
	width: 15px;
}
/* third and more nodes */
.OpencellMegaMenu .layout-menu>li ul li ul {
	margin-left: 4px;
	padding-left: 12px;
	border-left: dotted 1px #ccc;
	height: 0px;
	overflow: hidden;
}

.OpencellMegaMenu .layout-menu>li ul li ul.active-menu {
	height: auto;
}