<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:hftl="http://hftl.org"
                xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView"
                     listener="#{languageListBean.preRenderView}"/>
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true"/>
                <p:menuitem
                        value="#{messages['menu.languages']}" outcome="languages"/>
            </p:breadCrumb>
        </h:form>
        <hftl:searchPanel label="#{messages['language.search']}" columns="3"
                          backingBean="#{languageListBean}">
                          
            <hftl:searchField label="#{messages['language.code']}"
                              field="languageCode"/>
            <hftl:searchField label="#{messages['language.name']}"
                              field="descriptionEn"/>
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['language.title']}"
                       backingBean="#{languageListBean}">
            <hftl:column label="#{messages['language.code']}" edit="#{currentUser.hasRole('languageManagement')}" field="languageCode" width="10%" entityView="languageDetail" valueIdField="id"/>
            <hftl:column label="#{messages['language.name']}"
                         field="descriptionEn"/>
            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
