<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
                xmlns:p="http://primefaces.org/ui">

    <script type="text/javascript"
            src="#{FacesContext.externalContext.requestContextPath}/js/equalHeight.js"></script>
    <script type="text/javascript">
		jQuery(function () {
			jQuery('.panels').equalHeights();
		});
    </script>
    <p:dataTable id="datatable_pp_results_omitFromSubmit" var="entity" value="#{pricePlanMatrixBean.getPricePlanMatrixList(chargeTemplateBean.entity)}"
                 paginator="true" rows="10" editable="true" editMode="cell" widgetVar="cellEntity_pp" label="#{messages['pricePlanMatrix.title']}"
                 scrollable="#{pricePlanMatrixListBean.lazyDataModel.size()==0?'true':'false'}"
                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                 rowsPerPageTemplate="5,10" lazy="true" resizableColumns="true" styleClass="custom-grid"
                 rowKey="#{entity.id}"
                 first="#{pricePlanMatrixListBean.dataTableFirstAttribute}" reflow="true">

        <p:ajax event="cellEdit" partialSubmit="true" process="@this"
                listener="#{pricePlanMatrixListBean.onCellEdit}"/>

        <f:facet name="header">
            <p:commandButton id="toggler1" type="button" style="float:right" disabled="#{pricePlanMatrixListBean.lazyDataModel.size()==0?'true':'false'}"
                             icon="ui-icon-calculator"/>
            <p:columnToggler datasource="datatable_pp_results_omitFromSubmit" trigger="toggler1">
                <!-- 					<p:ajax event="toggle" listener="#{pricePlanMatrixColumnSelectorBean.onToggle}" /> -->
            </p:columnToggler>
        </f:facet>
        <p:column exportable="true" toggleable="false" width="15%">
            <f:facet name="header">
                <h:outputText value="#{messages['BusinessEntity.code']}"/>
            </f:facet>
            <h:link id="pp_detail" value="#{entity.code}" outcome="pricePlanMatrixDetail">
                <f:param name="objectId" value="#{entity.id}"/>
                <f:param name="edit" value="true"/>
                <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
                <f:param name="chargeId" value="#{chargeTemplateBean.entity.id}"/>
            </h:link>
        </p:column>
       
        <p:column exportable="true" toggleable="true" width="22%" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[4]}" >
            <f:facet name="header">
                <h:outputText value="#{messages['BusinessEntity.description']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.description}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.description}"
                                 maxlength="100" size="20"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" toggleable="false" visible="false"/>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[5]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(4)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.offerCode']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.offerTemplate.code}  #{entity.offerTemplate.validity.toString(paramBean.dateFormat)}"/>
                </f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{entity.offerTemplate}" style="width:75%">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{offerTemplateBean.listAll()}" var="item"
                                       itemLabel="#{item.code}  #{item.validity.toString(paramBean.dateFormat)}" itemValue="#{item}"/>
                        <hftl:objectConverter/>
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[6]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(5)}">
            <f:facet name="header">
                <h:outputText value="#{messages['seller.title']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.seller.code}"/>
                </f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{entity.seller}" style="width:75%">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{sellerBean.listAll()}" var="item"
                                       itemLabel="#{item.code}" itemValue="#{item}"/>
                        <hftl:objectConverter/>
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[7]}" width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(7)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.amountWithTax']}" rendered="#{!appProvider.entreprise}" />
                <h:outputText value="#{messages['pricePlanMatrix.amountWithoutTax']}" rendered="#{appProvider.entreprise}" />
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.amountWithTax}" converter="bigDecimal4DigitsConverter" rendered="#{!appProvider.entreprise}" />
                    <h:outputText value="#{entity.amountWithoutTax}" converter="bigDecimal4DigitsConverter" rendered="#{appProvider.entreprise}" />
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.amountWithTax}" required="true" converter="bigDecimal4DigitsConverter" size="6" rendered="#{!appProvider.entreprise}" />
                    <p:inputText value="#{entity.amountWithoutTax}" required="true" converter="bigDecimal4DigitsConverter" size="6" rendered="#{appProvider.entreprise}" />
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[8]}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.amountWithTax']} EL" rendered="#{!appProvider.entreprise}" />
                <h:outputText value="#{messages['pricePlanMatrix.amountWithoutTax']} EL" rendered="#{appProvider.entreprise}" />
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.amountWithTaxEL}" rendered="#{!appProvider.entreprise}" />
                    <h:outputText value="#{entity.amountWithoutTaxEL}" rendered="#{appProvider.entreprise}" />
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.amountWithTaxEL}" size="20" maxlength="2000" rendered="#{!appProvider.entreprise}" />
                    <p:inputText value="#{entity.amountWithoutTaxEL}" size="20" maxlength="2000" rendered="#{appProvider.entreprise}" />
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[9]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(9)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.ratingDate']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.startRatingDate}">
                        <f:convertDateTime
                                pattern="#{paramBean.dateFormat}"/>
                    </h:outputText>
                    <h:outputText value=" - "
                                  rendered="#{not empty entity.startRatingDate or not empty entity.endRatingDate}"/>
                    <h:outputText value="#{entity.endRatingDate}">
                        <f:convertDateTime
                                pattern="#{paramBean.dateFormat}"/>
                    </h:outputText>
                </f:facet>
                <f:facet name="input">
                    <p:calendar value="#{entity.startRatingDate}"
                                pattern="#{paramBean.dateFormat}"
                                size="10" showOn="button"/>
                    <h:outputText value=" - "/>
                    <p:calendar value="#{entity.endRatingDate}"
                                pattern="#{paramBean.dateFormat}"
                                size="10" showOn="button"/>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[10]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(10)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.criteriaEL']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.criteriaEL}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.criteriaEL}" size="20"
                                 maxlength="2000"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[11]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(11)}">
            <f:facet name="header">
                <h:outputText value="#{messages['tradingCountry.tradingCountry']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.tradingCountry.countryCode}"/>
                </f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{entity.tradingCountry}" style="width:75%">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{tradingCountryBean.listAll()}" var="item"
                                       itemLabel="#{item.countryCode}" itemValue="#{item}"/>
                        <hftl:objectConverter/>
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[12]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(12)}">
            <f:facet name="header">
                <h:outputText value="#{messages['currency.codeCurrency']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.tradingCurrency.currencyCode}"/>
                </f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{entity.tradingCurrency}" style="width:75%">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{tradingCurrencyBean.listAll()}" var="item"
                                       itemLabel="#{item.currencyCode}" itemValue="#{item}"/>
                        <hftl:objectConverter/>
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[13]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(13)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.criteria1Value']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.criteria1Value}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.criteria1Value}" size="20"
                                 maxlength="255"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[14]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(14)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.criteria2Value']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.criteria2Value}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.criteria2Value}" size="20"
                                 maxlength="255"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[15]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(15)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.criteria3Value']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.criteria3Value}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.criteria3Value}" size="20"
                                 maxlength="255"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[16]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(16)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.priority']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.priority}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.priority}" size="6"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[17]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(17)}">
            <f:facet name="header">
                <h:outputText value="#{messages['pricePlanMatrix.quantity']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.minQuantity}" converter="bigDecimal4DigitsConverter"/>
                    <h:outputText value=" - "/>
                    <h:outputText value="#{entity.maxQuantity}" converter="bigDecimal4DigitsConverter"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.minQuantity}" size="6" converter="bigDecimal4DigitsConverter"/>
                    <h:outputText value=" - "/>
                    <p:inputText value="#{entity.maxQuantity}" size="6" converter="bigDecimal4DigitsConverter"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[18]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(18)}">
            <f:facet name="header">
                <h:outputText
                        value="#{messages['pricePlanMatrix.subscriptionDate']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.startSubscriptionDate}">
                        <f:convertDateTime
                                pattern="#{paramBean.dateFormat}"/>
                    </h:outputText>
                    <h:outputText value=" - "/>
                    <h:outputText value="#{entity.endSubscriptionDate}">
                        <f:convertDateTime
                                pattern="#{paramBean.dateFormat}"/>
                    </h:outputText>
                </f:facet>
                <f:facet name="input">
                    <p:calendar value="#{entity.startSubscriptionDate}"
                                pattern="#{paramBean.dateFormat}"
                                size="10" showOn="button"/>
                    <h:outputText value=" - "/>
                    <p:calendar value="#{entity.endSubscriptionDate}"
                                pattern="#{paramBean.dateFormat}"
                                size="10" showOn="button"/>
                </f:facet>
            </p:cellEditor>
        </p:column>

        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[19]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(19)}">
            <f:facet name="header">
                <h:outputText
                        value="#{messages['pricePlanMatrix.subscriptionAgeInMonth']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.minSubscriptionAgeInMonth} - "/>
                    <h:outputText value="#{entity.maxSubscriptionAgeInMonth}"/>
                </f:facet>
                <f:facet name="input">
                    <p:inputText value="#{entity.minSubscriptionAgeInMonth}" size="4" maxlength="4"/>
                    <h:outputText value=" - "/>
                    <p:inputText value="#{entity.maxSubscriptionAgeInMonth}" size="4" maxlength="4"/>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column exportable="true" visible="#{pricePlanMatrixColumnSelectorBean.columnVisibilitylist[20]}"
                  width="#{pricePlanMatrixColumnSelectorBean.getColumnWidth(20)}">
            <f:facet name="header">
                <h:outputText
                        value="#{messages['pricePlanMatrix.validityCalendar']}"/>
            </f:facet>
            <p:cellEditor>
                <f:facet name="output">
                    <h:outputText value="#{entity.validityCalendar.code}"/>
                </f:facet>
                <f:facet name="input">
                    <h:selectOneMenu value="#{entity.validityCalendar}" style="width:75%">
                        <f:selectItem itemLabel="" itemValue=""/>
                        <f:selectItems value="#{calendarBean.listAll()}" var="item"
                                       itemLabel="#{item.code}" itemValue="#{item}"/>
                        <hftl:objectConverter/>
                    </h:selectOneMenu>
                </f:facet>
            </p:cellEditor>
        </p:column>
        <p:column width="75">
            <f:facet name="header">
                <h:outputText value="#{messages['commons.actions']}"/>
            </f:facet>
            <p:button outcome="pricePlanMatrixDetail" icon="ui-icon-document">
                <f:param name="objectId" value="#{entity.id}"/>
                <f:param name="edit" value="true"/>
                <f:param name="chargeId" value="#{chargeTemplateBean.entity.id}"/>
                <f:param name="cid"
                         value="#{javax.enterprise.context.conversation.id}"/>
            </p:button>
            <p:commandButton update="@form" icon="ui-icon-trash"
                             action="#{pricePlanMatrixBean.delete(entity.id)}"
                             rendered="#{pricePlanMatrixBean.canUserDeleteEntity()}">
                <p:confirm header="#{messages['commons.confirmationHeader']}"
                           message="#{messages['commons.confirmDelete']}" icon="ui-icon-alert"/>
            </p:commandButton>
        </p:column>
    </p:dataTable>
    <p:button id="buttonNew" outcome="pricePlanMatrixDetail"
              value="#{messages['commons.new']}"
              rendered="#{pricePlanMatrixBean.canUserUpdateEntity()}">
        <f:param name="cid" value="#{javax.enterprise.context.conversation.id}"/>
        <f:param name="edit" value="true"/>
        <f:param name="chargeId" value="#{chargeTemplateBean.entity.id}"/>
    </p:button>
</ui:composition>
