<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.org/seam/faces" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
    template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{scriptInstanceListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
            <h:form id="crumbmenuForm">
                <p:breadCrumb homeDisplay="text" id="crumbmenu">
                    <p:menuitem value="#{messages['menu.admin']}" disabled="true" />
                    <p:menuitem outcome="scriptInstances" value="#{messages['menu.scriptInstances']}" />
                </p:breadCrumb>
            </h:form>
        <hftl:searchPanel columns="3" label="#{messages['scriptInstance.search']}" backingBean="#{scriptInstanceListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['scriptInstance.title']}" backingBean="#{scriptInstanceListBean}" sortBy="code">
            <p:column headerText="#{messages['businessEntity.code']}">
                <h:link outcome="scriptInstanceDetail" value="#{entity.code}" disabled="#{!scriptInstanceListBean.isUserHasSourcingRole(entity)}">
                    <f:param name="objectId" value="#{entity.id}" />
                    <f:param name="edit" value="true" />
                    <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                </h:link>
            </p:column>
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['scriptInstanceCategory']}" field="scriptInstanceCategory.code" />
            <hftl:column label="#{messages['scriptInstance.error']}" field="error" isMessage="true" width="10%"/>
            <p:column headerText="#{messages['enableEntity.active']}" width="10%">
                <h:outputText value="#{messages['commons.yes']}" rendered="#{entity.active != null and entity.active.toString() == 'true'}" />
                <h:outputText value="#{messages['commons.no']}" rendered="#{entity.active != null and entity.active.toString() == 'false'}" />
            </p:column>
            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
