<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<cc:interface componentType="formField">
	<cc:attribute name="model" />
</cc:interface>

<cc:implementation>
	<ui:fragment>
				<p:chart type="bar"
					model="#{cc.attrs.model.model}"
					style="#{cc.attrs.model.chart.style}"
					barPadding="#{cc.attrs.model.chart.barPadding}"
					barMargin="#{cc.attrs.model.chart.barMargin}"
					styleClass="#{cc.attrs.model.chart.styleClass}" 
					responsive="true"/>
	</ui:fragment>

</cc:implementation>

</html>
