<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<!--
    Makes part of "happy faces" component group.
    A custom component to display a "cancel" button inside a form
    
 
    Attributes
        edit - edit or view mode
        label - button label
        resetAction - an ajax method to execute
        
-->        

<cc:interface>
	<cc:attribute name="label" required="true" />
	<cc:attribute name="edit" required="false" default="true" />
	<cc:attribute name="resetAction" required="true"
		method-signature="void reset()" />
</cc:interface>

<cc:implementation>

	<p:commandButton id="resetButton" value="#{cc.attrs.label}" process="@this"
		rendered="#{cc.attrs.edit}" update="@form"
		action="#{cc.attrs.resetAction}">
		<f:actionListener
			type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
		<f:param name="edit" value="true" rendered="#{cc.attrs.edit}" />
	</p:commandButton>

</cc:implementation>

</html>
