.no-padding {
    padding: 0;
}

.clear-top {
    margin-top: 20px;
}

.list-inline {
    margin-bottom: 0;
}

.login-pf body {
    background: #ffffff;
    color: #000000;
    height: 100%;
}

.btn-primary {
    background-color: rgb(196, 196, 196);
    background-image: none;
    border-color: rgb(168, 168, 168);
    color: #000;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #2f2f2f;
    color: #fff;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333 !important;
    text-align: left;
}

.alert-success {
    color: #333333 !important;
    text-align: left;
}

#kc-locale {
    position: absolute;
    width: 200px;
    top: 10px;
    right: 30px;
    text-align: right;
    z-index: 9999;
    color: #fff;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #264676;
    list-style: none;
    top: 30px;
    width: 200px;
    padding: 2px;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 1px 11px;
    text-decoration: none;
    display: block;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #fff;
    background-color: #2879b1;
}

#kc-locale-dropdown a {
    color: #fff;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #fff;
    width: 200px;
}

a#kc-current-locale-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

a#kc-current-locale-link::after {
    content: "\25BC";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
    color: #000;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url("../img/opencell-logo.png");
    background-repeat: no-repeat;
    background-color: #264676;
    background-position-x: 15px;
    background-position-y: 10px;
    height: 50px;
    width: 100%;
}

div.kc-logo-text {
    background-image: url("../img/keycloak-logo-text.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #fff;
    overflow: visible;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
    display: none;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}


/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

#kc-totp-secret-qr-code {
    max-width: 150px;
    max-height: 150px;
}


/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}


/* Code */

#kc-code textarea {
    width: 100%;
    height: 8em;
}


/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
    margin-top: 5px;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial {
    width: 150px;
}

.zocial:hover {
    color: #fff !important;
}

.zocial.oidc {
    background-image: none;
    background-color: rgb(196, 196, 196);
    color: #000;
    font-size: 12px;
    text-shadow: none;
    border-radius: none;
}

.zocial.oidc:hover {
    color: #fff !important;
    background-color: #2f2f2f;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
}

.zocial.google {
    background-color: #dd4b39 !important;
}

.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.microsoft:hover,
.zocial.stackoverflow:hover,
.zocial.linkedin:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
}


/* Copy of zocial windows classes to be used for microsoft's social provider button */

.zocial.microsoft {
    background-color: #0052a4;
    color: #fff;
}

.zocial.microsoft:before {
    content: "\f15d";
}

footer {
    background-color: #264676;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    height: 85px;
}

footer .footer-links {
    padding-top: 8px;
    color: #fff;
}

footer .footer-links a {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    color: #b5b8bc;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

footer a:hover {
    color: #fff !important;
    text-decoration: none;
}

footer .footer-icons i {
    line-height: 35px;
}

footer .footer-copyright {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

footer .footer-icons {
    margin-top: 0px;
}

footer .footer-icons li {
    padding-right: 0;
}

footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #1A3A6A;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

footer row {
    margin-left: 0px;
}

#kc-container {
    background-repeat: no-repeat;
    background-color: #fff;
    min-height: 100%;
    position: relative;
}

#kc-content-wrapper {
    padding: 10px 0;
}

#kc-content-wrapper h1 {
    padding-left: 20px;
}

@media (min-width: 768px) {
    #kc-content {
        padding-bottom: 85px;
    }
    #kc-content-wrapper {
        width: 40%;
        position: absolute;
        top: 35%;
        right: 0;
    }
    .login-pf .container {
        position: absolute;
        width: 500px;
        right: 0px;
        text-align: right;
        padding-left: 0px;
    }
    #kc-form {
        float: none;
        width: 100%;
    }
    #kc-info {
        width: 100%;
    }
    .login-pf .container .details {
        border-left: none;
    }
    #kc-social-providers li {
        display: inline-block;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    #kc-header {
        float: none;
        text-align: center;
    }
    #kc-form {
        float: none;
    }
    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
    }
    #kc-social-providers li {
        display: inline-block;
        margin-right: 5px;
    }
    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-height: 646px) {
    .login-pf .container {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    .login-pf .container {
        padding-top: 50px;
        top: 20%;
    }
}

.login-body {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border: none;
    margin: 0;
}

#login-sidebox {
    background: #002050;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: calc(100vh - 30px);
}

#kc-content .login-form,
#kc-content .ui-widget-content {
    padding: 0;
    border: none;
}

#kc-content .login-form {
    overflow: hidden;
}

#kc-content label {
    display: block;
}

#kc-content input[type="text"],
#kc-content input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

@media (min-device-width: 320px) and (max-device-width: 767px) {
    .login-body {
        flex-direction: column;
    }
    #login-sidebox {
        width: 100%;
        height: 35vh;
    }
    #kc-content {
        width: 100%;
        padding-bottom: 110px;
    }
    footer {
        height: 110px;
    }
}
                
@media (min-width: 992px) {
     .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: none; 
    }
}
