html {
    overflow: hidden;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    overscroll-behavior-y: none;
    font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.no-padding {
    padding: 0;
}

.clear-top {
    margin-top: 20px;
}

.list-inline {
    margin-bottom: 0;
}

.login-pf body {
    background: #ffffff;
    color: #000000;
    height: 100%;
}

.btn-primary {
    background-color: rgb(196, 196, 196);
    background-image: none;
    border-color: rgb(168, 168, 168);
    color: #000;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #2f2f2f;
    color: #fff;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333 !important;
    text-align: left;
}

.alert-success {
    color: #333333 !important;
    text-align: left;
}

#kc-locale {
    position: absolute;
    width: 200px;
    top: 10px;
    right: 30px;
    text-align: right;
    z-index: 9999;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #ffff;
    list-style: none;
    top: 30px;
    width: 200px;
    padding: 2px;
    border-radius: 0 0 4px 4px;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 1px 11px;
    text-decoration: none;
    display: block;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #fff;
    background-color: #f02727;
}

#kc-locale-dropdown a {
    color: #080808;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
    width: 200px;
}

a#kc-current-locale-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

a#kc-current-locale-link::after {
    content: '\25BC';
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
    color: #000;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url('../img/opencell.svg');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position-y: 15px;
    height: 50px;
    width: 160px;
    margin-left: 20px;
}

div.kc-logo-text {
    background-image: url('../img/keycloak-logo-text.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #fff;
    overflow: visible;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
    display: none;
}

#kc-info-wrapper {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
}

#kc-form-options span {
    display: block;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

#kc-totp-secret-qr-code {
    max-width: 150px;
    max-height: 150px;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */

#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
    margin-top: 5px;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial {
    width: 150px;
}

.zocial:hover {
    color: #fff !important;
}

.zocial.oidc,
.keycloak-oidc {
    background-image: none !important;
    background-color: rgb(153, 26, 18) !important;
    font-family: inherit  !important;
    color: #fff !important;
    font-size: 0.875rem  !important;
    text-shadow: none  !important;
    border-radius: none  !important;
}


#kc-social-providers li a::before {
    position: absolute;
    left: 0;
 }
 
.zocial.oidc:before,
.keycloak-oidc:before {
    content: url("../img/opencell_icon.ico");
}

.zocial.oidc:hover,
.keycloak-oidc:hover {
    color: #fff;
    background-color:rgb(131, 16, 9) !important
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-shadow: none;
    text-shadow: none;
}


.zocial.google {
    background-color: #dd4b39 !important;
}

.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.microsoft:hover,
.zocial.stackoverflow:hover,
.zocial.linkedin:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
    ) !important;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */

.zocial.microsoft {
    background-color: #0052a4;
    color: #fff;
}

.zocial.microsoft:before {
    content: '\f15d';
}

footer {
    background-color: #fafafa;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    margin-top: auto;
}

footer .footer-links {
    padding: 16px 0 0;
}

footer .footer-links a {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

footer .footer-links a:hover {
    color: #110b0b !important;
    text-decoration: none;
}

footer .footer-icons i {
    line-height: 35px;
}

footer .footer-icons a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

footer .footer-copyright {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

footer .footer-icons {
    padding: 16px 0px;
}

footer .footer-icons li {
    padding-right: 0;
}

footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #eb5048;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

footer row {
    margin-left: 0px;
}

#kc-container {
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}

#kc-content {
    background-color: #2a2a2a;      
    background-image: url('../img/splash.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#kc-content-wrapper {
    height: 1px;
    display: flex;
    height: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}

#kc-content-wrapper h1 {
    padding-left: 20px;
}

#kc-form-header {
    margin: 1em;
    display: flex;
    justify-content: center;
}

#kc-lock-wrapper {
    background-color: #bdbdbd;
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    user-select: none;
}

#kc-lock-icon {
    width: 1em;
    height: 1em;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
}

#kc-form-main {
    min-width: 300px;
    max-width: 300px;
    margin-top: 6em;
    overflow: hidden;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    overflow: visible;
    margin-bottom: 64px;
}

#kc-info-message,
#kc-error-message {
    padding: 0 1rem;
}

#kc-passwd-update-form,
#kc-form-login,
#kc-social-providers,
#kc-reset-password-form,
#kc-register-form,
#kc- {
    padding: 0 1rem 1em 1rem;
}

#logo-wrapper {
    top: 3em;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    position: absolute;
}

.login-extras {
    font-size: 13px;
}

.form-details {
    padding: 0 1rem 8px;
}

.form-group {
    margin-top: 1em;
    margin-bottom: 0;
}

.form-control-root {
    margin: 8px 0 4px 0;
    border: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    width: 100%;
}

.control-label {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 21px) scale(1);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

label + .form-input-root {
    margin-top: 16px;
}

.form-input:focus {
    background: white;
}

.form-input-root {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    line-height: 1.1875em;
}

.form-input-root:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

.form-input-root:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #303f9f;
    pointer-events: none;
}

.form-input {
    height: 1.1875em;
    font: inherit;
    color: currentColor;
    border: 0;
    margin: 0;
    padding: 3px 0 7px;
    display: block;
    min-width: 0;
    flex-grow: 1;
    box-sizing: content-box;
    background: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.form-input:focus {
    outline: 0;
}

.form-input:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}

.kc-form-buttons {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.form-submit-button,
.zocial, a.zocial {
    width: 100%;
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.4em;
    border-radius: 4px;
    text-transform: uppercase;

    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);

    color: #fff;
    background-color: #3f51b5;
}

.form-submit-button:hover {
    background-color: #303f9f;
    text-decoration: none;
}

.login-body {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    border: none;
    margin: 0;
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: none;
    }
}

#kc-passwd-update-form input[type="submit"] {
    width: 100%;
    color: inherit;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    -moz-appearance: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    line-height: 1.4em;
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    color: #fff;
    background-color: #3f51b5;
}

#kc-passwd-update-form .form-group,
#kc-passwd-update-form .form-group label {
    position: relative;
}

#kc-passwd-update-form .form-group>div:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    pointer-events: none;
}


#kc-passwd-update-form .form-group #kc-form-options:before,
#kc-passwd-update-form .form-group #kc-form-buttons:before {
    content: none;
}

.alert.alert-error,
.alert.alert-warning {
    padding-left: 1rem;
}