<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{oneShotChargeTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="oneShotChargeTemplates"
					value="#{messages['menu.oneShotChargeTemplates']}" />
			</p:breadCrumb>
		</h:form>
		<hftl:searchPanel label="#{messages['oneShotChargeTemplate.search']}"
			backingBean="#{oneShotChargeTemplateListBean}">
			<hftl:searchField label="#{messages['chargeTemplate.code']}"
				field="code" />
			<hftl:searchField label="#{messages['chargeTemplate.description']}"
				id="description" field="description" />
			<!-- <hftl:searchField label="#{messages['chargeTemplate.amountEditable']}" field="amountEditable" /> -->
			<hftl:searchField label="#{messages['chargeTemplate.type']}"
				field="oneShotChargeTemplateType" childField="label" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}"
				field="disabled" />

		</hftl:searchPanel>

		<hftl:dataList label="#{messages['oneShotChargeTemplate.title']}"
			noClose="false" sortBy="code"
			backingBean="#{oneShotChargeTemplateListBean}">
			<hftl:column label="#{messages['chargeTemplate.code']}" field="code" />
			<hftl:column label="#{messages['chargeTemplate.description']}"
				field="description" />
			<hftl:column label="#{messages['chargeTemplate.amountEditable']}"
				field="amountEditable" isMessage="true" />
			<hftl:column label="#{messages['chargeTemplate.type']}"
				field="oneShotChargeTemplateType.label" isMessage="true" />
			<hftl:column label="#{messages['charge.subCategory']}"
				field="invoiceSubCategory.code" valueIdField="invoiceSubCategory.id"
				entityView="invoiceSubCategoryDetail" propagateConversation="false"
				backView="invoiceCategories" />
			<hftl:column label="#{messages['menu.triggeredEdrTemplates']}"
				field="edrTemplates" valueLabelField="code" valueIdField="id"
				isList="true" entityView="triggeredEdrTemplateDetail" />
			<hftl:column label="#{messages['menu.status']}"
				field="status" valueLabelField="code" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="disabled" isDisabledMessage="true" />
			<hftl:column
				label="#{messages['oneShotChargeTemplate.immediateInvoicing']}"
				field="immediateInvoicing" isMessage="true" />

			<hftl:actionsColumn renderEnableLink="true"
				renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
