<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui"
    template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView"
                listener="#{offerTemplateListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">


        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.catalog']}" disabled="true" styleClass="no-text-decoration" />
                <p:menuitem value="#{messages['menu.offers']}" outcome="offerTemplates" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel backingBean="#{offerTemplateListBean}">
            <hftl:searchField label="#{messages['offerTemplate.code']}"
                field="code" />
            <hftl:searchField label="#{messages['offerTemplate.description']}"
                field="description" />
            <hftl:searchField label="#{messages['offerTemplate.name']}"
                field="name" />
            <hftl:searchField label="#{messages['commons.status']}"
                field="status" />
            <hftl:searchField label="#{messages['offerTemplate.template']}"
                field="bomCode" valueLabelField="name"
                listElements="#{offerTemplateBean.listAll()}" valueField="code" />
            <hftl:searchField label="#{messages['offerTemplate.category']}"
                field="offerTemplateCategory" valueLabelField="descriptionOrCode"
                listBean="#{offerTemplateCategoryListBean}" />
            <hftl:searchField label="#{messages['commons.validFrom']}"
                field="validity.from" rangeSearch="true"/>
            <hftl:searchField label="#{messages['commons.validTo']}"
                field="validity.to" rangeSearch="true"/>    
            <hftl:searchField label="#{messages['enableEntity.disabled']}"
                field="disabled" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['offerTemplate.title']}"
            noClose="false" backingBean="#{offerTemplateListBean}">
            <hftl:column label="#{messages['offerTemplate.code']}" field="code" />
            <hftl:column label="#{messages['offerTemplate.description']}"
                field="description" />
            <hftl:column label="#{messages['offerTemplate.name']}" field="name" />
            <hftl:column label="#{messages['commons.validFrom']}" field="validity.from" isDate="true"/>
            <hftl:column label="#{messages['commons.validTo']}" field="validity.to" isDate="true"/>
            <hftl:column label="#{messages['offerTemplate.serviceTemplates']}"
                field="offerServiceTemplates" isList="true"
                valueLabelField="serviceTemplate.code"
                valueIdField="serviceTemplate.id" entityView="serviceTemplateDetail" backView="offerTemplates" />
            <hftl:column label="#{messages['menu.productTemplates']}"
                field="offerProductTemplates" isList="true"
                valueLabelField="productTemplate.code"
                valueIdField="productTemplate.id" entityView="productTemplateDetail" backView="offerTemplates" />
            <hftl:column label="#{messages['menu.discountPlans']}"
                         field="allowedDiscountPlans" isList="true"
                         valueLabelField="code"
                         valueIdField="id" entityView="discountPlanDetail" backView="offerTemplates" />
            <hftl:column label="#{messages['businessOffer.title']}"
                field="businessOfferModel.code" />
            <hftl:column label="#{messages['enableEntity.active']}"
                field="active" isMessage="true" />
            <hftl:actionsColumn
                renderEnableLink="#{offerTemplateListBean.canUserUpdateEntity()}" 
                renderDuplicateLink="true" width="10%">

                <p:button id="newVersionLink" outcome="#{offerTemplateListBean.editViewName}" icon="ui-icon-copy">
                    <f:param name="objectId" value="#{entity.id}" />
                    <f:param name="edit" value="true" />
                    <f:param name="newVersion" value="true" />
                    <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                </p:button>
            </hftl:actionsColumn>
        </hftl:dataList>

    </ui:define>

</ui:composition>