<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:s="http://jboss.org/seam/faces" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions" xmlns:hftl="http://hftl.org">

<ui:composition>

    <c:set var="mainBackingBean" value="#{backingBean}" />
    <c:set var="mainFormId" value="#{formId}" />

    <hftl:entityPopup id="searchProductTemplatePopup" header="#{messages['productTemplate.title']}"
        updateField="${mainFormId}:tabView:productTemplateCode ${mainFormId}:tabView:productTemplateCode_text" selection="#{mainBackingBean.offerProductTemplate.productTemplate}"
        backingBean="#{productTemplateBean}" width="1000" searchField1Label="#{messages['businessEntity.code']}" searchField1="code" searchField2Label="#{messages['businessEntity.description']}"
        searchField2="description" searchField3Label="#{messages['commons.validFrom']}" searchField3="validity.from" searchField4Label="#{messages['commons.validTo']}" searchField4="validity.to"
        column1Label="#{messages['businessEntity.code']}" column1="code" column2Label="#{messages['businessEntity.description']}" column2="description" column3Label="#{messages['commons.validFrom']}"
        column3="validity" column3Child="from" column4Label="#{messages['commons.validTo']}" column4="validity" column4Child="to" />

    <p:dataTable id="offerProducts" var="entity" value="#{mainBackingBean.entity.offerProductTemplates}" rows="20" lazy="false" styleClass="custom-grid" rowIndexVar="rowIndex" resizableColumns="true"
        paginator="true" rowsPerPageTemplate="10,15,20,50" reflow="true" paginatorAlwaysVisible="false"
        paginatorTemplate="${prePaginatorControls} {RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}">

        <hftl:column label="#{messages['productTemplate.title']}" field="productTemplate.code" entityView="productTemplateDetail" valueIdField="productTemplate.id" />
        <hftl:column label="#{messages['offerServiceTemplate.mandatory']}" field="mandatory" isMessage="true" />
        <hftl:column label="#{messages['commons.validFrom']}" field="productTemplate.validity.from" isDate="true" />
        <hftl:column label="#{messages['commons.validTo']}" field="productTemplate.validity.to" isDate="true" />

        <p:column styleClass="actions-column" rendered="#{mainBackingBean.edit}">
            <f:facet name="header">
                <h:outputText value="#{messages['commons.actions']}" />
            </f:facet>
            <p:commandButton update="#{mainFormId}:messages #{mainFormId}:tabView:offerProductMessages #{mainFormId}:tabView:offerProductDetails"
                action="#{mainBackingBean.editOfferProductTemplate(entity)}" icon="ui-icon-document" process="@this" />
            <p:commandButton action="#{mainBackingBean.deleteOfferProductTemplate(entity)}" rendered="#{mainBackingBean.edit and mainBackingBean.canUserDeleteEntity()}" icon="ui-icon-trash"
                update="#{mainFormId}:messages #{mainFormId}:tabView:offerProductMessages #{mainFormId}:tabView:offerProductDetails #{mainFormId}:tabView:offerProducts" process="@this" />
        </p:column>
        <f:facet name="footer">
            <p:commandButton value="#{messages['commons.addNew']}" action="#{offerTemplateBean.newOfferProductTemplate()}"
                update="#{mainFormId}:messages #{mainFormId}:tabView:offerProductMessages #{mainFormId}:tabView:offerProductDetails" rendered="#{mainBackingBean.edit}" process="@this" />
        </f:facet>
    </p:dataTable>



    <p:messages id="offerProductMessages" redisplay="false" />

    <h:panelGroup id="offerProductDetails">

        <p:separator rendered="#{mainBackingBean.offerProductTemplate!=null}" />

        <p:panel header="#{messages['offerTemplate.productTemplate']}" rendered="#{mainBackingBean.offerProductTemplate!=null}">

            <p:outputPanel styleClass="form-panel-fields #{edit?'':' form-panel-fields-view'}">

                <hftl:formField entity="#{mainBackingBean.offerProductTemplate}" label="#{messages['productTemplate.title']}" id="productTemplateCode" field="productTemplate"
                    valueLabelField="code" popup="true" popupId="searchProductTemplatePopup" required="true"
                    disabled="#{!mainBackingBean.offerProductTemplate.transient}" />
                <hftl:formField entity="#{mainBackingBean.offerProductTemplate}" label="#{messages['offerServiceTemplate.mandatory']}" id="mandatoryProduct" field="mandatory" />

                <h:panelGroup layout="block" styleClass="form-panel-actions">
                    <p:commandButton value="#{messages[mainBackingBean.offerProductTemplate.id==null?'action.addSave':'action.update']}"
                        action="#{mainBackingBean.saveOfferProductTemplate()}"
                        update="offerProductMessages ${mainFormId}:tabView:offerProducts ${mainFormId}:tabView:offerProductDetails"
                        rendered="#{mainBackingBean.edit and mainBackingBean.canUserUpdateEntity()}" process="offerProductDetails" />

                    <p:commandButton value="#{messages['action.cancel']}" action="#{mainBackingBean.cancelOfferProductTemplateEdit}"
                        update="offerProductMessages ${mainFormId}:tabView:offerProducts ${mainFormId}:tabView:offerProductDetails" rendered="#{mainBackingBean.edit}"
                        process="@this" />
                </h:panelGroup>
            </p:outputPanel>

        </p:panel>
    </h:panelGroup>
</ui:composition>
</html>