<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:p="http://primefaces.org/ui"
    template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{businessAccountModelListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.customers']}" disabled="true" />
				<p:menuitem outcome="businessAccountModels" value="#{messages['menu.businessAccountModels']}" />
			</p:breadCrumb>
		</h:form> 
        <hftl:searchPanel label="#{messages['businessAccountModel.search']}" backingBean="#{businessAccountModelListBean}" columns="1">
            <hftl:searchField label="#{messages['BusinessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['BusinessEntity.description']}" field="description" size="100" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['businessAccountModel.title']}" backingBean="#{businessAccountModelListBean}" sortBy="code">
            <hftl:column label="#{messages['BusinessEntity.code']}" field="code" useCustomIdParam="true"/>
            <hftl:column label="#{messages['BusinessEntity.description']}" field="description" />
            <hftl:column label="#{messages['businessAccountModel.type']}" field="hierarchyType" />
            <p:column headerText="#{messages['commons.status']}">
                <h:outputText value="#{messages[!entity.installed?'meveoModule.downloaded':entity.active?'meveoModule.installedAndEnabled':'meveoModule.installedAndDisabled']}"
                    rendered="#{entity.downloaded}" />
                <h:outputText value="#{messages[entity.active?'enableEntity.active':'enableEntity.disabled']}" rendered="#{!entity.downloaded}" />
            </p:column>
            <hftl:actionsColumn useCustomIdParam="true" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
