<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{customerAccountListBean.preRenderView}" />
            <f:viewParam name="parentObjectId" value="#{customerAccountListBean.parentEntityId}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.customers']}" disabled="true" />
                <p:menuitem outcome="customerAccounts" value="#{messages['menu.customerAccounts']}" />
            </p:breadCrumb>
        </h:form>
        <!-- Entity select popup. -->
        <hftl:entityPopup id="searchCustomerPopup" header="#{messages['customer.popup.header']}" backingBean="#{customerBean}" searchField1Label="#{messages['customer.code']}"
            searchField1="code" column1Label="#{messages['customer.code']}" column1="code" searchField2="description" column2Label="#{messages['businessEntity.description']}"
            column2="description" selection="#{customerAccountListBean.filters['customer']}" updateField=":searchForm:customer">
        </hftl:entityPopup>

        <hftl:searchPanel label="#{messages['customerAccount.search']}" backingBean="#{customerAccountListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" field="description" />
            <hftl:searchField id="customer" label="#{messages['customerAccount.customer']}" field="customer" valueLabelField="code" popup="true" popupId="searchCustomerPopup" />
            <hftl:searchField label="#{messages['customerAccount.name']}" field="name" />
            <hftl:searchField label="#{messages['customerAccount.status']}" field="status" />
            <hftl:searchField label="#{messages['customerAccount.creditCategory']}" field="creditCategory.code" />
        </hftl:searchPanel>

        <hftl:dataList backingBean="#{customerAccountListBean}" sortBy="code">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" useCustomIdParam="true" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['customerAccount.title']}" field="name.title.description"  />
            <hftl:column label="#{messages['customerAccount.firstName']}" field="name.firstName" titleWithMessage="true" />
            <hftl:column label="#{messages['customerAccount.lastName']}" field="name.lastName" titleWithMessage="true" />
            <hftl:column label="#{messages['customerAccount.customer']}" field="customer.code" valueIdField="customer.id" propagateConversation="false" entityView="customerDetail"
                objectIdParamName="customerId" />
            <hftl:column label="#{messages['customerAccount.creditCategory']}" sortField="creditCategory" field="creditCategory.code" />
            <hftl:column label="#{messages['tradingCountry.languageCode']}" field="tradingLanguage.language.languageCode" />
            <hftl:column label="#{messages['currency.codeCurrency']}" field="tradingCurrency.currency.currencyCode" />
            <hftl:column label="#{messages['customerAccount.status']}" sortField="status" field="status.label" isMessage="true" />

            <hftl:actionsColumn useCustomIdParam="true" permission="#{persistentPermissionResolver.hasPermission('account','accountManagement')}" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
