<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{emailTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="emailTemplates"
					value="#{messages['menu.emailTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel backingBean="#{emailTemplateListBean}"
			label="#{messages['emailTemplate.search']}">
			<hftl:searchField label="#{messages['emailTemplate.subject']}"
				field="subject" size="80" />
		</hftl:searchPanel>    
		           
		<hftl:dataList backingBean="#{emailTemplateListBean}" sortBy="subject">
			<hftl:column label="#{messages['emailTemplate.subject']}"
				field="subject" entityView="emailTemplateDetail" valueIdField="id" />
			<hftl:actionsColumn />           
		</hftl:dataList>                    
                
    </ui:define>
    
</ui:composition>