<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.org/seam/faces" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" 
    template="/layout/template.xhtml"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{meveoInstanceListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
				<p:menuitem outcome="meveoInstances" value="#{messages['menu.meveoInstance']}" />
			</p:breadCrumb>
		</h:form>   
        <hftl:searchPanel columns="3" label="#{messages['meveoInstance.search']}" backingBean="#{meveoInstanceListBean}">

            <hftl:searchField label="#{messages['meveoInstance.code']}" field="code" />
            <hftl:searchField label="#{messages['meveoInstance.description']}" id="description" field="description" />
<!--             <hftl:searchField label="#{messages['meveoInstance.productVersion']}" field="productVersion" /> -->
<!--             <hftl:searchField label="#{messages['meveoInstance.owner']}" field="owner" /> -->
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['meveoInstance.title']}" backingBean="#{meveoInstanceListBean}" sortBy="code">
            <hftl:column label="#{messages['meveoInstance.code']}" field="code" />
            <hftl:column label="#{messages['meveoInstance.description']}" field="description" />
            <!-- 			<hftl:column label="#{messages['meveoInstance.productVersion']}" field="productVersion" /> -->
            <!-- 			<hftl:column label="#{messages['meveoInstance.owner']}" field="owner" /> -->
            <!-- 			<hftl:column label="#{messages['meveoInstance.status']}" field="status" /> -->

            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
