<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{terminationReasonBean.objectId}" />
        </f:metadata>
    </ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="terminationReasons"
					value="#{messages['menu.terminationReason']}" />
				<p:menuitem value="#{messages['commons.new']} #{messages['terminationReason']}"
					disabled="true" rendered="#{terminationReasonBean.entity.transient}" />
				<p:menuitem
					value="#{messages['terminationReason']} - #{terminationReasonBean.entity.code}"
					disabled="true" rendered="#{!terminationReasonBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:formPanel label="#{messages['terminationReason.title']}"
						backingBean="#{terminationReasonBean}" columns="3">
			<hftl:formField label="#{messages['BusinessEntity.code']}" field="code"
							required="true"/>
			<hftl:formField label="#{messages['BusinessEntity.description']}"
							field="description"/>
			<hftl:formField label="#{messages['terminationReason.overrideProrata']}"
							field="overrideProrata"/>
			<hftl:formField label="#{messages['terminationReason.applyAgreement']}"
							field="applyAgreement" newLine="true"/>
			<hftl:formField label="#{messages['terminationReason.invoiceAgreementImmediately']}"
							field="invoiceAgreementImmediately" />
			<hftl:formField
					label="#{messages['terminationReason.applyReimbursment']}"
					field="applyReimbursment"/>
			<hftl:formField
					label="#{messages['terminationReason.applyTerminationCharges']}"
					field="applyTerminationCharges"/>
			<hftl:formField
					label="#{messages['terminationReason.reimburseOneshots']}"
					field="reimburseOneshots"/>
		</hftl:formPanel>

	</ui:define>

</ui:composition>
