<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.org/seam/faces"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{terminationReasonListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="terminationReasons"
					value="#{messages['menu.terminationReason']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel columns="3"
			label="#{messages['terminationReason.search']}"
			backingBean="#{terminationReasonListBean}">

			<hftl:searchField label="#{messages['BusinessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['BusinessEntity.description']}"
				field="description" />

		</hftl:searchPanel>

		<hftl:dataList label="#{messages['terminationReason.title']}"
			backingBean="#{terminationReasonListBean}">
			<hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:column label="#{messages['BusinessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['terminationReason.applyAgreement']}"
				field="applyAgreement" />
			<hftl:column label="#{messages['terminationReason.applyReimbursment']}"
				field="applyReimbursment" />
			<hftl:column label="#{messages['terminationReason.applyTerminationCharges']}"
						 field="applyTerminationCharges"/>
			<hftl:column label="#{messages['terminationReason.overrideProrata']}"
						 field="overrideProrata"/>
						 field="applyTerminationCharges"/>
			<hftl:column label="#{messages['terminationReason.reimburseOneshots']}"
						 field="reimburseOneshots"/>

			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
