<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{billingAccountListBean.preRenderView}" />
            <f:viewParam name="parentObjectId" value="#{billingAccountListBean.parentEntityId}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.customers']}" disabled="true" />
                <p:menuitem outcome="billingAccounts" value="#{messages['menu.billingAccounts']}" />
            </p:breadCrumb>
        </h:form>

        <!-- Entity select popup. -->
        <hftl:entityPopup id="searchCustomerAccountPopup" header="#{messages['customerAccount.popup.header']}" backingBean="#{customerAccountBean}"
            searchField1Label="#{messages['businessEntity.code']}" searchField1="code" column1Label="#{messages['businessEntity.code']}" column1="code" searchField2="description"
            column2Label="#{messages['businessEntity.description']}" column2="description" selection="#{billingAccountListBean.filters['customerAccount']}"
            updateField=":searchForm:customerAccount">
        </hftl:entityPopup>

        <hftl:searchPanel label="#{messages['billingAccount.search']}" backingBean="#{billingAccountListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" field="description" />
            <hftl:searchField id="customerAccount" label="#{messages['billingAccount.customerAccount']}" field="customerAccount" valueLabelField="code" popup="true"
                popupId="searchCustomerAccountPopup" />
            <hftl:searchField label="#{messages['billingAccount.status']}" field="status" />
            <hftl:searchField label="#{messages['billingAccount.subscriptionDate']}" field="subscriptionDate" />
            <hftl:searchField label="#{messages['billingAccount.nextInvoiceDate']}" field="nextInvoiceDate" />
            <hftl:searchField label="#{messages['billingAccount.terminationDate']}" field="terminationDate" />
            <hftl:searchField label="#{messages['billingAccount.electronicBilling']}" field="electronicBilling" />
            <hftl:searchField label="#{messages['tradingCountry.tradingCountry']}" field="tradingCountry" valueLabelField="descriptionOrCode" listBean="#{tradingCountryBean}" />
            <hftl:searchField label="#{messages['tradingLanguage.tradingLanguage']}" field="tradingLanguage" valueLabelField="prDescription" listBean="#{tradingLanguageBean}" />
            <hftl:searchField label="#{messages['billingAccount.taxCategory']}" field="taxCategory" valueLabelField="descriptionOrCode" listBean="#{taxCategoryBean}" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['billingAccount.title']}" backingBean="#{billingAccountListBean}" sortBy="code">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" useCustomIdParam="true" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['customerAccount.title']}" field="name.title.description"  />
            <hftl:column label="#{messages['customerAccount.firstName']}" field="name.firstName" titleWithMessage="true" />
            <hftl:column label="#{messages['customerAccount.lastName']}" field="name.lastName" titleWithMessage="true" />
            <hftl:column label="#{messages['commons.address']}" field="address.address1" />
            <hftl:column label="#{messages['billingAccount.nextInvoiceDate']}" field="nextInvoiceDate" isDate="true" />
            <hftl:column label="#{messages['billingAccount.subscriptionDate']}" field="subscriptionDate" isDate="true" />
            <hftl:column label="#{messages['billingAccount.status']}" sortField="status" field="status.label" isMessage="true" />

            <hftl:actionsColumn useCustomIdParam="true" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
