<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
    template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{counterTemplateListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="counterTemplates"
					value="#{messages['menu.counterTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['counterTemplate.search']}" backingBean="#{counterTemplateListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" field="description" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['counterTemplate.title']}" backingBean="#{counterTemplateListBean}">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['usageChargeTemplate.unityDescription']}" field="unityDescription" />
            <hftl:column label="#{messages['counterTemplate.counterType']}" field="counterType.label" isMessage="true" />
            <hftl:column label="#{messages['counterTemplate.counterLevel']}" field="counterLevel.label" isMessage="true" />
            <hftl:column label="#{messages['counterTemplate.level']}" field="ceiling" converterParam="4digits" />
            <hftl:column label="#{messages['billingCycle.calendar']}" field="calendar.code" />
            <hftl:column label="#{messages['counterTemplate.isAccumulator']}" field="accumulator" isMessage="true"/>
            <hftl:column label="#{messages['counterTemplate.managedByApp']}" field="managedByApp" isMessage="true"/>
            <hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
            <hftl:actionsColumn renderEnableLink="true" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
