/* Helper classes
====================================== */

.clearfix:after,
#layout-topbar-cover:after {
  content: '';
  display: block;
  clear: both;
}

.border-left {
  border-left: 1px solid #ddd !important;
}

.border-right {
  border-right: 1px solid #ddd !important;
}

.text-bold {
  font-weight: 700;
}

.text-red {
  color: #d13b42 !important;
}

.text-blue::before,
.text-blue {
  color: #003050;
}

a.text-blue:hover,
a.text-blue:hover::before {
  color: #c2c2e0 !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.no-text-decoration {
	text-decoration: none;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.no-box-shadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.list-unstyled {
  padding-left: 0;
  margin:0;
  list-style: none;
}

.no-list-style {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 5px;
}

.list-unstyled li {
  padding: 2px 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.hidden {
  display: none !important;
}

.btn-wrapper {
  background: #eee;
  color: #333;
  font-family: Roboto, 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px !important;
  padding: 10px 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper a {
  color: #333;
  font-size: 15px !important;
  font-weight: 300;
  font-family: Roboto, 'Source Sans Pro', Arial, sans-serif;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper i {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper:hover {
  background: #002050;
  color: #fff !important;
  border-color: rgba(0, 0, 0, .1);
}

.btn-wrapper:hover i,
.btn-wrapper:hover i::before,
.btn-wrapper:hover a {
  color: #fff !important;
}

.ui-paginator-bottom {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fa-2x {
  font-size: 1.7em !important;
}

.text-center {
  text-align: center !important;
}

hr {
  background-color: #002050;
  width: 50px;
  height: 2px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 10px;
  border: 0;
  border-top: 1px solid rgba(0, 32, 80, .1);
  box-sizing: content-box;
}

.width-45 {
  width: 45%;
}

.width-55 {
  width: 55%;
}

.width-58 {
  width: 58%;
}

/* Override Default Styles
===================================== */
body {
  font-family: Roboto, "Helvetica Neue",sans-serif;
  /*font-size: 16px;*/
  /*font-weight: 300;*/
  padding-bottom: 100px;
}

.ui-tabs .ui-tabs-nav li {
  background: #eee;
  color: #333;
  outline: none;
  border-color: #ddd !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-tabs .ui-tabs-nav li a {
  color: #333;
  font-family: Roboto, 'Source Sans Pro', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 15px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: #fff;
  border-color: #ddd;
  /*background: #eb2f2f;*/
  /*border-color: #d13b42 !important;*/
  border-bottom: 1px solid transparent !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  /*color: #fff;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.ui-widget-content {
  border-color: #ddd !important;
}

.ui-datatable .ui-widget-header,
.ui-treetable .ui-widget-header {
  background: #fff;
}

.custom-grid .ui-state-default,
.custom-grid .ui-widget-content .ui-state-default,
.custom-grid .ui-widget-header .ui-state-default {
  background-image: none !important;
  color: #333;
  text-shadow: none !important;
  box-shadow: none;
  border: 1px solid #ddd !important;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover {
  box-shadow: none !important;
}

input[type="submit"],
.ui-button,
.ui-datatable table .ui-button {
/*  background: #264676; */
  background-image: none;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  border: 1px solid rgba(0, 32, 80, .1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}


input[type="submit"]:hover,
.ui-button:hover,
.ui-datatable table .ui-button:hover {
  background: #1A3A6A;
  color: #fff;
  border: 1px solid rgba(0, 32, 80, .1);
}

input[type="text"] .ui-button-text,
.ui-button .ui-button-text,
.ui-datatable table .ui-button-text {
  text-shadow:none;
}

/* .ui-state-disabled, */
/* .ui-widget-content .ui-state-disabled, */
/* .ui-widget-header .ui-state-disabled { */
/*   padding: 4px 4px; */
/* } */

.ui-datatable,
.ui-treetable {
  border-color: #ddd;
}

.ui-widget-header {
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.ui-datatable,
.ui-treetable,
.ui-corner-all {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.ui-corner-top {
  -moz-border-radius-topleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
  background: #003050;
  border-right: 1px solid #a8a8a8;
  margin-right: -1px;
  margin-top: -1px;
}

.ui-state-highlight {
  background: #264676 !important;
  background-image: none !important;
}

.ui-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-inputswitch-on {
  background: #002050 !important;
}

.custom-grid table thead tr th {
  background: #eee !important;
  color: #333;
  font-size: 15px;
  font-weight: normal !important;
  padding: 7px 0;
}

.ui-datatable table thead tr .ui-state-hover {
  border: 1px solid #ddd !important;
}

.ui-tree-draghelper.ui-state-highlight {
  background: none transparent !important;
}

.position-relative {
  position: relative;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.btn-theme-default {
    background: #264676 !important;
    color: #fff !important;
    font-weight: 700 !important;
    text-transform: capitalize !important;
    border: 1px solid rgba(0, 32, 80, .1) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    -webkit-transition: all 300ms ease-in-out 0s !important;
    -moz-transition: all 300ms ease-in-out 0s !important;
    -ms-transition: all 300ms ease-in-out 0s !important;
    -o-transition: all 300ms ease-in-out 0s !important;
    transition: all 300ms ease-in-out 0s !important;
}

.btn-theme-default:focus,
.btn-theme-default:hover {
    background: #1A3A6A !important;
    color: #fff !important;
    border: 1px solid rgba(0, 32, 80, .1) !important;
}

.btn-theme-default:active {
    background: #002050 !important;
    color: #fff !important;
    border: 1px solid rgba(0, 32, 80, .1) !important;
}

/* Custom Styles
====================================== */

input[type="text"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.ui-grid-row {
  border-bottom: 1px solid #ddd;
}

.ui-grid-row:last-child {
  border-bottom: none;
}

.ui-commandlink {
  text-decoration: none;
}

.ui-grid-row .ui-commandlink {
  color: #003050 !important;
}

.ui-grid-row .ui-commandlink:hover::before {
  color: #c2c2e0 !important;
}

.ui-grid-row .ui-widget .ui-widget {
  border-radius: 0 !important;
}

.ui-panel-titlebar {
  color: #333;
  text-align: center!important;
}

.ui-separator {
  display: none;
}

.ui-paginator {
  background: #eee;
}

.ui-inputswitch {
  /*height: 18px;*/
  border: none !important;
}

.ui-inputswitch .ui-inputswitch-on,
.ui-inputswitch .ui-inputswitch-off {
  top: -1px;
  padding-top: 6px;
}

.ui-inputswitch.ui-state-disabled {
  opacity: 1;
  padding: 0;
}

.switch-wrapper {
  padding: 0;
}

.switch-wrapper > div {
  padding: 0 !important;
}

.switch-wrapper > div > div {
  border: 1px solid #ddd !important;
}

.switch-wrapper .ui-inputswitch-handle {
  border: none !important;
}

.switch-wrapper .ui-inputswitch .ui-inputswitch-off {
  height: 25px;
  padding-top: 0;
}

.switch-wrapper .ui-inputswitch .ui-inputswitch-off span {
  background: #002050;
  height: 19px;
  color: #fff;
  padding-top: 6px;
}

.ui-breadcrumb ul li a {
  text-decoration: none;
}

.ui-breadcrumb ul li a:hover {
  color: #264676;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  margin-top: 2px;
}

.ui-breadcrumb  .ui-breadcrumb-chevron {
  margin-top: 1px;
}

/*--------- */
#topbar-wrapper {
  background: #002050;
  padding: 0 0 0 15px;
}

#topbar-wrapper .search-wrapper {
  padding: 15px 15px 0 0;
  border: none;
  float: right;
}

#topbar-wrapper .search-wrapper input[type="text"] {
  width: 178px;
  box-sizing: border-box;
}

#topbar-wrapper .search-wrapper a {
  display: none;
}

#layout-topbar-cover {
  background: #fff;
  color: #2f2f2f;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  font-family: Roboto, 'Source Sans Pro', Arial, sans-serif;
  font-size: inherit;
  font-size: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-rendering: auto;
}

#layout-topbar {
  line-height: 40px;
  /*margin: 0 auto 10px;*/
}

#layout-topbar ul {
  margin: 0;
}

#layout-topbar li a {
  color: #fff;
  text-decoration: none;
}

#cog-submenu {
  position: relative;
  top: 61px;
  right: 28px;
  border: 1px solid #ddd;
}

#cog-submenu li a {
  background: #eee;
  display: block;
  padding: 7px 15px;
}

#cog-submenu li a:hover {
  background: #eb2f2f;
  color: #fff;
}

/* Marketing Home
====================================*/
.user-title h3 {
  font-family: Roboto, "Helvetica Neue",sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 1.1;
  color: inherit;
}

.chart-row {
  display: block;
}

.box {
  font-family: Roboto, 'Source Sans Pro', Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all .35s ease;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.box-title {
  color: #264676;
  font-size: 1.3em;
  font-weight: 200;
}

.box-title .trend {
  border: none;
  border-radius: 8px;
  padding: 3px 7px 2px 7px;
  margin-right: 17px;
  background-color: rgba(0, 32, 80, 0.8);
  color: white;
  font-family: Roboto;
  font-size: 0.8em;
  font-weight: 400;
  white-space: nowrap;
  position: absolute;
  right: 0;
  vertical-align: middle;
}

@media (min-width: 769px) {
  .box {
    flex: 1;
    width: 50%;
    margin: 15px;
    padding: 15px;
  }

  .chart-row {
    display: flex;
  }
}

@media (max-width: 768px) {
  .box {
    margin: 10px 0 10px 0;
    padding: 0;
  }
  .box-title .trend {
    margin-right: 7px;
  }
}

#logo-wrapper {
  display: block;
  margin: 16px 0 0 1px;
  padding: 0;
}

#logo-wrapper img {
  width: 198px;
}

#menu-button- {
  display: block;
  height: auto;
  margin-top: 17px;
}

#menu-button i {
  font-size: 3em;
  font-weight: 300;
  display: block;
  background: #003050;
  color: #fff;
  cursor: pointer;
  padding: 1px 5px 1px 5px;
}

#top-right-menu a {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  vertical-align: bottom;
  text-decoration: none;
}

#top-right-menu li:last-child {
  border-left: 1px solid #ddd;
}

#top-right-menu a:hover {
  background: #1a3a6a;
}

#top-right-menu .fa-question {
  line-height: 1.9em;
}

#top-right-menu i {
  line-height: 61px !important;
}

.export-panel {
  border: 1px solid #ddd !important;
  /*margin-top: 0.5em !important;
  width: 40% !important;
  margin-right: -10px;*/
}

.export-panel li:hover {
  color: #002050;
}

.export-panel a:hover {
  color: #002050;
  cursor: pointer;
}

.marketing-manager-wrapper .ui-state-default {
  background: #eb2f2f !important;
}

.offer-wrapper {
  margin: 50px 4px;
}

.offer-wrapper .ui-tabs-nav {
  margin-top: -48px !important;
}

.offer-wrapper .ui-tabs-nav li {
  margin-right: 5px;
  border-color: #ddd !important;
}

.search-wrapper {
  border: 1px solid #ddd;
  border-right-width: 2px;
}

.search-wrapper input[type="text"] {
  width: calc(100% - 40px);
  font-size: 16px;
  line-height: 1.4;
  vertical-align: top;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-wrapper .fa {
  background: #eee;
  color: #003050;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: -1px;
  border-left: 1px solid #ddd;
}

.search-wrapper .ui-panel-content {
  padding: 0;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover a,
.ui-datatable .ui-datatable-data tr.ui-state-hover {
  background: #c2c2e0;
  color: #fff;
}

.ui-datatable .ui-datatable-data tr td:first-child {
  text-align: left;
}

#admin-bar {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#admin-bar:after {
  content: '';
  display: block;
  clear: both;
}

.login-body {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  border: none;
  margin: 0;
}

#login-sidebox {
  background: #002050;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: calc(100vh - 85px);
}

#login-box {
  background: #fff;
  width: 40%
}

.login-body #loginForm {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#login-box #loginForm,
#login-box .ui-widget-content {
  padding: 0;
  border: none;
}
    
#login-box #loginForm {
  width: 90%;
  padding: 0 15px;
  overflow: hidden;
}   

#login-box label {
  display: block;
  padding-bottom: 5px;
}

#login-box input[type="text"],
#login-box input[type="password"] {
  width: 100%;
  padding: 7px 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

footer {
  background-color: #264676;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Footer links */

footer .footer-links {
  padding-top: 8px;
  color: #fff;
}

footer .footer-links a {
  display: inline-block;
  font-size: 14px;
  padding: 0 10px;
  color: #b5b8bc;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

footer a:hover {
  color: #fff;
}

footer .footer-icons {
  margin-top: 0px;
}

footer .footer-icons li {
  padding-right: 0;
}

footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #1A3A6A;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

footer .footer-icons a:hover {
  background: #002050;
}

footer .footer-icons i {
  line-height: 35px;
}

footer .footer-copyright {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

/*------- responsive -------*/

@media (max-width: 880px) {

  footer .footer-boxes {
    padding-top: 15px;
    /*display: none;*/
  }

  footer {
    padding-top: 0;
  }

  #primary-nav-form { display: none; }
  #responsive-menu-button { display: block; }
  #top-menu-cover { display: none; }
  /*#topbar-wrapper { margin-bottom: 10px; }*/
  .dataGrid, .dataGrid table, .dataGrid table tbody, .dataList li, .dataGrid tbody, .dataGrid tr, .dataGrid td { width: 100%; text-align: center; }
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .ui-panel .ui-panel-content {
    padding: 0;
  }

  #top-menu-cover { display: none; }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	#topbar-wrapper {
      padding: 0 15px;
      height: 61px;
  	}

  	#layout-topbar .list-inline li {
      vertical-align: top;
  	}

  	#logo-wrapper img {
      width: 200px;
  	}

  	.layout-menu {
      padding: 0 !important;
      margin-bottom: 15px !important;
  	}

  	.layout-menu > li {
      width: 100% !important;
      margin: 0 !important;
  	}

  	.layout-menu > li a {
      width: 100% !important;
      padding: 5px 0 !important;
      margin-bottom: 0 !important;
  	}

  	.layout-menu li:last-child a {
      border-bottom: none !important;
  	}

  	.layout-menu ul {
      display: none;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
  	}

  	.layout-menu ul li a {
      padding-left: 15px !important;
  	}

  	.in-frame #topbar-wrapper {
      display: none;
  	}

  	#top-right-menu {
      display: none;
  	}

  	.layout-menu ul.active-menu {
      display: block;
  	}

  	.menu-link {
      margin-bottom: 0;
  	}

  	.box {
      width: calc(100% - 32px);
	}

    .login-body {
      flex-direction: column;
    }
    
    #login-sidebox {
      width: 100%;
      height: calc(50vh - 85px);
    }
    
    #login-box {
      width: 100%;
      height: 50vh; 
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
	#top-menu-cover { display: none; }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
	#top-menu-cover { display: none; }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}


/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  #topbar-wrapper {
    height: 61px;
  }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

#primary_nav_wrap {
	/*margin-top: 15px;*/
	/*margin-right: 70px;*/
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul a {
	display: block;
	text-decoration: none;
	padding: 0 15px;
}

#primary_nav_wrap ul a:hover {
	text-decoration: underline;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
	/*background: #ddd*/
}

#primary_nav_wrap ul li:hover {
	/*background: #f6f6f6*/
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 61px;
  right: 0;
  background: #264676;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .1);
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px;
  border-left: none !important;
}

#primary_nav_wrap ul ul li:hover {
  background: #1A3A6A;
}

#primary_nav_wrap ul ul a {
  color: #fff !important;
  line-height: 120%;
  padding: 10px 15px;
  text-decoration: none !important;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

#primary_nav_wrap ul li:hover>ul {
	/*display: block*/
}

#user-info {
  color: #fff;
}

.status-wrapper .ui-panel .ui-panel-content {
  margin: 0;
  padding: 0;
  text-align: center;
}

.ui-inputswitch .ui-inputswitch-on span {
  color: #fff;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;  
}

#offerForExportPanel_content li {
    padding: 4px 0;
}

#top-button-container_content {
	padding: 0 1em !important;
}

#top-details-container_content {
	padding: 0 1em !important;
}

#left-controls td.ui-panelgrid-cell {
    vertical-align: top;
}

#left-controls li.button-item {
    margin-left: -24px;
}

.versioning-and-caching,
.validations {
  border: none;
  padding: 0;
  margin: 30px 0;
}

.versioning-and-caching .ui-fieldset-legend,
.validations .ui-fieldset-legend {
  border: none !important;
  padding: 0 0 10px;
}

.ui-widget .ui-messages-info-summary {
	font-family: Roboto;
}

.ui-header-alert-message {
    width: 60%;
    float: inherit;
    margin: auto;
    margin-bottom: -10px;
    margin-top: -40px;
}

/* .ui-dialog { */
/*   z-index: 99999999 !important; */
/* } */