<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem value="#{messages['menu.apiSecurity']}" outcome="apiSecurity" />
			</p:breadCrumb>
		</h:form>

		<h:form id="form">
			<p:panel>
				<h:panelGroup layout="block" styleClass="search-panel">

					<p:messages id="messages" autoUpdate="true" redisplay="false" />

					<hftl:decorateFormField fieldId="level" label="#{messages['roles.genApiLevel']}" componentWidth="15">
						<p:selectOneMenu id="level" value="#{apiSecurityBean.level}">
							<f:selectItem itemLabel="" />
							<f:selectItems value="#{apiSecurityBean.getApiLevels()}" var="enumElement" itemValue="#{enumElement}" itemLabel="#{messages[enumElement.label]}" />
							<f:converter converterId="enumConverter" />
						</p:selectOneMenu>
					</hftl:decorateFormField>

					<p:commandButton action="#{apiSecurityBean.syncApiRoles()}" value="#{messages['roles.syncApiRoles']}" update="form:messages" process="@form" />
				</h:panelGroup>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>
