<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="objectId" value="#{userRoleBean.objectId}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="roles" value="#{messages['menu.userRoles']}" />
				<p:menuitem value="#{messages['role.new']}" disabled="true" rendered="#{userRoleBean.entity.transient}" />
				<p:menuitem value="#{messages['role.editView']} - #{userRoleBean.entity.name}" disabled="true" rendered="#{!userRoleBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>

		<hftl:formPanel formId="roleFormId" label="#{messages['role.userRolePanel']}" backingBean="#{userRoleBean}" ajaxSubmit="true" submitPartialProcess=":roleFormId:tabView">
			<p:tabView id="tabView" activeIndex="#{userRoleBean.activeTab}">
				<p:tab title="#{messages['commons.tab.information']}">
					<hftl:formField label="#{messages['role.name']}" field="name" required="true" allowEdit="false" />
				    <hftl:formField label="#{messages['role.description']}" field="description" size="50" />
		        </p:tab>

				<p:tab title="#{messages['user.securedEntitiesTab']}" rendered="#{!(userRoleBean.entity.id==null) and userRoleBean.edit and userRoleBean.canUserUpdateEntity()}">
					<h:panelGroup id="selectedEntitiesPanel">
						<p:messages />
						<p:dataTable id="selectedEntitiesDatatable" var="securedEntity" value="#{userRoleBean.selectedSecuredEntities}" paginator="true" rows="10" sortBy="#{securedEntity.entityCode}"
							paginatorAlwaysVisible="false" paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" lazy="false"
							styleClass="custom-grid" rowsPerPageTemplate="10, 20, 50" reflow="true">
							<p:column headerText="#{messages['BusinessEntity.type']}">
								<h:outputText value="#{securedEntity.readableEntityClass()}" styleClass="field-value" />
							</p:column>
							<p:column headerText="#{messages['BusinessEntity.code']}">
								<h:outputText value="#{securedEntity.entityCode}" styleClass="field-value" />
							</p:column>
							<p:column headerText="#{messages['BusinessEntity.description']}">
								<h:outputText value="#{securedEntity.description}" styleClass="field-value" />
							</p:column>
							<p:column styleClass="actions-column" rendered="#{userRoleBean.edit}">
								<f:facet name="header">
									<h:outputText value="#{messages['commons.actions']}" />
								</f:facet>
								<p:commandButton action="#{userRoleBean.deleteSecuredEntity(securedEntity)}" rendered="#{userRoleBean.canUserUpdateEntity()}" icon="ui-icon-trash"
									update=":roleFormId:tabView:selectedEntitiesPanel" />

								<p:commandButton icon="ui-icon-circle-check" rendered="#{securedEntity.disabled and userRoleBean.canUserUpdateEntity()}"
									action="#{userRoleBean.enableOrDisable(securedEntity, false)}" update=":roleFormId:tabView:selectedEntitiesPanel" process="@this">
									<p:confirm header="#{messages['commons.enable']}" message="#{messages['commons.confirmEnable']}" />
								</p:commandButton>

								<p:commandButton icon="ui-icon-circle-close" rendered="#{!securedEntity.disabled and userRoleBean.canUserUpdateEntity()}"
									action="#{userRoleBean.enableOrDisable(securedEntity, true)}" update=":roleFormId:tabView:selectedEntitiesPanel" process="@this">
									<p:confirm header="#{messages['commons.disable']}" message="#{messages['commons.confirmDisable']}" />
								</p:commandButton>

							</p:column>
							<f:facet name="footer">
								<p:commandButton id="addEntity" value="#{messages['user.addSecuredEntity']}" rendered="#{userRoleBean.canUserUpdateEntity()}"
									oncomplete="PF('securedEntitiesDialog').show()"></p:commandButton>
							</f:facet>
						</p:dataTable>
					</h:panelGroup>

					<p:dialog id="securedEntitiesDialog" header="#{messages['user.securedEntities']}" widgetVar="securedEntitiesDialog" dynamic="true" modal="true" styleClass="form-dialog"
						closeOnEscape="true" width="600" appendTo="@(body)">

						<h:panelGroup id="securedEntitiesDialogPanel" layout="block" styleClass="search-panel">
							<h:form id="securedEntitiesDialogForm">
								<h:panelGroup layout="block" styleClass="search-panel">
									<p:messages />
									<p:outputPanel styleClass="search-panel-fields">
										<hftl:decorateFormField fieldId="securedEntityType" label="#{messages['BusinessEntity.type']}">
											<p:selectOneMenu id="securedEntityType" value="#{userRoleBean.securedEntityType}">
												<f:selectItem itemLabel="" />
												<f:selectItems value="#{userRoleBean.securedEntityTypes.entrySet()}" var="item" itemLabel="#{item.key}" itemValue="#{item.value}" />
												<p:ajax listener="#{userRoleBean.updateSelectedAccountBean}" update=":#{p:component('securedEntitiesDialogPanel')}" />
											</p:selectOneMenu>
										</hftl:decorateFormField>
										<hftl:decorateFormField fieldId="codeSearchField" label="#{messages['BusinessEntity.code']}" rendered="#{userRoleBean.selectedAccountBean != null}">
											<p:inputText id="codeSearchField" value="#{userRoleBean.securedEntityFilter['code']}" size="20" maxlength="40" disabled="false" />
										</hftl:decorateFormField>
									</p:outputPanel>
									<h:panelGroup layout="block" styleClass="search-panel-actions" rendered="#{userRoleBean.selectedAccountBean != null}">
										<p:commandButton id="buttonSearch" value="#{messages['commons.search']}" action="#{userRoleBean.filterAccounts}" process="codeSearchField @this" update="@form" />
										<p:commandButton id="buttonClear" action="#{userRoleBean.cleanAccountsFilter}" process="@this" value="#{messages['commons.clean']}"
											update=":#{p:component('securedEntitiesDialogPanel')}" />
									</h:panelGroup>
								</h:panelGroup>

								<p:panel id="securedEntitiesDialogDataPanel" rendered="#{userRoleBean.selectedAccountBean != null}">
									<p:dataTable id="securedEntitiesDialogDatatable" var="e" paginator="true" resizableColumns="true" value="#{userRoleBean.selectedAccountBean.lazyDataModel}" rows="10"
										selection="#{userRoleBean.selectedEntity}" selectionMode="single" rowKey="#{e.id}" lazy="true">
										<p:ajax event="rowSelect" listener="#{userRoleBean.saveSecuredEntity}" oncomplete="PF('securedEntitiesDialog').hide()"
											update=":#{p:component('securedEntitiesDialogPanel')} :#{p:component('selectedEntitiesPanel')}" />
										<p:column headerText="#{messages['BusinessEntity.code']}">
											<h:outputText value="#{e.code}" />
										</p:column>
										<p:column headerText="#{messages['BusinessEntity.description']}">
											<h:outputText value="#{e.description}" />
										</p:column>
									</p:dataTable>
								</p:panel>
							</h:form>
						</h:panelGroup>
					</p:dialog>
				</p:tab>
				<hftl:customFields backingBean="#{userRoleBean}" messagesId=":roleFormId:messages" />
			</p:tabView>
		</hftl:formPanel>
	</ui:define>
</ui:composition>
