<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{billingCycleBean.objectId}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <hftl:entityPopup id="searchInvoiceTypePopup" header="#{messages['invoiceType.panel']}"
            updateField=":formBillingCycle:tabView:invoiceTypeSelectedId :formBillingCycle:tabView:invoiceTypeSelectedId_text" selection="#{billingCycleBean.entity.invoiceType}"
            backingBean="#{invoiceTypeBean}" searchField1Label="#{messages['businessEntity.code']}" searchField1="code" column1Label="#{messages['businessEntity.code']}"
            column1="code" column2Label="#{messages['businessEntity.description']}" column2="description">
        </hftl:entityPopup>
        <hftl:entityPopup id="billingCycleScriptPopup" header="#{messages['scriptInstance.popup.header']}" backingBean="#{scriptInstanceBean}"
            selection="#{billingCycleBean.entity.scriptInstance}" searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
            column1Label="#{messages['businessEntity.code']}" column1="code" column2Label="#{messages['businessEntity.description']}" column2="description"
            eventBackingBean="#{billingCycleBean}" updateField=":formBillingCycle:tabView:scriptSelectId :formBillingCycle:tabView:scriptSelectId_text">
        </hftl:entityPopup>
        <hftl:entityPopup id="billingRunValidationScriptPopup" header="#{messages['scriptInstance.popup.header']}"
            updateField=":formBillingCycle:tabView:billingRunValidationScriptId :formBillingCycle:tabView:billingRunValidationScriptId_text" selection="#{billingCycleBean.entity.billingRunValidationScript}"
            backingBean="#{scriptInstanceBean}" searchField1Label="#{messages['businessEntity.code']}" searchField1="code" column1Label="#{messages['businessEntity.code']}" column1="code"
            column2Label="#{messages['businessEntity.description']}" column2="description">
        </hftl:entityPopup>

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
                <p:menuitem outcome="billingCycles" value="#{messages['menu.billingCycles']}" />
                <p:menuitem value="#{messages['commons.new']} #{messages['billingCycle']}" disabled="true" rendered="#{billingCycleBean.entity.transient}" />
                <p:menuitem value="#{messages['billingCycle']} - #{billingCycleBean.entity.code}" disabled="true" rendered="#{!billingCycleBean.entity.transient}" />
            </p:breadCrumb>
        </h:form>

        <hftl:formPanel edit="#{billingCycleBean.edit}" formId="formBillingCycle" submitPartialProcess=":formBillingCycle:tabView" label="#{messages['billingCycle.panel']}"
            backingBean="#{billingCycleBean}">
            <p:tabView id="tabView" activeIndex="#{billingCycleBean.activeTab}">
                <p:tab title="#{messages['customer.tab.information']}">
                    <hftl:formField label="#{messages['billingCycle.code']}" field="code" validateUnique="true" required="true" />
                    <hftl:formField label="#{messages['billingCycle.description']}" id="description" field="description" useConverter="false" />
                    <hftl:formField label="#{messages['billingCycle.type']}" field="type" noSelectionLabel="false" disabled="false" required="true" />
                    <hftl:formField label="#{messages['billingCycle.calendar']}" field="calendar" valueLabelField="code" required="true" listBean="#{calendarBean}" newLine="true" />
                    <hftl:formField label="#{messages['billingCycle.invoicingThreshold']}" field="invoicingThreshold" listenerUpdate="checkThresholdId" />
                    <hftl:formField label="#{messages['billingCycle.checkThreshold']}" field="checkThreshold" id="checkThresholdId" noSelectionLabel="false" disabled="false"
                        required="#{not empty billingCycleBean.entity.invoicingThreshold}" />
	                  <p:panelGrid columns="1" styleClass="ui-noborder"> 
	                  	<p:outputLabel for="@next" value="#{messages['invoice.checkthreshold.per']}" cellpadding="5" />
	                  	<p:selectBooleanButton  value="${billingCycleBean.entity.thresholdPerEntity}" onLabel="#{messages['invoice.checkthreshold.per.entity']}" offLabel="#{messages['invoice.checkthreshold.per.invoice']}"/>
	                  </p:panelGrid>
	                <hftl:formField id="billingRunValidationScriptId" label="#{messages['invoiceType.billingRunValidationScript']}" field="billingRunValidationScript" valueLabelField="code" required="false" popup="true" popupId="billingRunValidationScriptPopup" showResetButton="true" />
	                  
                    <hftl:formField label="#{messages['billingCycle.billingTemplateNameEL']}" field="billingTemplateNameEL" textArea="true" rows="1" maxlength="2000"
                        componentWidth="30" newLine="true" />
                    <hftl:formField label="#{messages['billingCycle.lastTransactionDateDelayEL']}" field="lastTransactionDateDelayEL" textArea="true" rows="1" maxlength="2000"
                        componentWidth="30" />
                    <hftl:formField label="#{messages['billingCycle.lastTransactionDateEL']}" field="lastTransactionDateEL" textArea="true" rows="1" maxlength="2000"
                        componentWidth="30" />
                    <hftl:formField label="#{messages['billingCycle.invoiceDateDelayEL']}" field="invoiceDateProductionDelayEL" textArea="true" rows="1" maxlength="2000"
                        componentWidth="30" />
                    <hftl:formField label="#{messages['billingCycle.dueDateDelayEL']}" field="dueDateDelayEL" textArea="true" rows="1" maxlength="2000" componentWidth="30" />
                    <hftl:formField label="#{messages['billingCycle.immediateIvoiceDateDelayEL']}" field="invoiceDateDelayEL" textArea="true" rows="1" maxlength="2000"
                                    componentWidth="30"/>

                    <hftl:formField id="scriptSelectId" label="#{messages['billingCycle.scriptCode']}" field="scriptInstance" valueLabelField="code" popup="true"
                                    popupId="billingCycleScriptPopup" showResetButton="true"/>

                    <hftl:formField label="#{messages['invoiceType.name']}" id="invoiceTypeSelectedId" field="invoiceType" valueLabelField="code" popup="true"
                                    popupId="searchInvoiceTypePopup" showResetButton="true"/>

                    <hftl:formField label="#{messages['billingCycle.invoiceTypeEL']}" field="invoiceTypeEl" textArea="true" rows="1" maxlength="2000" componentWidth="30"/>
                    <hftl:formField id="referenceDate" label="#{messages['billingCycle.referenceDate']}" field="referenceDate"/>
                    <hftl:formField label="#{messages['billingCycle.splitPerPaymentMethod']}" field="splitPerPaymentMethod" isMessage="true"/>
                    <hftl:formField label="#{messages['billingCycle.collectionDateDelayEl']}" field="collectionDateDelayEl" textArea="true" rows="1" maxlength="2000"
                                    componentWidth="30"/>
                    <hftl:formField label="#{messages['billingCycle.computeDatesAtValidation']}" field="computeDatesAtValidation"/>
                    
                    
                    
                    <p:fieldset legend="#{messages['billingCycle.rtToILAggregation']}" styleClass="clearLeft">
                    	<hftl:formField label="#{messages['billingCycle.disableAggregation']}" field="disableAggregation"/>
                    	<hftl:formField label="#{messages['billingCycle.dateAggregation']}" field="dateAggregation"/>
                    	<hftl:formField label="#{messages['billingCycle.aggregateUnitAmounts']}" field="aggregateUnitAmounts"/>
                    	<hftl:formField label="#{messages['billingCycle.useAccountingArticleLabel']}" field="useAccountingArticleLabel"/>
                    	<hftl:formField label="#{messages['billingCycle.ignoreSubscriptions']}" field="ignoreSubscriptions"/>
                    	<hftl:formField label="#{messages['billingCycle.ignoreOrders']}" field="ignoreOrders"/>
                    	<hftl:formField label="#{messages['billingCycle.discountAggregation']}" field="discountAggregation"/>
                    	<hftl:formField label="#{messages['billingCycle.incrementalInvoiceLines']}" field="incrementalInvoiceLines"/>
                    </p:fieldset>
                </p:tab>
                <hftl:customFields backingBean="#{billingCycleBean}" messagesId=":formBillingCycle:messages" />
            </p:tabView>
        </hftl:formPanel>

    </ui:define>

</ui:composition>
