<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{billingCycleListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
                <p:menuitem outcome="billingCycles" value="#{messages['menu.billingCycles']}" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel label="#{messages['billingCycle.search']}" backingBean="#{billingCycleListBean}">
            <hftl:searchField label="#{messages['billingCycle.code']}" field="code" />
            <hftl:searchField label="#{messages['billingCycle.description']}" field="description" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['billingCycles.title']}" backingBean="#{billingCycleListBean}">
            <hftl:column label="#{messages['billingCycle.code']}" field="code" />
            <hftl:column label="#{messages['billingCycle.description']}" field="description" />
            <hftl:column label="#{messages['billingCycle.calendar']}" field="calendar.code" />
            <hftl:column label="#{messages['billingCycle.invoicingThreshold']}" field="invoicingThreshold" />
            <hftl:column label="#{messages['invoiceType.name']}" field="invoiceType.code" />

            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
