<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{accountingCodeListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.finance']}" disabled="true"/>
                <p:menuitem outcome="accountingCodes"
                            value="#{messages['menu.accountingCode']}"/>

            </p:breadCrumb>
        </h:form>
		<hftl:searchPanel backingBean="#{accountingCodeListBean}" label="#{messages['accountingCode.search']}">
			<hftl:searchField label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:searchField label="#{messages['BusinessEntity.description']}" field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['accountingCode']}" backingBean="#{accountingCodeListBean}">
			<hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:column label="#{messages['BusinessEntity.description']}" field="description" />
			<hftl:column label="#{messages['accountingCode.chartOfAccountTypeEnum']}" field="chartOfAccountTypeEnum" />
			<hftl:column label="#{messages['accountingCode.reportingAccount']}" field="reportingAccount" />
			<hftl:column label="#{messages['accountingCode.chartOfAccountViewTypeEnum']}" field="chartOfAccountViewTypeEnum" />
			<hftl:column label="#{messages['enableEntity.disabled']}" field="disabled" />
			<hftl:column label="#{messages['accountingCode.migrated']}" field="migrated" />

			<hftl:actionsColumn />
		</hftl:dataList>
	</ui:define>

</ui:composition>
