<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org"
     xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{filterListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
			<h:form id="crumbmenuForm">
				<p:breadCrumb homeDisplay="text" id="crumbmenu">
					<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
					<p:menuitem outcome="filters" value="#{messages['menu.filters']}" />
				</p:breadCrumb>
			</h:form>
        <hftl:searchPanel label="#{messages['filter.search']}" backingBean="#{filterListBean}">
            <hftl:searchField label="#{messages['BusinessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['BusinessEntity.description']}" id="description" field="description" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['filter.title']}" noClose="false" backingBean="#{filterListBean}">
            <hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
            <hftl:column label="#{messages['BusinessEntity.description']}" field="description" />
            <hftl:column label="#{messages['filter.shared']}" isMessage="true" field="shared" />
            <hftl:column label="#{messages['enableEntity.active']}" isMessage="true" field="active" />
            <hftl:actionsColumn renderEnableLink="true" />
        </hftl:dataList>

    </ui:define>

</ui:composition>
