<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{userListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem value="#{messages['menu.users']}" outcome="users" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel backingBean="#{userListBean}" dataModel="#{userListBean.filteredLazyDataModel}">
			<hftl:searchField label="#{messages['user.userName']}" field="userName" />
			<hftl:searchField label="#{messages['name.firstName']}" field="name.firstName" />
			<hftl:searchField label="#{messages['name.lastName']}" field="name.lastName" />
			<hftl:searchField label="#{messages['contactInformation.email']}" field="email" />

			<p:commandButton action="#{userListBean.createTestAuthorizationData()}" update="@form" process="@this" value="Create test data" />
		</hftl:searchPanel>

		<p:panel id="results_panel" width="100">
			<h:form>
				<p:dataTable id="datatable_users" var="entity" value="#{userListBean.filteredLazyDataModel}" paginator="true" rows="30" resizableColumns="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="20,30,50" lazy="true"
					styleClass="custom-grid" rowIndexVar="rowIndex">


					<p:column headerText="#{messages['user.userName']}">

						<h:link value="#{entity.userName}" outcome="userDetail" onclick="if(this.disabled!=true){this.disabled=true;return true;} return false;">
							<f:param name="username" value="#{entity.userName}" />
							<f:param name="edit" value="#{userListBean.canUserUpdateEntity()}" />
							<f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
						</h:link>
					</p:column>

					<hftl:column label="#{messages['user.name']}" field="name.fullName" />
					<hftl:column label="#{messages['user.userGroupLevel']}" field="userLevel" />
					<hftl:column label="#{messages['user.roles']}" field="roles" isList="true" sort="false" />
					<hftl:actionsColumn />
				</p:dataTable>
			</h:form>
		</p:panel>

	</ui:define>

</ui:composition>
