<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{customerSearchBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
    	<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.customers']}" disabled="true" />
				<p:menuitem outcome="customerSearch" value="#{messages['customerSearch.search']}" />
			</p:breadCrumb>
		</h:form> 

        <hftl:searchPanel label="#{messages['customerSearch.search']}" backingBean="#{customerSearchBean}" renderNewButton="false" columns="2">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" field="description" />
            <hftl:searchField label="#{messages['accountEntity.externalRef1']}" field="externalRef1" />
            <hftl:searchField label="#{messages['accountEntity.externalRef2']}" field="externalRef2" />

            <hftl:decorateFormField fieldId="accountType" label="#{messages['customerSearch.type']}">
                <p:selectOneMenu id="accountType" value="#{customerSearchBean.filters['type_class']}">
                    <f:selectItem itemLabel="" />
                    <f:selectItem itemLabel="#{messages['accounType.ACCT_CUST']}" itemValue="org.meveo.model.crm.Customer" />
                    <f:selectItem itemLabel="#{messages['accounType.ACCT_CA']}" itemValue="org.meveo.model.payments.CustomerAccount" />
                    <f:selectItem itemLabel="#{messages['accounType.ACCT_BA']}" itemValue="org.meveo.model.billing.BillingAccount" />
                    <f:selectItem itemLabel="#{messages['accounType.ACCT_UA']}" itemValue="org.meveo.model.billing.UserAccount" />
                </p:selectOneMenu>
            </hftl:decorateFormField>
        </hftl:searchPanel>

        <hftl:dataList backingBean="#{customerSearchBean}" label="#{messages['customerSearch.title']}" exportToXml="false">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" editView="#{customerSearchBean.getView(entity['accountType'])}" propagateConversation="false"
                objectIdParamName="#{customerSearchBean.getIdParameterName(entity.getAccountType())}" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['accountEntity.externalRef1']}" field="externalRef1" />
            <hftl:column label="#{messages['accountEntity.externalRef2']}" field="externalRef2" />
            <hftl:column label="#{messages['customerSearch.type']}" field="accountType" messagePrefix="accounType" isMessage="true"/>

            <!-- 			<hftl:actionsColumn renderDeleteLink="false" -->
            <!-- 				objectIdParamName="#{customerSearchBean.getIdParameterName(entity['accountType'])}" -->
            <!-- 				editView="#{customerSearchBean.getView(entity['accountType'])}" -->
        </hftl:dataList>

    </ui:define>

</ui:composition>
