<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{invoiceTypeListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="invoiceTypes"
					value="#{messages['menu.invoiceTypes']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['invoiceType.search']}"
			backingBean="#{invoiceTypeListBean}">
			<hftl:searchField label="#{messages['businessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['businessEntity.description']}"
				field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['invoiceTypes.title']}"
			backingBean="#{invoiceTypeListBean}">
			<hftl:column label="#{messages['businessEntity.code']}" field="code" />
			<hftl:column label="#{messages['businessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['invoiceType.occTemplate']}"
				field="occTemplate.code" />
			<hftl:column label="#{messages['invoiceType.appliesTo']}"
				field="appliesTo" isList="true" valueLabelField="code"
				valueIdField="id" entityView="invoiceTypeDetail" />
			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
