<ui:composition xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
    template="/layout/template.xhtml">
    
    <ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{projectorListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">

		<hftl:searchPanel label="#{messages['offerTemplate.search']}" backingBean="#{offerTemplateListBean}">
			<hftl:searchField label="#{messages['offerTemplate.code']}" field="code" />
			<hftl:searchField label="#{messages['offerTemplate.description']}" id="description" field="description" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}" field="disabled" />

		</hftl:searchPanel>

		<hftl:dataList label="#{messages['offerTemplate.title']}" noClose="false" backingBean="#{offerTemplateListBean}">
			<hftl:column label="#{messages['offerTemplate.code']}" field="code" />
			<hftl:column label="#{messages['offerTemplate.description']}" field="description" />
			<hftl:column label="#{messages['offerTemplate.serviceTemplates']}" field="serviceTemplates" isList="true" valueLabelField="code" valueIdField="id"
				entityView="serviceTemplateDetail"/>
            <hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
			<hftl:actionsColumn 
				 renderEnableLink="true" renderDuplicateLink="true"/>
		</hftl:dataList>

	</ui:define>

</ui:composition>
