<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" template="/layout/template.xhtml" xmlns:p="http://primefaces.org/ui" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

	<o:importConstants type="org.meveo.model.audit.AuditableFieldNameEnum" />

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{serviceInstanceBean.objectId}"></f:viewParam>
            <f:viewParam name="serviceInstanceId" value="#{serviceInstanceBean.objectId}"></f:viewParam>
            <f:viewParam name="subscriptionId" value="#{subscriptionBean.objectId}" />
            <f:viewParam name="tab" value="#{serviceInstanceBean.activeTab}" />
            <!--             <f:viewParam name="backView"/> -->
        </f:metadata>
    </ui:define>

    <ui:define name="body">
    	<p:importEnum type="org.meveo.model.billing.SubscriptionRenewal$EndOfTermActionEnum" var="EndOfTermActionEnum" />
        <p:importEnum type="org.meveo.model.billing.SubscriptionRenewal$RenewalPeriodUnitEnum" var="RenewalPeriodUnitEnum" />
        <p:importEnum type="org.meveo.model.billing.SubscriptionRenewal$InitialTermTypeEnum" var="InitialTermTypeEnum" />
        
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.crm']}" disabled="true" />
                <p:menuitem outcome="subscriptions" value="#{messages['menu.subscriptions']}" />
            </p:breadCrumb>
        </h:form>
        <hftl:entityPopup id="serviceTemplatePopup" header="#{messages['serviceTemplate.popup.header']}" backingBean="#{serviceTemplateBean}"
            searchField1Label="#{messages['serviceTemplate.code']}" searchField1="code" searchField2Label="#{messages['serviceTemplate.description']}" searchField2="description"
            column1Label="#{messages['serviceTemplate.code']}" column1="code" column2Label="#{messages['serviceTemplate.description']}" column2="description"
            selection="#{serviceInstanceBean.entity.serviceTemplate}" updateField=":formId:tabView:serviceSelectedId :formId:tabView:serviceSelectedId_text">
        </hftl:entityPopup>

        <hftl:entityPopup id="subscriptionPopup" header="#{messages['subscription.popup.header']}" backingBean="#{subscriptionBean}"
            searchField1Label="#{messages['subscription.code']}" searchField1="code" searchField2Label="#{messages['subscription.description']}" searchField2="description"
            column1Label="#{messages['subscription.code']}" column1="code" column2Label="#{messages['subscription.description']}" column2="description"
            selection="#{serviceInstanceBean.entity.subscription}" updateField=":formId:tabView:subscriptionSelectedId :formId:tabView:subscriptionSelectedId_text">
        </hftl:entityPopup>

        <hftl:formPanel label="#{messages['serviceInstance.panel']}" edit="#{serviceInstanceBean.entity.status eq 'INACTIVE' or serviceInstanceBean.entity.status eq 'ACTIVE' or serviceInstanceBean.entity.status eq 'SUSPENDED'}" showEditButton="#{serviceInstanceBean.entity.status eq 'INACTIVE' or serviceInstanceBean.entity.status eq 'ACTIVE' or serviceInstanceBean.entity.status eq 'SUSPENDED'}"  backingBean="#{serviceInstanceBean}"
                objectIdParamName="serviceInstanceId" showDeleteButton="#{serviceInstanceBean.entity.status eq 'INACTIVE'}">

            <p:tabView id="tabView" activeIndex="#{serviceInstanceBean.activeTab}">
                <p:tab title="#{messages['commons.tab.information']}">

                    <h:panelGroup layout="block" styleClass="clearLeft">
						<h:outputFormat styleClass="note" rendered="#{serviceInstanceBean.isTerminatedService()}"
									  value="#{messages['serviceInstance.serviceTerminationMessage']}">
							<f:param value="#{serviceInstanceBean.entity.subscribedTillDate}"/>
						</h:outputFormat>
					</h:panelGroup>

                    <hftl:formField id="serviceSelectedId" label="#{messages['serviceInstance.code']}" field="code" valueLabelField="code" required="true" popup="false" allowEdit="true" />

                    <hftl:formField id="subscriptionSelectedId" label="#{messages['serviceInstance.subscription']}" field="subscription" valueLabelField="code" required="true"
                        popup="true" popupId="subscriptionPopup" allowEdit="false" />

                    <hftl:formField label="#{messages['serviceInstance.description']}" field="description" />
                    <hftl:formField label="#{messages['serviceInstance.status']}" field="status" allowEdit="false" />
                    <hftl:formField label="#{messages['serviceInstance.statusDate']}" field="statusDate" allowEdit="false" />
                    <hftl:formField label="#{messages['serviceInstance.subscriptionDate']}" field="subscriptionDate" allowEdit="#{serviceInstanceBean.entity.status eq 'INACTIVE'}" />
					<hftl:formField label="#{messages['serviceInstance.reactivationDate']}" field="reactivationDate" allowEdit="false" rendered="#{not empty serviceInstanceBean.entity.reactivationDate}" />
					<hftl:formField label="#{messages['serviceInstance.endAgreementDate']}" id="endAgreementDateId" field="endAgreementDate" disabled="#{serviceInstanceBean.entity.autoEndOfEngagement}"/>
                    <hftl:formField label="#{messages[serviceInstanceBean.entity.status=='SUSPENDED'?'serviceInstance.suspensionDate':'serviceInstance.terminationDate']}"
                        field="terminationDate" allowEdit="false" />
                    <hftl:formField label="#{messages['serviceInstance.quantity']}" field="quantity" converter="bigDecimal4DigitsConverter"/>
                    <hftl:formField label="#{messages['serviceInstance.terminationReason']}" allowEdit="false" field="subscriptionTerminationReason"
                        listBean="#{subscriptionTerminationReasonBean}" valueLabelField="descriptionOrCode" rendered="#{not empty serviceInstanceBean.entity.subscriptionTerminationReason}" />
                     <hftl:formField label="#{messages['serviceInstance.rateUntilDate']}" field="rateUntilDate" /> 
                    <hftl:formField label="#{messages['subscription.autoEndOfEngagement']}" listenerUpdate="endAgreementDateId" newLine="true"
								field="autoEndOfEngagement" actionListenerBean="#{serviceInstanceBean}" actionListenerMethod="autoUpdateEndOfEngagementDate" />

                    <hftl:formField label="#{messages['serviceTemplate.minimumLabelEl']}" field="minimumLabelEl" textArea="true" rows="1" maxlength="2000" componentWidth="50" newLine="true" rendered="#{paramBean.getBooleanValue('billing.minimumRating.global.enabled',true)}"/>
                    <hftl:formField label="#{messages[appProvider.entreprise?'serviceTemplate.minimumAmountWithoutTaxEl':'serviceTemplate.minimumAmountWithTaxEl']}" field="minimumAmountEl"
                        textArea="true" rows="1" maxlength="2000" componentWidth="50" rendered="#{paramBean.getBooleanValue('billing.minimumRating.global.enabled',true)}"/>
					<hftl:formField label="#{messages['account.minimumChargeTemplate']}" id="chargeTemplateId" field="minimumChargeTemplate" valueLabelField="code" listBean="#{oneShotChargeTemplateBean}" listElements="#{oneShotChargeTemplateBean.getOtherOneShotCharges()}" rendered="#{paramBean.getBooleanValue('billing.minimumRating.global.enabled',true)}"/>

					<hftl:formField label="#{messages['serviceInstance.amountPS']}" field="amountPS" />
                          <hftl:formField label="#{messages['serviceInstance.calendarPS']}" field="calendarPS" valueLabelField="code" listBean="#{calendarBean}" id="calendarPsId" /> 
                         <hftl:formField label="#{messages['paymentScheduleTemplate.dayInMonth']}" field="paymentDayInMonthPS" /> 
                    <p:fieldset legend="#{messages['subscription.renewal']}" styleClass="clearLeft">
	                    <h:panelGroup id="serviceRenewal">

	                    	<hftl:formField label="#{messages['subscription.initialTermType']}" field="serviceRenewal" childField="initialTermType" componentWidth="100" listenerUpdate="termType"></hftl:formField>
	                    	<h:panelGroup id="termType">
								<hftl:formField
									label="#{messages['subscription.initialyActiveFor']}"
									field="serviceRenewal" childField="initialyActiveFor" size="2"
									minValue="1" componentWidth="15"
									disabled="#{serviceInstanceBean.entity.renewed}"
									listenerUpdate="serviceRenewal :formId:tabView:endAgreementDateId"
									actionListenerBean="#{serviceInstanceBean}"
									actionListenerMethod="updateSubscribedTillDate"
									rendered="#{serviceInstanceBean.entity.serviceRenewal.initialTermType eq InitialTermTypeEnum.RECURRING}" />
								<hftl:formField
									label="#{messages['subscription.initialyActiveForUnit']}"
									field="serviceRenewal" childField="initialyActiveForUnit"
									required="#{serviceInstanceBean.entity.serviceRenewal.initialyActiveFor!=null}"
									disabled="#{serviceInstanceBean.entity.serviceRenewal.initialyActiveFor==null || serviceInstanceBean.entity.renewed}"
									listenerUpdate="serviceRenewal :formId:tabView:endAgreementDateId"
									actionListenerBean="#{serviceInstanceBean}"
									actionListenerMethod="updateSubscribedTillDate"
									rendered="#{serviceInstanceBean.entity.serviceRenewal.initialTermType eq InitialTermTypeEnum.RECURRING}" />
								<hftl:formField
									label="#{messages['subscription.subscribedTillDate']}"
									field="subscribedTillDate" required="true"
									rendered="#{serviceInstanceBean.entity.serviceRenewal.initialTermType eq InitialTermTypeEnum.FIXED}"
									listenerUpdate="serviceRenewal" />
							</h:panelGroup>
                            <h:panelGroup rendered="#{serviceInstanceBean.entity.subscribedTillDate!=null}">
	                            <hftl:formField label="#{messages['subscription.autoRenew']}" field="serviceRenewal" childField="autoRenew" required="true"
	                                listenerUpdate="serviceRenewal" newLine="true" />
	                            <hftl:formField label="#{messages['subscription.renewFor']}" field="serviceRenewal" childField="renewFor" size="2" required="true"
	                                rendered="#{serviceInstanceBean.entity.serviceRenewal.autoRenew}" listenerUpdate="serviceRenewal"
	                                actionListenerBean="#{serviceInstanceBean.entity.serviceRenewal}" actionListenerMethod="setDefaultRenewForUnit" />
	                            <hftl:formField label="#{messages['subscription.renewForUnit']}" field="serviceRenewal" childField="renewForUnit" required="true"
	                                rendered="#{serviceInstanceBean.entity.serviceRenewal.autoRenew}" listenerUpdate="serviceRenewal" />
	                            <hftl:formField label="#{messages['subscription.renewNotifyBefore']}" field="serviceRenewal" childField="daysNotifyRenewal" size="2" minValue="1"
	                                rendered="#{serviceInstanceBean.entity.serviceRenewal.autoRenew}" />
	                            <hftl:formField label="#{messages['subscription.extendAgreementPeriod']}" field="serviceRenewal" childField="extendAgreementPeriodToSubscribedTillDate"
	                                rendered="#{serviceInstanceBean.entity.serviceRenewal.autoRenew}" />
	                            <hftl:formField label="#{messages['subscription.endOfTermAction']}" field="serviceRenewal" childField="endOfTermAction" required="true"
	                                listenerUpdate="serviceRenewal" />
	                            <hftl:formField label="#{messages['subscription.endOfTermTerminationReason']}" field="serviceRenewal" childField="terminationReason" required="true"
	                                rendered="#{serviceInstanceBean.entity.serviceRenewal.endOfTermAction eq 'TERMINATE'}" valueLabelField="descriptionOrCode"
	                                listBean="#{subscriptionTerminationReasonBean}" listElements="#{subscriptionTerminationReasonService.listReasons()}" />
	                        </h:panelGroup>
	                        
	                         <hftl:formField label="#{messages['subscription.renewed']}" field="renewed" edit="false" rendered="#{serviceInstanceBean.entity.renewed}"/>
                             <hftl:formField label="#{messages['subscription.renewalNotifiedDate']}" field="renewalNotifiedDate" edit="false" rendered="#{serviceInstanceBean.entity.renewalNotifiedDate != null}"/>
	                    </h:panelGroup>
	                </p:fieldset>
                </p:tab>
                 <p:tab title="#{messages['order.history']}"> 
                 	<p:dataTable id="selectedEntitiesDatatable" var="ohEntity" value="#{serviceInstanceBean.orderHistoryModel}" paginator="true" rows="10" 
 						paginatorAlwaysVisible="false" paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" lazy="false" 
 						styleClass="custom-grid" rowsPerPageTemplate="10, 20, 50" reflow="true"> 
 						<p:column headerText="#{messages['order.number']}">    
 							<h:outputText value="#{ohEntity.orderNumber}" styleClass="field-value" /> 
 						</p:column> 
 						<p:column headerText="#{messages['order.action']}"> 
 							<h:outputText value="#{ohEntity.action}" styleClass="field-value" /> 
 						</p:column> 
 						<p:column headerText="#{messages['orderHistory.eventDate']}"> 
 							<h:outputText value="#{ohEntity.eventDate}" styleClass="field-value"> 
 								<f:convertDateTime pattern="#{paramBean.dateTimeFormat}" /> 
 							</h:outputText> 
 						</p:column> 
 					</p:dataTable> 
                 </p:tab> 
                 <p:tab title="#{messages['paymentScheduleInstance.title']}" id="psInstances"> 
 					<c:if test="#{not empty serviceInstanceBean.entity.id}"> 
 						<hftl:dataList backingBean="#{paymentScheduleInstanceBean}" dataModel="#{paymentScheduleInstanceBean.getInstancesForService(serviceInstanceBean.entity)}" 
 						label="#{messages['paymentScheduleInstance.title']}" sortBy="startDate" exportButton="false" checkMany="false"> 
 								<hftl:column label="#{messages['businessEntity.code']}" field="code" noLinkToView="true" /> 
 								<hftl:column label="#{messages['paymentScheduleTemplate.amount']}" field="amount" /> 
 								<hftl:column label="#{messages['paymentScheduleTemplate.status']}" field="status" /> 
 								<hftl:column label="#{messages['paymentScheduleTemplate.calendar']}" field="calendar.code" /> 
 								<hftl:column label="#{messages['paymentScheduleInstance.startDate']}" field="startDate"  isDate="true"/> 
 								<hftl:column label="#{messages['paymentScheduleInstance.endDate']}" field="endDate"  isDate="true"/> 

 								<hftl:actionsColumn  backingBean="#{paymentScheduleInstanceBean}" objectIdParamName="objectId" 
 								 renderDeleteLink="false" renderEditLink="true" backTab="psInstances" backView="serviceInstanceDetail" backEntityId="#{serviceInstanceBean.entity.id}"/> 
 						</hftl:dataList> 
 					</c:if> 
                 </p:tab> 
                
 				<c:if test="#{serviceInstanceBean.entity.id != null}"> 
 					<ui:include src="../../audit/auditableField.xhtml"> 
 						<ui:param name="auditableEntity" value="#{serviceInstanceBean.entity}" /> 
 						<ui:param name="auditableFieldName" value="#{'STATUS'}" /> 
 					</ui:include> 
 				</c:if> 

 				<p:tab id="counterPeriodTab" 
 					   title="#{messages['counterPeriod.title']}" 
 					   rendered="#{not empty subscriptionBean.entity.id}"> 
 					<p:outputPanel id="counterPeriodTabPanel"> 
 						<ui:include src="counterPeriodTab.xhtml" /> 
 					</p:outputPanel> 
 				</p:tab> 

                <hftl:customFields backingBean="#{serviceInstanceBean}" messagesId=":formId:messages" />
                 <hftl:displayGenericWFsHistory backingBean="#{serviceInstanceBean}" /> 
            </p:tabView>

			<ui:param name="buttons" value="true" />
			<ui:define name="buttons">
				<h:panelGroup
					rendered="#{not empty serviceInstanceBean.entity.id and serviceInstanceBean.canUserUpdateEntity()}">
					<p:commandButton action="#{serviceInstanceBean.reactiveService}"
						value="#{messages['button.reactivateButton']}" ajax="false"
						onclick="if(confirm('#{messages['confirmationMessage.confirmActivation']}')){return true;}else{return false;}"
						disabled="#{serviceInstanceBean.entity.status.toString() != 'SUSPENDED'}" />
					
					<p:commandButton action="#{serviceInstanceBean.suspendService}"
						value="#{messages['serviceInstance.suspendButton']}" ajax="false"
						onclick="if(confirm('#{messages['confirmationMessage.confirmSuspension']}')){return true;}else{return false;}"
						disabled="#{serviceInstanceBean.entity.status.toString() != 'ACTIVE'}" />

					<p:commandButton action="#{serviceInstanceBean.cancelServiceTermination}"
									 value="#{messages['button.cancelTerminationButton']}"
									 update=":formId"
									 rendered="#{serviceInstanceBean.isTerminatedService()}">
						<p:confirm header="#{messages['commons.confirmationHeader']}"
								   message="#{messages['confirmationMessage.cancelServiceTermination']}"
								   icon="ui-icon-alert" />
					</p:commandButton>
				</h:panelGroup>
			</ui:define>
		</hftl:formPanel>
    </ui:define>

</ui:composition>
