<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{sellerListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}"
					disabled="true" />
				<p:menuitem value="#{messages['menu.sellers']}" outcome="sellers" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel backingBean="#{sellerListBean}"
			label="#{messages['seller.search']}">
			<hftl:searchField id="seller"
				label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:searchField label="#{messages['BusinessEntity.description']}"
				field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['seller.title']}"
			backingBean="#{sellerListBean}">
			<hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
			<hftl:column label="#{messages['BusinessEntity.description']}"
				field="description" />
			<hftl:column
				label="#{messages['tradingCurrency.tradingCurrencyPanel']}"
				field="tradingCurrency.currencyCode" />
			<hftl:column label="#{messages['tradingCountry.title']}"
				field="tradingCountry.countryCode" />
			<hftl:column label="#{messages['seller.title']}" field="seller.code" />

			<hftl:actionsColumn />
		</hftl:dataList>
	</ui:define>

</ui:composition>
