<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{invoiceSubCategoryListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">

		<!-- Entity select popup. -->
		<!-- 		<hftl:entityPopup id="searchInvoiceCategoryPopup" -->
		<!-- 			header="#{messages['customer.popup.header']}" -->
		<!-- 			updateField=":searchForm:invoiceCategoryField" -->
		<!-- 			selection="#{invoiceSubCategoryListBean.filters['invoiceCategory']}" -->
		<!-- 			backingBean="#{invoiceCategoryBean}" -->
		<!-- 			searchField1Label="#{messages['invoiceCategory.code']}" -->
		<!-- 			searchField1="code" -->
		<!-- 			column1Label="#{messages['invoiceCategory.code']}" column1="code"> -->
		<!-- 		</hftl:entityPopup> -->
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="invoiceSubCategories"
					value="#{messages['invoiceSubCategory.title']}" />
			</p:breadCrumb>
		</h:form>
		<hftl:searchPanel label="#{messages['invoiceSubCategory.search']}"
			backingBean="#{invoiceSubCategoryListBean}">
			<hftl:searchField id="invoiceCategoryField"
				label="#{messages['invoiceSubCategory.invoiceCategory']}"
				field="invoiceCategory" valueLabelField="code"
				listBean="#{invoiceCategoryBean}" />
			<!--                 popup="true" popupId="searchInvoiceCategoryPopup" /> -->
			<hftl:searchField label="#{messages['invoiceSubCategory.code']}"
				field="code" />
			<hftl:searchField
				label="#{messages['invoiceSubCategory.description']}"
				field="description" id="description" />
			<!-- <hftl:searchField
				label="#{messages['invoiceSubCategory.accountingCode']}"
				field="accountingCode" size="50" /> -->
			<!-- 	<hftl:searchField label="#{messages['invoiceSubCategory.discount']}" field="discount" /> -->
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['invoiceSubCategory.title']}"
			backingBean="#{invoiceSubCategoryListBean}" sortBy="code">
			<hftl:column label="#{messages['invoiceSubCategory.code']}"
				field="code" />
			<hftl:column
				label="#{messages['invoiceSubCategory.invoiceCategory']}"
				field="invoiceCategory.code" />
			<hftl:column label="#{messages['invoiceSubCategory.description']}"
				field="description" />
			<hftl:column label="#{messages['invoiceSubCategory.accountingCode']}"
				field="accountingCode.code"  />
			<!-- 			<hftl:actionsColumn renderDeleteLink="false" -->
		</hftl:dataList>

	</ui:define>

</ui:composition>
