<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" xmlns:custom="http://manaty.net/custom" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" template="layout/template.xhtml"
	xmlns:hftl="http://hftl.org">

	<ui:define name="metadata">
		<f:metadata>
			<!-- <f:event type="preRenderView" listener="#{configIssuesReportingBean.preRenderView}" /> -->
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<p:messages id="messages" />
		<p:panel rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}">


			<!-- REMOVED FOR NOW -->
			<!--<h:panelGrid columns="2" style="width:100%;text-align:center;">
				
              
                <h:graphicImage value="/img/MeveoOpenCell.png" style="border:0px;" />
				<p:columnChart value="#{dashboard.customerAccount}" var="customerAccounts" xfield="#{customerAccounts.month}">
					<p:chartSeries label="#{messages['dashboard.customerAccounts']}" value="#{customerAccounts.amount}" />
				</p:columnChart >

			</h:panelGrid>-->

<!-- 			<p:tabView id="tabView">

				<p:tab title="#{messages['menu.controls']}">
					<h:panelGrid columns="2" columnClasses="panelGrid-column50,panelGrid-column50" styleClass="panelGrid-column100" rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}">
						<h:panelGrid styleClass="panelGrid-column100">
							<p:accordionPanel activeIndex="null" dynamic="true" id="accordionTax">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructTaxesNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.taxesNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbTaxesNotAssociated}" style="#{configIssuesReportingBean.nbTaxesNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbTaxesNotAssociated>0}">
										<hftl:dataList label="#{messages['tax.title']}" resultsId="taxes_panel" exportXlsxButton="false" backingBean="#{taxBean}" sortBy="code" checkMany="false"
											dataModel="#{configIssuesReportingBean.taxesNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['tax.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['tax.description']}" field="description" />
											<hftl:column label="#{messages['tax.percent']}" field="percent" converterParam="4digits" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="languages">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructLanguagesNotAssociated}" refresh="this" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.languagesNotAssociated']} :" />
										<h:outputText value="#{configIssuesReportingBean.nbLanguageNotAssociated}" style="#{configIssuesReportingBean.nbLanguageNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbLanguageNotAssociated>0}">
										<hftl:dataList label="#{messages['comLanguage.title']}" resultsId="languages_panel" checkMany="false" exportXlsxButton="false" backingBean="#{tradingLanguageBean}"
											dataModel="#{configIssuesReportingBean.languagesNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['tradingLanguage.languageCode']}" field="language.languageCode" entityView="tradingLanguagesDetail" valueIdField="id" />
											<hftl:column label="#{messages['tradingLanguage.prDescription']}" field="prDescription" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" width="10%" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="invoiceCats">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructInvoiceCatNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.invoiceCategoryNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbInvCatNotAssociated}" style="#{configIssuesReportingBean.nbInvCatNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbInvCatNotAssociated!=0}">
										<hftl:dataList label="#{messages['invoiceCategory.title']}" resultsId="invoiceCat_panel" dataModel="#{configIssuesReportingBean.invoiceCatNotAssociatedList}"
											backingBean="#{invoiceCategoryBean}" checkMany="false" sortBy="code" exportXlsxButton="false" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['invoiceCategory.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['invoiceCategory.description']}" field="description" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="invoiceSubs">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructInvoiceSubCatNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.invoiceSubCategoryNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbInvSubCatNotAssociated}" style="#{configIssuesReportingBean.nbInvSubCatNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbInvSubCatNotAssociated!=0}">
										<hftl:dataList label="#{messages['invoiceSubCategory.title']}" checkMany="false" resultsId="invoiceSubCat_panel" dataModel="#{configIssuesReportingBean.invoiceSubCatNotAssociatedList}"
											backingBean="#{invoiceSubCategoryBean}" sortBy="code" exportXlsxButton="false" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['invoiceSubCategory.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['invoiceSubCategory.invoiceCategory']}" field="invoiceCategory.code" />
											<hftl:column label="#{messages['invoiceSubCategory.description']}" field="description" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="servicesTmpl">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructServicesWithNotOffer}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.servicesWithNotOffer']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbServiceWithNotOffer}" style="#{configIssuesReportingBean.nbServiceWithNotOffer==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbServiceWithNotOffer!=0}">
										<hftl:dataList label="#{messages['serviceTemplate.title']}" checkMany="false" noClose="false" sortBy="code" exportXlsxButton="false" backingBean="#{serviceTemplateBean}"
											dataModel="#{configIssuesReportingBean.servicesWithNotOfferList}" resultsId="servicesOffer_panel" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['serviceTemplate.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['serviceTemplate.description']}" field="description" />
											<hftl:column label="#{messages['serviceTemplate.recurringCharges']}" field="serviceRecurringCharges" isList="true" valueLabelField="chargeTemplate.code" valueIdField="chargeTemplate.id"
												view="recurringChargeTemplateDetail" />
											<hftl:column label="#{messages['serviceTemplate.subscriptionCharges']}" field="serviceSubscriptionCharges" isList="true" valueLabelField="chargeTemplate.code"
												valueIdField="chargeTemplate.id" view="oneShotChargeTemplateDetail" />
											<hftl:column label="#{messages['serviceTemplate.terminationCharges']}" field="serviceTerminationCharges" isList="true" valueLabelField="chargeTemplate.code" valueIdField="chargeTemplate.id"
												view="oneShotChargeTemplateDetail" backView="serviceTemplates" />
											<hftl:column label="#{messages['serviceTemplate.usageCharges']}" field="serviceUsageCharges" isList="true" valueLabelField="chargeTemplate.code" valueIdField="chargeTemplate.id"
												view="usageChargeTemplateDetail" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="counters">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructCounterWithNotService}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.countersWithNotServices']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrCounterWithNotService}" style="#{configIssuesReportingBean.nbrCounterWithNotService==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrCounterWithNotService!=0}">
										<hftl:dataList label="#{messages['counterTemplate.title']}" resultsId="counters_panel" sortBy="code" dataModel="#{configIssuesReportingBean.counterWithNotServicList}" checkMany="false"
											backingBean="#{counterTemplateBean}" exportXlsxButton="false" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['businessEntity.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['businessEntity.description']}" field="description" />
											<hftl:column label="#{messages['counterTemplate.counterType']}" field="counterType.label" isMessage="true" />
											<hftl:column label="#{messages['counterTemplate.level']}" field="ceiling" converterParam="4digits" />
											<hftl:column label="#{messages['billingCycle.calendar']}" field="calendar.code" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>

							<p:accordionPanel activeIndex="null" dynamic="true">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructScriptInstancesWithError}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.scriptInstanceWithError']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrScriptInstanceWithError}" style="#{configIssuesReportingBean.nbrScriptInstanceWithError==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrScriptInstanceWithError!=0}">
										<hftl:dataList label="#{messages['scriptInstance.title']}" resultsId="scriptInstances_panel" checkMany="false" backingBean="#{scriptInstanceListBean}" sortBy="code"
											dataModel="#{configIssuesReportingBean.scriptInstanceWithErrorList}" exportXlsxButton="false" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['businessEntity.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['businessEntity.description']}" field="description" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
						</h:panelGrid>
						<h:panelGrid styleClass="panelGrid-column100">
							<p:accordionPanel activeIndex="null" dynamic="true" id="usagesTempl">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructUsagesChrgNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.usagesChrgWithNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrUsagesChrgNotAssociated}" style="#{configIssuesReportingBean.nbrUsagesChrgNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrUsagesChrgNotAssociated!=0}">
										<hftl:dataList label="#{messages['usageChargeTemplate.title']}" resultsId="usageCharges_panel" sortBy="code" exportXlsxButton="false" checkMany="false"
											backingBean="#{usageChargeTemplateListBean}" dataModel="#{configIssuesReportingBean.usagesChrgNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['chargeTemplate.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['chargeTemplate.description']}" field="description" />
											<hftl:column label="#{messages['usageChargeTemplate.filterParam1']}" field="filterParam1" />
											<hftl:column label="#{messages['usageChargeTemplate.filterParam2']}" field="filterParam2" />
											<hftl:column label="#{messages['usageChargeTemplate.priority']}" field="priority" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="recurrings">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructRecurringNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.recurringWithNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrRecurringChrgNotAssociated}" style="#{configIssuesReportingBean.nbrRecurringChrgNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrRecurringChrgNotAssociated!=0}">
										<hftl:dataList resultsId="recCh_panel" exportXlsxButton="false" checkMany="false" backingBean="#{recurringChargeTemplateListBean}" sortBy="code"
											dataModel="#{configIssuesReportingBean.recurringNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['chargeTemplate.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['chargeTemplate.description']}" field="description" />
											<hftl:column label="#{messages['recurringChargeTemplate.durationTermInMonth']}" field="durationTermInMonth" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="termCharges">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructTermChrgNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.termChrgNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrTerminationChrgNotAssociated}" style="#{configIssuesReportingBean.nbrTerminationChrgNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrTerminationChrgNotAssociated!=0}">
										<hftl:dataList label="#{messages['oneShotChargeTemplate.title']}" resultsId="termination_panel" checkMany="false" noClose="false" sortBy="code" exportXlsxButton="false"
											backingBean="#{serviceChargeTemplateTerminationBean}" dataModel="#{configIssuesReportingBean.terminationNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['chargeTemplate.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['chargeTemplate.description']}" field="description" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true" id="subCharges">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructSubChrgNotAssociated}" />
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.subChrgNotAssociated']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrSubscriptionChrgNotAssociated}" style="#{configIssuesReportingBean.nbrSubscriptionChrgNotAssociated==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrSubscriptionChrgNotAssociated!=0}">
										<hftl:dataList label="#{messages['oneShotChargeTemplate.title']}" resultsId="subscription_panel" checkMany="false" noClose="false" sortBy="code" exportXlsxButton="false"
											backingBean="#{serviceChargeTemplateSubscriptionBean}" dataModel="#{configIssuesReportingBean.subNotAssociatedList}" paginatorAlwaysVisible="false">
											<hftl:column label="#{messages['chargeTemplate.code']}" field="code" backView="home" />
											<hftl:column label="#{messages['chargeTemplate.description']}" field="description" />
											<hftl:column label="#{messages['enableEntity.active']}" field="active" isMessage="true" />
										</hftl:dataList>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructWalletOperation}" />
								<p:tab title="#{messages['configIssuesReporting.walletOperationStatus']}">
									<h:panelGrid>
										<hftl:panelGroup columns="6">
											<h:outputLabel value="#{messages['walletOperationStatus.open']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpOpen}" />
											<h:outputLabel value="#{messages['walletOperationStatus.canceled']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpCancled}" />
											<h:outputLabel value="#{messages['walletOperationStatus.reserved']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpReserved}" />
											<h:outputLabel value="#{messages['walletOperationStatus.rerated']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpRerated}" />
											<h:outputLabel value="#{messages['walletOperationStatus.to_rerate']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpTorerate}" />
											<h:outputLabel value="#{messages['walletOperationStatus.treated']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpTreated}" />
											<h:outputLabel value="#{messages['walletOperationStatus.scheduled']} :" />
											<h:outputText value="#{configIssuesReportingBean.walletReportConfig.nbrWalletOpScheduled}" />
										</hftl:panelGroup>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="true">
								<p:ajax event="tabChange" listener="#{configIssuesReportingBean.constructEdr}" />
								<p:tab title="#{messages['configIssuesReporting.edrStatus']}">
									<h:panelGrid>
										<hftl:panelGroup columns="6">
											<h:outputLabel value="#{messages['edrStatus.open']} :" />
											<h:outputText value="#{configIssuesReportingBean.edrReportConfig.nbrEdrOpen}" />
											<h:outputLabel value="#{messages['edrStatus.rejected']} :" />
											<h:outputText value="#{configIssuesReportingBean.edrReportConfig.nbrEdrRejected}" />
											<h:outputLabel value="#{messages['edrStatus.rated']} :" />
											<h:outputText value="#{configIssuesReportingBean.edrReportConfig.nbrEdrRated}" />
											<h:outputLabel value="#{messages['edrStatus.aggregated']} :" />
											<h:outputText value="#{configIssuesReportingBean.edrReportConfig.nbrEdrAggregated}" />
											<h:outputLabel value="#{messages['edrStatus.mediating']} :" />
											<h:outputText value="#{configIssuesReportingBean.edrReportConfig.nbrEdrMediating}" />
										</hftl:panelGroup>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
							<p:accordionPanel activeIndex="null" dynamic="false">
								<p:tab>
									<f:facet name="title">
										<h:outputText value="#{messages['configIssuesReporting.jasperFiles']} : " />
										<h:outputText value="#{configIssuesReportingBean.nbrJasperNotFound}" style="#{configIssuesReportingBean.nbrJasperNotFound==0?'color:#3FCA21':'color:red'}" />
									</f:facet>
									<h:panelGrid columns="1" rendered="#{configIssuesReportingBean.nbrJasperNotFound!=0}">
										<p:dataTable var="jasper" value="#{configIssuesReportingBean.jaspers}" id="jaspers_dataTable" style="width:900px;" rows="10" paginator="true" paginatorAlwaysVisible="false"
											paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{messages['configIssuesReporting.jasperDirectory']}" />
												</f:facet>
												<h:outputText value="#{jasper.key}" />
											</p:column>
											<p:column>
												<f:facet name="header">
													<h:outputText value="#{messages['configIssuesReporting.jaspers']}" />
												</f:facet>
												<h:outputText value="#{jasper.value}" />
											</p:column>
										</p:dataTable>
									</h:panelGrid>
								</p:tab>
							</p:accordionPanel>
						</h:panelGrid>
					</h:panelGrid>
				</p:tab>
				<p:tab title="#{messages['menu.reporting']}">
					<p:panelGrid columns="1" layout="grid">
						<c:forEach items="#{chartBean.chartEntityModels}" var="chart" varStatus="i">
							<hf:chartComponent model="#{chart}" chartBean="#{chartBean}" index="#{i.index}" />
						</c:forEach>
					</p:panelGrid>
				</p:tab>
			</p:tabView> -->
		</p:panel>

	</ui:define>
</ui:composition>
