<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:o="http://omnifaces.org/ui" xmlns:hftl="http://hftl.org"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<!--
    A tag to manage custom field tabs
    Makes part of custom field management tag group 
    
    Attributes
        prefix - prefix for component to distinguish when used multiple times in save page
        backingBean - backing bean associated with entity
        entity - entity associated with custom fields. If not provided a backingBean.entity will be used
        edit - edit mode. Inherited from formPanel otherwise
        datePattern - date pattern for date entry/display
        dateTimePattern - date time pattern for period date display
        messagesId - an ID of messages component for validation messages
        defaultTabLabel - a default tab label if it was not set during entity customization. If not provided a messages['customFieldTemplate.cfValues'] will be used
        renderForm - adds a form inside the tab
        
-->

<ui:composition>

	<c:forEach items="#{groupFieldTemplateChildren}" var="cfTab" varStatus="cfTabStatus">
		
        <c:set var="tabLabel" value="#{cfTab.data eq 'Custom fields'? defaultTabLabel: cfTab.data.getLabel(customFieldDataEntryBean.currentLocale.ISO3Language)}" ></c:set>
        <c:set var="renderTab" value="#{cfTab.hasVisibleCustomFields(entity, cfValueHolder)}" />

		<c:if test="#{renderTab}">
	        <p:tab title="#{tabLabel}">
	            <c:if test="#{renderForm}">
	                <h:form id="#{prefix}_form_group_#{cfTabStatus.index}">
	                    <h:panelGroup id="form_panel">
	                        <hftl:customFieldFormOrPanel cfTag="#{cfTab}" entity="#{entity}" edit="#{edit}" messagesId="#{messagesId}" datePattern="#{datePattern}"
	                            dateTimePattern="#{dateTimePattern}" prefix="#{prefix}_form_#{cfTabStatus.index}" />
	                    </h:panelGroup>
	                </h:form>
	            </c:if>
	
	            <c:if test="#{!renderForm}">
	                <h:panelGroup id="#{prefix}_panel_group_#{cfTabStatus.index}">
	                    <hftl:customFieldFormOrPanel cfTag="#{cfTab}" entity="#{entity}" edit="#{edit}" messagesId="#{messagesId}" datePattern="#{datePattern}"
	                        dateTimePattern="#{dateTimePattern}" prefix="#{prefix}_panel_#{cfTabStatus.index}" />
	                </h:panelGroup>
	            </c:if>
	        </p:tab>
        </c:if>
        
        <c:if test="#{!renderTab}">
        	<c:if test="#{renderForm}">
                <h:form id="#{prefix}_form_group_#{cfTabStatus.index}">
                    <h:panelGroup id="form_panel">
                        <hftl:customFieldFormOrPanel cfTag="#{cfTab}" entity="#{entity}" edit="#{edit}" messagesId="#{messagesId}" datePattern="#{datePattern}"
                            dateTimePattern="#{dateTimePattern}" prefix="#{prefix}_form_#{cfTabStatus.index}" />
                    </h:panelGroup>
                </h:form>
            </c:if>

            <c:if test="#{!renderForm}">
                <h:panelGroup id="#{prefix}_panel_group_#{cfTabStatus.index}">
                    <hftl:customFieldFormOrPanel cfTag="#{cfTab}" entity="#{entity}" edit="#{edit}" messagesId="#{messagesId}" datePattern="#{datePattern}"
                        dateTimePattern="#{dateTimePattern}" prefix="#{prefix}_panel_#{cfTabStatus.index}" />
                </h:panelGroup>
            </c:if>
        </c:if>
        
    </c:forEach>

</ui:composition>
</html>
