<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<!--
    Makes part of "happy faces" component group.
    A custom tag to display a form data entry panel wrapping data entry fields and buttons implementing navigation functionality. 
    Unlike formPanel component, this tag serves layout and styling functionality purpose only. Requires no backing beans nor entities. 
 
    Attributes
        label - a panel header
        edit - edit or view mode
        formId - form id value
        showMessages - should messages component be included
        autoupdateMessages - should messages be updated automatically
        
    Components
        fields - fields to include. Can be specified via <ui:define ..> tag
        buttons - buttons to include. Can be specified via <ui:define ..> tag
        
-->

<ui:composition>

    <c:if test="${empty formId}">
        <c:set var="formId" value="form" />
    </c:if>

    <c:if test="${empty edit}">
        <c:set var="edit" value="true" />
    </c:if>
    <c:set var="formLevelEdit" value="${edit}" />

    <c:if test="${empty showMessages}">
        <c:set var="showMessages" value="true" />
    </c:if>

    <c:if test="${empty autoupdateMessages}">
        <c:set var="autoupdateMessages" value="true" />
    </c:if>
    
    <c:if test="${empty rendered}">
        <c:set var="rendered" value="true" />
    </c:if>

    <h:form id="#{formId}">
        <p:panel rendered="#{rendered}">
            <c:if test="#{not empty label}">
                <f:facet name="header">
                    <h:outputText value="#{label}" />
                </f:facet>
            </c:if>
            <p:panel layout="block" styleClass="form-panel">
                <c:if test="#{showMessages}">
                    <p:messages id="messages" autoUpdate="#{autoupdateMessages}" />
                </c:if>
                <p:outputPanel styleClass="form-panel-fields #{edit?'':' form-panel-fields-view'}">
                    <ui:insert name="fields" />
                </p:outputPanel>
                <h:panelGroup id="decorateFormPanelButtons" layout="block" styleClass="form-panel-actions">
                    <ui:insert name="buttons" />
                </h:panelGroup>
            </p:panel>
        </p:panel>
    </h:form>
</ui:composition>

</html>
