<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<!-- 

    Makes part of "happy faces" component group.
    A custom tag to wrap child components into a "form field" like component with a label.
        

JSF tag to display a pair of field label and field entry/output value in a SINGLE or TWO line as a floating div in the following format:
 <div class="formFieldGroup ...">
    <label class="header-text ...">
    <div class="formFieldItem/formFieldItem2Lines ...">
        anything that was surrounded by c:decorate tag
    </div>
 </div> 
 
    Attributes
        label - a label
        fieldId - an id of a component to tie the label to 
        rendered -  to not render this component

    Style/layout related attributes
        styleClass - additional style class to apply to a component's div - will be added next to formFieldGroup class
        style - additional inline style to apply to a component's div
        labelStyleClass - additional style class to apply to a label
        labelStyle - additional inline style to apply to a label
        inputStyleClass - additional style class to apply to a div surrounding an input - will to be added next to formFieldItem class
        inputStyle - additional inline style to apply to a iv surrounding an input
        newLine - should component apply clear:left style on a component DIV
        
    Component by default will occupy a full width of a parent's container space - 100%
    To display two components in one line, each component width should be limited to 50% each. 
    To display three - should be limited into 33% each.
    
    The following attributes manage the width of the component, label and input container. 
    Note that label and input container's with is measured in relation to component's with - not the page width.
        displayOneLine - should input controls be displayed in one (true) or two lines (false)
        componentWidth - a percentage (without % sign) of parent's component's space that component should occupy. Default 25 - a quarter width of a parent container's space.
        labelWidth - applies only when displayOneLine=true - a percentage (without % sign) that label should occupy. Input would occupy 100-labelWidth percent of space. Default - 20, that is 20% of a component's width.

 -->

<ui:composition>

    <c:if test="${empty(componentWidth)}">
        <c:set var="componentWidth" value="25" />
    </c:if>

    <c:if test="${empty(displayOneLine)}">
        <c:set var="displayOneLine" value="false" />
    </c:if>

    <c:if test="${empty(newLine)}">
        <c:set var="newLine" value="false" />
    </c:if>

    <c:if test="${empty(labelWidth)}">
        <c:set var="labelWidth" value="#{displayOneLine?(componentWidth>60?20:30):100}" />
    </c:if>

    <c:if test="${empty(inputWidth)}">
        <c:set var="inputWidth" value="#{displayOneLine?(100-labelWidth):100}" />
    </c:if>

    <!--  Commented out as it was always resolved to null in ui:repeat and similar cases. It worked only in c:foreach case. -->
    <!--     <c:if test="${empty(rendered)}"> -->
    <!--         <c:set var="rendered" value="true" /> -->
    <!--     </c:if> -->

    <h:panelGroup layout="block" styleClass="formFieldGroup #{styleClass} #{newLine?'clearLeft':''}" style="width:#{componentWidth}%; #{style} "
        rendered="#{rendered==null?true:rendered}">
        <p:outputLabel for="#{fieldId}" styleClass="#{labelStyleClass}" style="width:#{labelWidth}%; #{labelStyle}" value="#{label}" rendered="#{label!=null and fieldId!=null}" />
        <p:outputLabel styleClass="#{labelStyleClass}" style="width:#{labelWidth}%; #{labelStyle}" value="#{label}" rendered="#{label!=null and fieldId==null}" />
        <h:panelGroup layout="block" styleClass="#{displayOneLine?'formFieldItem':'formFieldItem2Lines'} #{inputStyleClass}" style="width:#{inputWidth}%;  #{inputStyle}">
            <ui:insert />

        </h:panelGroup>
    </h:panelGroup>
</ui:composition>

</html>
