<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	xmlns:o="http://omnifaces.org/ui" xmlns:hftl="http://hftl.org"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<!--
    A tag to display generic workflow history of an entity
    
    
    Attributes
       	backingBean - backing bean associated with entity
        tabLabel - the tab label . If not provided a messages['generic.wfHistory.tabLabel'] will be used
-->

<ui:composition>

	<c:if test="${empty(tabLabel)}">
		<c:set var="tabLabel" value="${messages['generic.wfHistory.tabLabel']}" />
	</c:if>
	
	<c:if test="${entity == null}">
		<c:set var="entity" value="#{backingBean.entity}" />
	</c:if>
	
	<c:set var="clazz" value="#{backingBean.clazz}" />
	
	<p:tab id="wfHistoryTab" title="${tabLabel}"
		   rendered="${!empty(workflowInstanceHistoryBean.getWorkflowInstances(entity, clazz))}">
	  <h:panelGroup>
		  <p:fieldset legend="#{messages['generic.wfHistory.linkedInstances']}">
		  		<p:dataTable var="wfInstance" backingBean="#{workflowInstanceHistoryBean}" value="#{workflowInstanceHistoryBean.getWorkflowInstances(entity, clazz)}" paginator="true" rows="10" 
	                  sortField="#{'genericWorkflow.code'}" sortBy="#{wfInstance.genericWorkflow.code}" sortOrder="DESCENDING" paginatorAlwaysVisible="false"
	                  paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="20"
	                  lazy="false" styleClass="custom-grid" reflow="true">
	                  <hftl:column label="#{messages['generic.wf.title']}" field="genericWorkflow.code" entity="${wfInstance}" />
	                  <hftl:column label="#{messages['BusinessEntity.description']}" field="genericWorkflow.description" entity="${wfInstance}" />
	                  <hftl:column label="#{messages['wfStatus.current']}" field="currentStatus.code" entity="${wfInstance}" />
	                  <hftl:column label="#{messages['BusinessEntity.description']}" field="currentStatus.description" entity="${wfInstance}" />
	                  
	                  <p:column headerText="#{messages['commons.actions']}">
                             <p:commandButton icon="ui-icon-document" action="#{workflowInstanceHistoryBean.selectWFInstance(wfInstance)}"
                                 update=":#{component.namingContainer.parent.namingContainer.clientId}:wfHistoryDetails"
                     			 process="@this" />
	                  </p:column>
	            </p:dataTable>
		  </p:fieldset>
	  </h:panelGroup>

	  <h:panelGroup id="wfHistoryDetails">
	  		<c:if test="#{workflowInstanceHistoryBean.selectedWFInstance != null}">
	  			<p:fieldset legend="#{messages['workflowHistory.tabLabel']} for #{workflowInstanceHistoryBean.selectedWFInstance.genericWorkflow.code}">
		             <p:dataTable var="histo" backingBean="#{workflowInstanceHistoryBean}" value="#{workflowInstanceHistoryBean.getWorkflowHistories()}" paginator="true" rows="10"
		                 sortField="#{'actionDate'}" sortBy="#{histo.actionDate}" sortOrder="DESCENDING" paginatorAlwaysVisible="false"
		                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="20"
		                 lazy="false" styleClass="custom-grid" reflow="true">
		                 <hftl:column label="#{messages['workflowHistory.actionDate']}" field="actionDate" entity="${histo}" time="true" isDate="true" />
		                 <hftl:column label="#{messages['workflowHistory.fromStatus']}" field="fromStatus"  entity="${histo}" />
		                 <hftl:column label="#{messages['workflowHistory.toStatus']}" field="toStatus"  entity="${histo}" />
		                 <hftl:column label="#{messages['generic.wf.title']}" field="workflowInstance.genericWorkflow.code" entity="${histo}" />
		                 <hftl:column label="#{messages['workflowHistory.transitionName']}" field="transitionName" entity="${histo}" />
		                 <hftl:column label="#{messages['workflowHistory.creator']}" field="workflowInstance.genericWorkflow.auditable.creator" entity="${histo}" />
		             </p:dataTable>
             	</p:fieldset>
            	</c:if>
          </h:panelGroup>

	</p:tab>
</ui:composition>
</html>