<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
	<!--     
	   idSufix : When having the same field name in the form (e.g : offer.longDescription & service.longDescription) , use this attribut in order to avoid axceptions 
	   due to a duplicate component id ...
	-->

<ui:composition>

    <!--  not not really work. Looks like it has to be passed from c: expression or has to be initialized before hand even the fresh page-->
    <c:if test="${entity == null}">
        <!--         <c:set var="fieldEntityIsNull" value="true"/> -->
        <c:set var="entity" value="${formLevelEntity!=null ? formLevelEntity : backingBean.entity}" />
        <c:set var="defaultEntityFromBean" value="${formLevelEntity==null}" />
    </c:if>
    <!-- <c:set var="formEntityIsNull" value="#{formLevelEntity==null}"/> -->

    <hftl:getFieldInformation backingBean="${backingBean}" entity="${entity}" entityClass="${entityClass}" defaultEntityFromBean="${defaultEntityFromBean}" fieldName="${field}"
        childFieldName="${childField}" var="fieldInfo" />

    <c:if test="${empty(size)}">
        <c:set var="size" value="${fieldInfo.maxLength != null and fieldInfo.maxLength>100?80:35}" />
    </c:if>
    <c:if test="${empty(maxlength)}">
        <c:set var="maxlength" value="${fieldInfo.maxLength != null?fieldInfo.maxLength:(size&lt;=40?40:size)}" />
    </c:if>
    <c:if test="${empty(required)}">
        <c:set var="required" value="${fieldInfo.required}" />
    </c:if>
    <c:if test="${empty(textArea)}">
        <c:set var="textArea" value="${maxlength>255?true:false}" />
    </c:if>
    <c:if test="${empty(componentWidth)}">
        <c:set var="componentWidth" value="50" />
    </c:if>
    <c:if test="${empty(cols)}">
        <c:set var="cols" value="${componentWidth&lt;=50?80:componentWidth&lt;=75?140:190}" />
    </c:if>
    <c:if test="${empty(rows)}">
        <c:set var="rows" value="1" />
    </c:if>

    <c:if test="${empty(displayOneLine)}">
        <c:set var="displayOneLine" value="false" />
    </c:if>
    <c:if test="${empty(multiLang)}">
        <c:set var="multiLang" value="true" />
    </c:if>
    <c:if test="${empty(newLine)}">
        <c:set var="newLine" value="true" />
    </c:if>
    <c:if test="${empty(formLevelEdit)}">
        <c:set var="formLevelEdit" value="${backingBean.edit}" />
    </c:if>
    <c:if test="${empty(edit)}">
        <c:set var="edit" value="#{formLevelEdit}" />
    </c:if>
    <c:if test="${empty(label)}">
        <c:set var="label" value="#{messages['businessEntity.description']}" />
    </c:if>
    
    <c:set var="inputId" value="#{field}" />
    <c:if test="${!empty(idSufix)}">
        <c:set var="inputId" value="#{field}_#{idSufix}" />
    </c:if>

    <hftl:decorateFormField fieldId="#{inputId}" label="#{label}" componentWidth="#{componentWidth}" displayOneLine="#{displayOneLine}" required="#{required}">

        <div style="float: left; width: 36px;">&nbsp;</div>
        <div style="clear: right;">
            <c:if test="#{textArea and edit}">
                <p:inputTextarea id="#{inputId}" value="#{entity[field]}" required="#{required}" cols="#{cols}" rows="#{rows}" maxlength="#{maxlength}" autoResize="true" />
            </c:if>
            <c:if test="#{!textArea and edit}">
                <p:inputText id="#{inputId}" value="#{entity[field]}" size="#{size}" maxlength="#{maxlength}" rendered="#{edit}" required="#{required}" />
            </c:if>
            <c:if test="#{!edit}">
                <h:outputText id="#{inputId}" value="#{entity[field]}" />
            </c:if>
        </div>

        <c:if test="#{multiLang}">
            <ui:repeat var="languageCode" value="#{providerBean.providerLanguages}">
            <div style="clear: both;">
                <div style="float: left">
                    <h:graphicImage value="/img/img#{languageCode}.png" style="height:17px; width:33px; margin-right:3px" />
                </div>
                <div>
                    <c:if test="#{textArea and edit}">
                        <p:inputTextarea value="#{entity[field.concat('I18nNullSafe')][languageCode]}" cols="#{cols}" rows="#{rows}" maxlength="#{maxlength}" autoResize="true" />
                    </c:if>
                    <c:if test="#{!textArea and edit}">
                        <p:inputText value="#{entity[field.concat('I18nNullSafe')][languageCode]}" size="#{size}" maxlength="#{maxlength}" />
                    </c:if>
                    <h:outputText rendered="#{!edit}" value="#{entity[field.concat('I18n')][languageCode]}" style="font-weight:bold;" />
                </div>
            </div>
            </ui:repeat>
        </c:if>
    </hftl:decorateFormField>
</ui:composition>
</html>