<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:hftl="http://hftl.org">

<ui:composition>
    <hftl:decorateFormField fieldId="#{id}" label="#{label}" componentWidth="#{componentWidth}" newLine="#{newLine}"
                            displayOneLine="#{displayOneLine}" styleClass="#{styleClass}" style="#{style}" labelStyle="#{labelStyle}"
                            labelStyleClass="#{labelStyleClass}" inputStyle="#{inputStyle}" inputStyleClass="#{inputStyleClass}" labelWidth="#{labelWidth}"
                            inputWidth="#{inputWidth}">

        <p:dataTable id="#{id}" value="#{fieldItem}" resizableColumns="true" var="mapValues" paginator="false" styleClass="custom-grid" reflow="true">
            <p:column headerText="#{mapKeyLabel}">
                <p:inputText value="#{mapValues['key']}" size="50" maxlength="100" rendered="#{edit}" />
                <h:outputText value="#{mapValues['key']}" styleClass="field-value" rendered="#{not edit}" />
            </p:column>
            <p:column headerText="#{mapValueLabel}">
                <p:inputText value="#{mapValues['value']}" size="50" maxlength="100" rendered="#{edit}" />
                <h:outputText value="#{mapValues['value']}" styleClass="field-value" rendered="#{not edit}" />
            </p:column>
            <p:column rendered="#{edit}" headerText="#{messages['commons.actions']}">
                <p:commandButton icon="ui-icon-minus" partialSubmit="true" process="@this #{id}" update="#{id}"
                                 actionListener="#{backingBean.removeMapTypeFieldValue(field, mapValues)}" />
            </p:column>
            <f:facet name="footer">
                <p:commandButton value="#{messages['commons.addNew']}" partialSubmit="true" process="@this #{id}" update="#{id}"
                                 actionListener="#{backingBean.addMapTypeFieldValue(field)}" rendered="#{edit}" />
            </f:facet>
        </p:dataTable>

    </hftl:decorateFormField>
</ui:composition>

</html>
