<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:hftl="http://hftl.org">


<ui:composition>
    <c:if test="${empty(messagePrefixWithDot)}">
        <c:set var="messagePrefixWithDot" value="#{messagePrefix==null?'':messagePrefix.concat('.')}" />
    </c:if>

    <hftl:decorateFormField fieldId="#{id}" label="#{label}" componentWidth="#{componentWidth}" newLine="#{newLine}" displayOneLine="#{displayOneLine}" styleClass="#{styleClass}" style="#{style}"
        labelStyle="#{labelStyle}" labelStyleClass="#{labelStyleClass}" inputStyle="#{inputStyle}" inputStyleClass="#{inputStyleClass}" labelWidth="#{labelWidth}" inputWidth="#{inputWidth}">

        <c:if test="#{ edit}">
            <!--  As a spinner of values -->
            <c:if test="#{spinner and listValues == null}">

                <c:if test="#{not empty(maxValue) and !negativeValue}">
                    <p:spinner id="#{id}" disabled="#{disabled}" value="#{fieldItem}" required="#{required}" size="#{size}" min="#{minValue}" max="#{maxValue}" maxlength="#{maxlength}">
                        <f:converter converterId="#{converter}" />
                        <c:if test="#{not empty listenerUpdate and empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" event="change" />
                        </c:if>
                        <c:if test="#{not empty listenerUpdate and not empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" listener="#{actionListenerBean[actionListenerMethod]}" event="change" />
                        </c:if>
                    </p:spinner>
                </c:if>
                <c:if test="#{empty(maxValue) and !negativeValue}">
                    <p:spinner id="#{id}" disabled="#{disabled}" value="#{fieldItem}" required="#{required}" size="#{size}" min="#{minValue}" maxlength="#{maxlength}">
                        <f:converter converterId="#{converter}" />
                        <c:if test="#{not empty listenerUpdate and empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" event="change" />
                        </c:if>
                        <c:if test="#{not empty listenerUpdate and not empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" listener="#{actionListenerBean[actionListenerMethod]}" event="change" />
                        </c:if>
                    </p:spinner>
                </c:if>
                <!--  for negative values, it is duplicated because if we set minValue=-99999999 the default value diplayed in GUI is -99999999 -->
                <c:if test="#{negativeValue}">
                    <p:spinner id="#{id}" disabled="#{disabled}" value="#{fieldItem}" required="#{required}" size="#{size}" maxlength="#{maxlength}">
                        <f:converter converterId="#{converter}" />
                        <c:if test="#{not empty listenerUpdate and empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" event="change" />
                        </c:if>
                        <c:if test="#{not empty listenerUpdate and not empty actionListenerBean}">
                            <p:ajax update="#{listenerUpdate}" listener="#{actionListenerBean[actionListenerMethod]}" event="change" />
                        </c:if>
                    </p:spinner>
                </c:if>
            </c:if>

            <!-- As a text field -->
            <c:if test="#{!spinner and listValues == null}">
                <p:inputText id="#{id}" disabled="#{disabled}" value="#{fieldItem}" required="#{required}" size="#{size}" maxlength="#{maxlength}">
                    <f:converter converterId="#{converter}" />
                    <p:keyFilter mask="num"/>
                    <c:if test="#{not empty listenerUpdate and empty actionListenerBean}">
                        <p:ajax update="#{listenerUpdate}" event="change" />
                    </c:if>
                    <c:if test="#{not empty listenerUpdate and not empty actionListenerBean}">
                        <p:ajax update="#{listenerUpdate}" listener="#{actionListenerBean[actionListenerMethod]}" event="change" />
                    </c:if>
                </p:inputText>
            </c:if>

            <!--  As a list of values -->
            <c:if test="#{ listValues != null}">
                <p:selectOneMenu id="#{id}" value="#{fieldItem}" required="#{required}" disabled="#{disabled}">
                    <f:selectItem itemValue="#{null}" itemLabel="" />
                    <f:selectItems value="#{listValues.entrySet()}" var="listVal" itemValue="#{listVal.key}" itemLabel="#{listVal.value}" />
                    <c:if test="#{not empty listenerUpdate and empty actionListenerBean}">
                        <p:ajax update="#{listenerUpdate}" event="valueChange" />
                    </c:if>
                    <c:if test="#{not empty listenerUpdate and not empty actionListenerBean}">
                        <p:ajax update="#{listenerUpdate}" listener="#{actionListenerBean[actionListenerMethod]}" event="valueChange" />
                    </c:if>
                </p:selectOneMenu>
            </c:if>
        </c:if>

        <c:if test="#{! edit}">
            <c:if test="#{! isMessage}">
                <h:outputText id="#{id}" value="#{fieldItem}" styleClass="field-value">
                    <f:converter converterId="#{converter}" />
                </h:outputText>
            </c:if>
            <c:if test="#{isMessage}">
                <h:outputText id="#{id}" value="#{messages[messagePrefixWithDot.concat(fieldItem)]}" styleClass="field-value" />
            </c:if>
        </c:if>
    </hftl:decorateFormField>
</ui:composition>

</html>