<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:hftl="http://hftl.org">

<ui:composition>
    <hftl:decorateFormField fieldId="#{id}" label="#{label}" componentWidth="#{componentWidth}" newLine="#{newLine}" displayOneLine="#{displayOneLine}" styleClass="#{styleClass}"
        style="#{style}" labelStyle="#{labelStyle}" labelStyleClass="#{labelStyleClass}" inputStyle="#{inputStyle}" inputStyleClass="#{inputStyleClass}" labelWidth="#{labelWidth}"
        inputWidth="#{inputWidth}">

        <!--  A single value -->
        <c:if test="#{not rangeSearch}">
            <p:calendar id="#{id}" value="#{backingBean.filters[field]}" pattern="#{datePattern}" disabled="#{disabled}" size="16"/>
        </c:if>

        <!--  A range of values -->
        <c:if test="#{rangeSearch}">
            <h:panelGrid columns="3">
<!--                 <h:outputText value="#{messages['commons.dateFrom']}" style="padding-right:5px" /> -->
                <p:calendar id="#{id}" value="#{backingBean.filters['fromRange '.concat(field)]}" pattern="#{datePattern}" disabled="#{disabled}" size="16" placeholder="#{messages['commons.dateFrom']}"/>

                <h:outputText value="-" style="padding:5px" />
                <p:calendar id="#{id}_toRange" value="#{backingBean.filters['toRange '.concat(field)]}" pattern="#{datePattern}" disabled="#{disabled}" size="16" placeholder="#{messages['commons.dateTill']}"/>
            </h:panelGrid>
        </c:if>
    </hftl:decorateFormField>
</ui:composition>

</html>
