<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"  xmlns:hftl="http://hftl.org">

<ui:composition>
    <hftl:decorateFormField fieldId="#{id}" label="#{label}" componentWidth="#{componentWidth}" newLine="#{newLine}" displayOneLine="#{displayOneLine}" styleClass="#{styleClass}"
        style="#{style}" labelStyle="#{labelStyle}" labelStyleClass="#{labelStyleClass}" inputStyle="#{inputStyle}" inputStyleClass="#{inputStyleClass}" labelWidth="#{labelWidth}"
        inputWidth="#{inputWidth}">

        <!--  A single value entry -->
        <c:if test="#{not rangeSearch}">
            <p:inputText id="#{id}" value="#{backingBean.filters[field]}" size="5" disabled="#{disabled}">
                <f:converter converterId="${converterId}" />
            </p:inputText>
        </c:if>

        <!--  A range of numbers -->
        <c:if test="#{rangeSearch}">
            <h:panelGrid columns="3">
<!--                 <h:outputText value="#{messages['commons.from']}" style="padding-right:5px" /> -->
                <p:inputText id="#{id}" value="#{backingBean.filters['fromRange '.concat(field)]}" size="5" disabled="#{disabled}" placeholder="#{messages['commons.from']}">
                    <f:converter converterId="${converterId}" />
                </p:inputText>

                <h:outputText value="-" style="padding:5px" />
                <p:inputText id="#{id}_to" value="#{backingBean.filters['toRange '.concat(field)]}" size="5" disabled="#{disabled}" placeholder="#{messages['commons.to']}">
                    <f:converter converterId="${converterId}" />
                </p:inputText>
            </h:panelGrid>
        </c:if>
    </hftl:decorateFormField>
</ui:composition>

</html>
