<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:s="http://jboss.org/seam/faces" xmlns:hftl="http://hftl.org" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition>
    <hftl:decorateFormField fieldId="#{id}" label="#{label}" componentWidth="#{componentWidth}" newLine="#{newLine}" displayOneLine="#{displayOneLine}" styleClass="#{styleClass}" style="#{style}"
        labelStyle="#{labelStyle}" labelStyleClass="#{labelStyleClass}" inputStyle="#{inputStyle}" inputStyleClass="#{inputStyleClass}" labelWidth="#{labelWidth}" inputWidth="#{inputWidth}">


        <!-- Entity selection via popup -->
        <c:if test="#{popup}">
            <h:panelGroup>
                <p:inputText id="#{id}" value="#{backingBean.filters[field][valueLabelField]}" size="#{size}" disabled="true" />
                <p:commandButton id="#{id}_selectLink" onclick="PF('dlg_#{popupId}').show()" icon="ui-icon-search" type="button" />
                <p:commandButton immediate="true" rendered="#{showResetButton}" id="#{id}_resetLink" update="#{id}" icon="ui-icon-close">
                    <f:setPropertyActionListener target="#{backingBean.filters[field]}" value="#{null}" />
                </p:commandButton>
            </h:panelGroup>
        </c:if>

        <!-- Entity selection from a picklist -->

        <c:if test="#{!popup}">

            <c:if test="#{listElements==null}">
                <c:set var="elements" value="#{listBean.listAll()}" />
            </c:if>
            <c:if test="#{listElements!=null}">
                <c:set var="elements" value="#{listElements}" />
            </c:if>
            <c:if test="#{filterMatchMode==null}">
                <c:set var="filterMatchMode" value="startWith"/>
            </c:if>


            <c:if test="#{!multiSelect}">
                <p:selectOneMenu id="#{id}" value="#{backingBean.filters[field]}">
                    <f:selectItem itemLabel="" itemValue=""/>
                    <f:selectItems value="#{elements}" var="elem" itemLabel="#{elem[valueLabelField]}" itemValue="#{elem}"/>
                    <hftl:objectConverter/>
                </p:selectOneMenu>
            </c:if>
            <c:if test="#{multiSelect}">
                <p:selectCheckboxMenu style="width:#{100}%" id="#{id}" value="#{backingBean.filters[field]}" multiple="true"
                                      filter="true" filterMatchMode="#{filterMatchMode}" panelStyle="width:250px">
                    <f:selectItems value="#{elements}" var="elem" itemLabel="#{elem[valueLabelField]}" itemValue="#{elem}"/>
                    <hftl:objectConverter/>
                </p:selectCheckboxMenu>
            </c:if>
        </c:if>
    </hftl:decorateFormField>
</ui:composition>

</html>
