<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags" xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:hftl="http://hftl.org"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<!--
    Makes part of "happy faces" component group.
    A custom component to display a search panel wrapping search fields and buttons implementing search and additional navigation functionality 
 
    Attributes
        formId - form id value. Defaults to "searchForm"
        backingBean - backing bean associated with search.
        label - a panel header (@deprecated, replaced by breadcrumb)
        renderNewButton - should a "create new entity" button be displayed   
        newButtonView - an outcome view for "create new entity"
        ajax and ajaxUpdateIds - should search be done in ajax way and a list of component ids to update upon completion
        renderAdvancedLink - should a "show/hide advanced search fields" button be displayed
        
    Facets
        buttons - additional buttons to include after the last button  
-->

<ui:composition>

    <c:if test="${empty(renderNewButton)}">
        <c:set var="renderNewButton" value="true" />
    </c:if>
    <c:if test="${empty(ajax)}">
        <c:set var="ajax" value="true" />
    </c:if>
    <c:if test="${empty(ajaxUpdateIds)}">
        <c:set var="ajaxUpdateIds" value="results_panel filterParameters" />
    </c:if>
    <c:if test="${empty(renderAdvancedLink)}">
        <c:set var="renderAdvancedLink" value="false" />
    </c:if>
    <c:if test="${empty(newButtonView)}">
        <c:set var="newButtonView" value="#{backingBean.newViewName}" />
    </c:if>

    <h:form id="${empty(formId)?'searchForm':formId}">
        <p:panel>
            <h:panelGroup layout="block" styleClass="search-panel">
                <p:messages id="search_messages" autoUpdate="true" redisplay="false"/>
                <p:outputPanel styleClass="search-panel-fields">
                    <c:set var="id" value="${null}" />
                    <ui:insert />
                </p:outputPanel>

                <h:panelGroup layout="block" styleClass="search-panel-actions" rendered="#{backingBean.getListFilters() ne null and backingBean.getListFilters().size() > 0}">
                    <hftl:decorateFormField label="#{messages['menu.filters']}" fieldId="filter">
                        <p:selectOneMenu id="filter" value="#{backingBean.listFilter}" converter="omnifaces.SelectItemsConverter">
                            <f:selectItem itemLabel="" itemValue="" />
                            <f:selectItems value="#{backingBean.getListFilters()}" var="elem" itemLabel="#{elem.descriptionOrCode}" itemValue="#{elem}" />
                            <p:ajax listener="#{backingBean.runListFilter()}" update="#{ajaxUpdateIds}"></p:ajax>
                        </p:selectOneMenu>
                    </hftl:decorateFormField>
                    <p:panel id="filterParameters">
                        <p:panel rendered="#{backingBean.listFilter ne null}">
                            <hftl:customFields backingBean="#{filterBean}" entity="#{backingBean.listFilter}" messagesId=":formId:search_messages" />
                        </p:panel>
                    </p:panel>
                </h:panelGroup>

                <h:panelGroup layout="block" styleClass="search-panel-actions">
                    <p:commandButton id="buttonSearch" value="#{messages['commons.search']}" ajax="#{ajax}" action="#{backingBean.search}" update="#{ajaxUpdateIds}" process="@form"/>
                    <p:commandButton id="buttonAdvanced" rendered="#{renderAdvancedLink and !backingBean.advanced}" value="#{messages['commons.advancedButton']}"
                        actionListener="#{backingBean.advancedAction}" update="@form" process="@form"/>
                    <p:commandButton id="buttonHideAdvanced" rendered="#{renderHideAdvancedLink and backingBean.advanced}" value="#{messages['commons.hideAdvancedButton']}"
                        actionListener="#{backingBean.advancedAction}" update="@form" process="@form" />
                    <p:commandButton value="#{messages['commons.clean']}" process="@form" update="@form #{ajaxUpdateIds}" action="#{backingBean.clean}" >
                        <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                    </p:commandButton>
            
                    <p:button id="buttonNew" value="#{messages['commons.new']}" outcome="#{newButtonView}" rendered="#{renderNewButton and backingBean.canUserUpdateEntity()}">
                        <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                        <f:param name="edit" value="true" />
                    </p:button>

                    <ui:insert name="buttons" />
                </h:panelGroup>
            </h:panelGroup>
        </p:panel>

        <p:blockUI block="#{ajaxUpdateIds}" trigger="buttonSearch">
            #{messages['commons.loading']}<br />
            <p:graphicImage value="/img/ajaxloadingbar.gif" />
        </p:blockUI>
    </h:form>

</ui:composition>
</html>