<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{titleListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}"
					disabled="true" />
				<p:menuitem value="#{messages['menu.titles']}" outcome="titles" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['title.search']}"
			backingBean="#{titleListBean}" columns="3">
			<hftl:searchField label="#{messages['title.code']}" field="code" />
			<hftl:searchField label="#{messages['title.description']}"
				field="description" />
			<hftl:searchField label="#{messages['title.isCompany']}"
				field="isCompany" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['title.title']}"
			backingBean="#{titleListBean}" sortBy="code">
			<hftl:column label="#{messages['title.code']}" field="code" />
			<hftl:column label="#{messages['title.description']}"
				field="description" />
			<hftl:column label="#{messages['title.isCompany']}" field="isCompany"
				isMessage="true" />

			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
