<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{usageChargeTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="usageChargeTemplates"
					value="#{messages['menu.usageChargeTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['usageChargeTemplate.title']}"
			backingBean="#{usageChargeTemplateListBean}">
			<hftl:searchField label="#{messages['chargeTemplate.code']}"
				field="code" />
			<hftl:searchField label="#{messages['chargeTemplate.description']}"
				id="description" field="description" />
			<hftl:searchField label="#{messages['chargeTemplate.priority']}"
				field="priority" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}"
				field="disabled" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['usageChargeTemplate.title']}"
			sortBy="code" backingBean="#{usageChargeTemplateListBean}">
			<hftl:column label="#{messages['chargeTemplate.code']}" field="code" />
			<hftl:column label="#{messages['chargeTemplate.description']}"
				field="description" />
			<hftl:column label="#{messages['chargeTemplate.unitMultiplicator']}"
				field="unitMultiplicator" converterParam="12digits" />
			<hftl:column
				label="#{messages['chargeTemplate.ratingUnitDescription']}"
				field="ratingUnitDescription" />
			<hftl:column label="#{messages['usageChargeTemplate.filterParam1']}"
				field="filterParam1" />
			<hftl:column label="#{messages['usageChargeTemplate.filterParam2']}"
				field="filterParam2" />
			<hftl:column label="#{messages['menu.triggeredEdrTemplates']}"
				field="edrTemplates" valueLabelField="code" isList="true"
				sort="false" />
			<hftl:column label="#{messages['usageChargeTemplate.priority']}"
				field="priority" />
			<hftl:column label="#{messages['menu.status']}"
				field="status" valueLabelField="code" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="disabled" isDisabledMessage="true" />
			<hftl:actionsColumn renderEnableLink="true"
				renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
