<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{triggeredEDRTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="triggeredEdrTemplates"
					value="#{messages['menu.triggeredEdrTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['triggeredEdrTemplate.search']}"
			backingBean="#{triggeredEDRTemplateListBean}">
			<hftl:searchField label="#{messages['businessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['businessEntity.description']}"
				field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['triggeredEdrTemplate.title']}" sortBy="code"
		    backingBean="#{triggeredEDRTemplateListBean}">
			<hftl:column label="#{messages['businessEntity.code']}" field="code" />
			<hftl:column label="#{messages['businessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['triggeredEdrTemplate.conditionEl']}"
				field="conditionEl" />
			<hftl:column label="#{messages['triggeredEdrTemplate.quantityEl']}"
				field="quantityEl" />
			<hftl:column label="#{messages['triggeredEdrTemplate.param1El']}"
				field="param1El" />
			<hftl:column label="#{messages['triggeredEdrTemplate.param2El']}"
				field="param2El" />
			<hftl:actionsColumn
				renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
