<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{quoteListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <!-- Entity select popup. -->
        <hftl:entityPopup id="searchUAPopup" header="#{messages['userAccount.popup.header']}" backingBean="#{userAccountBean}"
            searchField1Label="#{messages['businessEntity.code']}" searchField1="code" searchField2Label="#{messages['businessEntity.description']}" searchField2="description"
            column1Label="#{messages['businessEntity.code']}" column1="code" column2Label="#{messages['businessEntity.description']}" column2="description"
            selection="#{quoteListBean.filters['userAccount']}" updateField=":searchForm:userAccount">
        </hftl:entityPopup>

        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.quotes']}" disabled="true" />
                <p:menuitem outcome="quotes" value="#{messages['menu.quotes']}" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel backingBean="#{quoteListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" field="description" />
            <!--             <hftl:searchField label="#{messages['quote.userAccount']}" field="userAccount" id="userAccount" valueLabelField="code" popup="true" popupId="searchUAPopup" /> -->
            <hftl:searchField label="#{messages['quote.quoteDate']}" field="quoteDate" />
            <hftl:searchField label="#{messages['commons.status']}" field="status" />
            <hftl:decorateFormField fieldId="showMyQuotesOnly" label="#{messages['quotes.showMyQuotesOnly']}"
                rendered="#{currentUser.hasRoles('administrationVisualization','administrationManagement')}">
                <p:selectBooleanCheckbox id="showMyQuotesOnly" value="#{quoteListBean.showMyQuotesOnly}" />
            </hftl:decorateFormField>
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['quotes.title']}" sortBy="quoteDate" sortQuote="DESCENDING" backingBean="#{quoteListBean}">
            <hftl:column label="#{messages['quote.quoteDate']}" field="quoteDate" isDate="true" />          
            <hftl:column label="#{messages['businessEntity.code']}" field="code" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['quote.userAccount']}" field="userAccounts" isList="true" valueLabelField="descriptionOrCode" />
            <hftl:column label="#{messages['commons.status']}" field="status" isMessage="true" messagePrefix="QuoteStatusEnum" />
            <hftl:column label="#{messages['quote.completionDate']}" field="completionDate" isDate="true"/>
            <hftl:column label="#{messages['quote.receivedFromApp']}" field="receivedFromApp" />
            <hftl:column label="#{messages['quote.routedTo']}" field="routedToUserGroup.descriptionOrCode" />
            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
