/* Helper classes
====================================== */

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.border-left {
  border-left: 1px solid #ddd !important;
}

.border-right {
  border-right: 1px solid #ddd !important;
}

.text-bold {
  font-weight: 700;
}

.text-red {
  color: #d13b42 !important;
}

.text-blue::before,
.text-blue {
  color: #003050;
}

a.text-blue:hover,
a.text-blue:hover::before {
  color: #5c5cab !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.no-text-decoration {
	text-decoration: none;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.no-box-shadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.hidden {
  display: none !important;
}

.btn-wrapper {
  background: #eee;
  color: #333;
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px !important;
  padding: 10px 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper a {
  color: #333;
  font-size: 16px !important;
  font-weight: 300;
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper i {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.btn-wrapper:hover {
  background: #002050;
  color: #fff !important;
  border-color: rgba(0, 0, 0, .1);
}

.btn-wrapper:hover i,
.btn-wrapper:hover a {
  color: #fff !important;
}

.ui-paginator-bottom {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fa-2x {
  font-size: 1.7em !important;
}

.text-center {
  text-align: center !important;
}

hr {
  background-color: #002050;
  width: 50px;
  height: 2px;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 10px;
  border: 0;
  border-top: 1px solid rgba(0, 32, 80, .1);
  box-sizing: content-box;
}

/* Override Default Styles
===================================== */
body {
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  /*font-size: 16px;*/
  /*font-weight: 300;*/
}

.ui-tabs .ui-tabs-nav li {
  background: #eee;
  color: #333;
  outline: none;
  border-color: #ddd !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-tabs .ui-tabs-nav li a {
  color: #333;
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 15px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: #fff;
  border-color: #ddd;
  /*background: #eb2f2f;*/
  /*border-color: #d13b42 !important;*/
  border-bottom: 1px solid transparent !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  /*color: #fff;*/
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.ui-widget-content {
  border-color: #ddd !important;
}

.ui-datatable .ui-widget-header,
.ui-treetable .ui-widget-header {
  background: #fff;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: none;
  background-color: #fff;
  /*font-size: 16px;*/
  font-weight: 300;
  /*padding: 3px 5px;*/
  border: 1px solid #ddd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  /*background: #eb2f2f;*/
  /*color: #fff;*/
  /*border: 1px solid #d13b42;*/
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  padding: 4px 4px;
}

.ui-datatable,
.ui-treetable {
  border-color: #ddd;
}

.ui-widget-header {
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

.ui-datatable,
.ui-treetable,
.ui-corner-all {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.ui-corner-top {
  -moz-border-radius-topleft: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.ui-inputfield,
.ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
  background: #003050;
  border-right: 1px solid #a8a8a8;
  margin-right: -1px;
  margin-top: -1px;
}

.ui-state-highlight {
  background: #eb2f2f !important;
  background-image: none !important;
}

.ui-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-datatable table thead tr th {
  background: #eee !important;
  font-size: 16px;
  padding: 7px 0;
}

.ui-datatable table thead tr .ui-state-hover {
  border: 1px solid #ddd !important;
}

.position-relative {
  position: relative;
}

/* Custom Styles
====================================== */

input[type="text"] {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.ui-grid-row {
  border-bottom: 1px solid #ddd;
}

.ui-grid-row:last-child {
  border-bottom: none;
}

.ui-commandlink {
  text-decoration: none;
}

.ui-grid-row .ui-commandlink {
  color: #003050 !important;
}

.ui-grid-row .ui-commandlink:hover::before {
  color: #5c5cab !important;
}

.ui-grid-row .ui-widget .ui-widget {
  border-radius: 0 !important;
}

.ui-panel-titlebar {
  color: #333;
  text-align: center!important;
  text-transform: uppercase;
}

.ui-separator {
  display: none;
}

.ui-paginator {
  background: #eee;
  padding: 15px;
  border: 1px solid #ddd !important;
}

.ui-inputswitch {
  height: 18px;
}

.ui-breadcrumb ul li a {
  margin-top: 4px !important;
  text-decoration: none;
}

.ui-breadcrumb ul li a:hover {
  color: #d13b42;
}

.ui-breadcrumb ul li .ui-menuitem-link {
  margin-top: 0;
}


/*--------- */
#topbar-wrapper {
  padding: 0 15px;
}

#layout-topbar-cover {
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
  font-size: 15px;
  color: #2f2f2f;
}

#layout-topbar-cover {
  font-weight: normal;
  line-height: 1.5;
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  font-size: inherit;
  font-size: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-rendering: auto;
}

#layout-topbar {
  background: #fff;
  line-height: 40px;
  /*margin: 0 auto 10px;*/
}

#layout-topbar ul {
  margin: 0;
}

#layout-topbar li a {
  color: #fff;
  text-decoration: none;
}

#cog-submenu {
  position: relative;
  top: 61px;
  right: 28px;
  border: 1px solid #ddd;
}

#cog-submenu li a {
  background: #eee;
  display: block;
  padding: 7px 15px;
}

#cog-submenu li a:hover {
  background: #eb2f2f;
  color: #fff;
}

/* Marketing Home
====================================*/
.bg-darkgoldenrod {
  background: #b45f06;
}

.bg-royalblue {
  background: #2b78e4;
}

.bg-goldenrod {
  background: #f1c232;
}

.bg-olivedrab {
  background: #6aa84f;
}

.box {
  width: calc(50% - 32px);
  font-family: 'Segoe UI', 'wf_segoe-ui_normal', 'Source Sans Pro', Arial, sans-serif;
  margin: 15px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition: all .35s ease;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.box:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -moz-transition: all .35s ease;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.box-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
}

.box-percentage {
  color: #fff;
  font-size: 4.5em;
  font-weight: 700;
  line-height: 1.5em;
}

.box-direction {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

.box-last-update {
  color: rgba(0, 0, 0, .5);
  font-size: 1em;
  padding-top: 15px;
}

#logo-wrapper {
  display: block;
  margin: 0;
  padding: 0;
}

#logo-wrapper img {
  width: 250px;
}

#menu-button- {
  display: block;
  height: auto;
  margin-top: 17px;
}

#menu-button i {
  font-size: 3em;
  font-weight: 300;
  display: block;
  background: #003050;
  color: #fff;
  cursor: pointer;
  padding: 1px 5px 1px 5px;
}

#top-right-menu a {
  color: #264676;
  font-size: 16px;
  line-height: 1;
  vertical-align: bottom;
  text-decoration: none;
}

#top-right-menu li:last-child {
  border-left: 1px solid #ddd;
}

#top-right-menu a:hover {
  color: #5c5cab
}

#top-right-menu .fa-question {
  line-height: 1.9em;
}

#top-right-menu i {
  line-height: 73px !important;
}

.marketing-manager-wrapper .ui-state-default {
  background: #eb2f2f !important;
}

.offer-wrapper {
  margin: 50px auto;
}

.offer-wrapper .ui-tabs-nav {
  margin-top: -47px !important;
}

.offer-wrapper .ui-tabs-nav li {
  margin-right: 5px;
  border-color: #ddd !important;
}

.search-wrapper {
  border: 1px solid #ddd;
}

.search-wrapper input[type="text"] {
  width: calc(100% - 48px);
  font-size: 16px;
  line-height: 1.4;
  vertical-align: top;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-wrapper .fa {
  background: #eee;
  color: #003050;
  font-size: 20px;
  padding: 5px 10px;
  margin-right: -1px;
  border-left: 1px solid #ddd;
}

.search-wrapper .ui-panel-content {
  padding: 0;
}

footer {
  background-color: #264676;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding-top: 25px;
  border-top: 1px solid rgba(65,61,133,.1);
  /*background: url('../images/footer-map.png') no-repeat scroll center top #2a2f36;*/
}

.footer-boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.footer-boxes > div {
  flex: 1;
}

.logo-small {
  /*font-family: cursive;*/
  font-weight: bolder;
  padding: 0;
}

.footer-box {
  margin-top: 20px;
}

footer h4 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

/* The company logo */

.logo-footer {
  display: inline;
  float: left;
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
  color: #5bbc2e;
  line-height: 76px;
  width: 100%;
}

/* Footer links */

footer .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

footer .footer-links a:hover {
  color: #002050;
}

footer .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

footer .footer-center i {
  background-color: #1A3A6A;
  color: #fff;
  font-size: 20px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  line-height: 35px;
  margin: 0 7px 5px 0;
  vertical-align: middle;
}

footer .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

footer .footer-center p a {
  color: #5383d3;
  text-decoration: none;;
}

/* Footer Right */
footer li, footer p {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

footer a:hover {
  color: #002050;
}

.footer-company-about {
  padding-left: 0;
}

footer .footer-company-about span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .footer-icons {
  margin-top: 25px;
}

footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #1A3A6A;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

footer .footer-icons a:hover {
  background: #002050;
}

footer .footer-icons i {
  line-height: 35px;
}

footer .footer-links ul li a::before {
  content: "\f04d";
  color: #1A3A6A;
  font-family: FontAwesome;
  padding-right: 7px;
  vertical-align: middle;
}

footer .footer-copyright {
  background: #1A3A6A;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid rgba(65, 61, 133, .1);
}

.footer-copyright .container {
  padding-top: 0;
}

/*------- responsive -------*/

@media (max-width: 880px) {

  footer .footer-boxes {
    padding-top: 15px;
    /*display: none;*/
  }

  footer {
    padding-top: 0;
  }
  
  #primary-nav-form { display: none; }
  #responsive-menu-button { display: block; }
  #top-menu-cover { display: none; }
  #topbar-wrapper { margin-bottom: 10px; }
  .dataGrid, .dataGrid table, .dataGrid table tbody, .dataList li, .dataGrid tbody, .dataGrid tr, .dataGrid td { width: 100%; text-align: center; }
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .ui-panel .ui-panel-content {
    padding: 0;
  }
  
  #top-menu-cover { display: none; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	#topbar-wrapper {
      padding: 0 15px;
  	}
  	
  	#layout-topbar .list-inline li {
      vertical-align: top;
  	}
  	
  	#logo-wrapper img {
      width: 200px;
  	}
  	
  	.layout-menu {
      padding: 0 !important;
      margin-bottom: 15px !important;
  	}
  	
  	.layout-menu > li {
      width: 100% !important;
      margin: 0 !important;
  	}
  	
  	.layout-menu > li a {
      width: 100% !important;
      padding: 5px 0 !important;
      margin-bottom: 0 !important;
  	}
  	
  	.layout-menu li:last-child a {
      border-bottom: none !important;
  	}
  	
  	.layout-menu ul {
      display: none;
      border-botton: 1px solid rgba(0, 0, 0, .1);
  	}
  	
  	.layout-menu ul li a {
      padding-left: 15px !important;
  	}
  	
  	.in-frame #topbar-wrapper {
      display: none;
  	}
  	
  	#top-right-menu {
      display: none;
  	}
  	
  	.layout-menu ul.active-menu {
      display: block;
  	}
  	
  	.menu-link {
      margin-bottom: 0;
  	}
  	
  	.box {
      width: calc(100% - 32px);
	}
	
	
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	#top-menu-cover { display: none; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	#top-menu-cover { display: none; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

#primary_nav_wrap {
	/*margin-top: 15px;*/
	/*margin-right: 70px;*/
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul a {
	display: block;
	text-decoration: none;
	padding: 0 15px;
}

#primary_nav_wrap ul a:hover {
	text-decoration: underline;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

#primary_nav_wrap ul li.current-menu-item {
	/*background: #ddd*/
}

#primary_nav_wrap ul li:hover {
	/*background: #f6f6f6*/
}

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 74px;
  right: 0;
  background: #264676;
  padding: 0
  border: 1px solid rgba(0, 0, 0, .1);
}

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px;
}

#primary_nav_wrap ul ul li:hover {
  background: #1A3A6A;
}

#primary_nav_wrap ul ul a {
  color: #fff !important;
  line-height: 120%;
  padding: 10px 15px;
  text-decoration: none !important;
}

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}

#primary_nav_wrap ul li:hover>ul {
	/*display: block*/
}

#user-info {
  color: #002050;
  font-size: 16px;
  line-height: 40px;
}

.status-wrapper .ui-panel .ui-panel-content {
  margin: 0;
  padding: 0;
  text-align: center;
}