<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{discountPlanItemListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">

		<hftl:entityPopup id="popupDiscountPlans"
			header="#{messages['commons.search']}"
			selection="#{discountPlanItemListBean.filters['discountPlan']}"
			backingBean="#{discountPlanBean}"
			searchField1Label="#{messages['BusinessEntity.code']}"
			searchField1="code" column1Label="#{messages['BusinessEntity.code']}"
			column1="code"
			column2Label="#{messages['BusinessEntity.description']}"
			column2="description"
			updateField=":#{p:component('discountPlan_child')}">
		</hftl:entityPopup>

		<hftl:searchPanel label="#{messages['action.search']}"
			backingBean="#{discountPlanItemListBean}">
			<hftl:searchField label="#{messages['discountPlan.title']}"
				field="discountPlan.code" popup="true"
				popupId="popupDiscountPlans" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['discountPlan.title']}"
			backingBean="#{discountPlanItemListBean}" sortBy="code">
			<hftl:column label="#{messages['discountPlan.title']}"
				field="discountPlan.code" />
			<hftl:column label="#{messages['discountPlanItem.invoiceCategory']}"
				field="invoiceCategory.code" />
			<hftl:column
				label="#{messages['discountPlanItem.invoiceSubCategory']}"
				field="invoiceSubCategory.code" />
			<hftl:column label="#{messages['discountPlanItem.percent']}"
				field="percent" converterParam="4digits"/>

			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
