<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{taxClassListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
                <p:menuitem value="#{messages['menu.taxClasses']}" outcome="taxClasses" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel label="#{messages['taxClass.search']}" backingBean="#{taxClassListBean}" columns="3">
            <hftl:searchField label="#{messages['BusinessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['BusinessEntity.description']}" field="description" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['taxClass.title']}" backingBean="#{taxClassListBean}" sortBy="code">
            <hftl:column label="#{messages['BusinessEntity.code']}" field="code" />
            <hftl:column label="#{messages['BusinessEntity.description']}" field="description" />
            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
