<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{taxBean.objectId}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
    
       <hftl:entityPopup id="accountingCodePopup"
			header="#{messages['accountingCode']}"
			backingBean="#{accountingCodeListBean}"
			selection="#{taxBean.entity.accountingCode}"
			searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
			searchField2Label="#{messages['businessEntity.description']}" searchField2="description"
			column1Label="#{messages['businessEntity.code']}" 
			column1="code"
			column2Label="#{messages['businessEntity.description']}" 
			column2="description"
			updateField=":taxFormId:tabView:accountingCodeId  :taxFormId:tabView:accountingCodeId_text">
		</hftl:entityPopup>
    
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
                <p:menuitem outcome="taxes" value="#{messages['menu.taxes']}" />
                <p:menuitem value="#{messages['commons.new']} #{messages['tax']}" disabled="true" rendered="#{taxBean.entity.transient}" />
                <p:menuitem value="#{messages['tax']} - #{taxBean.entity.code}" disabled="true" rendered="#{!taxBean.entity.transient}" />
            </p:breadCrumb>
        </h:form>

        <hftl:formPanel label="#{messages['tax.panel']}" formId="taxFormId" submitPartialProcess=":taxFormId:tabView" backingBean="#{taxBean}" columns="1">
            <p:tabView id="tabView" activeIndex="#{taxBean.activeTab}">
                <p:tab title="#{messages['customer.tab.information']}">
                    <hftl:formField label="#{messages['tax.code']}" field="code" required="true" />
                    <hftl:formLanguageFields field="description"/>
                    <hftl:formField label="#{messages['tax.percent']}" field="percent" required="true" disabled = "#{taxBean.entity.composite}"/>

	                <hftl:formField id="accountingCodeId"
							label="#{messages['invoiceSubCategory.accountingCode']}" field="accountingCode"
							valueLabelField="code" listenerUpdate="@this" popup="true"
							popupId="accountingCodePopup" showResetButton="true" />

                </p:tab>
                <hftl:customFields backingBean="#{taxBean}" messagesId=":taxFormId:messages" />
            </p:tabView>
        </hftl:formPanel>

    </ui:define>

</ui:composition>
