<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{taxListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
	
		<hftl:entityPopup id="accountingCodePopup"
				header="#{messages['accountingCode']}"
				backingBean="#{accountingCodeListBean}"
				selection="#{taxListBean.filters['accountingCode']}"
				searchField1Label="#{messages['businessEntity.code']}" searchField1="code"
				searchField2Label="#{messages['businessEntity.description']}" searchField2="description"
				column1Label="#{messages['businessEntity.code']}" 
				column1="code"
				column2Label="#{messages['businessEntity.description']}" 
				column2="description"
				updateField=":searchForm:accountingCodeId">
			</hftl:entityPopup>
	
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="taxes" value="#{messages['menu.taxes']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel columns="3" label="#{messages['tax.search']}"
			backingBean="#{taxListBean}">

			<hftl:searchField label="#{messages['tax.code']}" field="code" />
			<hftl:searchField label="#{messages['tax.description']}"
				id="description" field="description" />
			 <hftl:searchField id="accountingCodeId"
							label="#{messages['invoiceSubCategory.accountingCode']}" field="accountingCode"
							valueLabelField="code" listenerUpdate="@this" popup="true"
							popupId="accountingCodePopup" showResetButton="true" />
				
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['tax.title']}"
			backingBean="#{taxListBean}" sortBy="code">
			<hftl:column label="#{messages['tax.code']}" field="code" />
			<hftl:column label="#{messages['tax.description']}"
				field="description" />
			<hftl:column label="#{messages['tax.percent']}" field="percent" converterParam="4digits" />
			<hftl:column label="#{messages['invoiceSubCategory.accountingCode']}"
				field="accountingCode.code" />

			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
