<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:hftl="http://hftl.org" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{customerCategoryListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="body">
        <h:form id="crumbmenuForm">
            <p:breadCrumb homeDisplay="text" id="crumbmenu">
                <p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
                <p:menuitem value="#{messages['menu.customerCategories']}" outcome="customerCategories" />
            </p:breadCrumb>
        </h:form>

        <hftl:searchPanel label="#{messages['customerCategory.search']}" backingBean="#{customerCategoryListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" id="description" field="description" />
        </hftl:searchPanel>

        <hftl:dataList backingBean="#{customerCategoryListBean}" label="#{messages['customerCategory.title']}" sortBy="code">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" />
            <hftl:column label="#{messages['businessEntity.description']}" field="description" />
            <hftl:column label="#{messages['customerCategory.exoneratedFromTaxes']}" field="exoneratedFromTaxes" isMessage="true" />
            <hftl:column label="#{messages['customerCategory.taxCategory']}" field="taxCategory.descriptionOrCode" />
            <hftl:column label="#{messages['customerCategory.accountingCode']}" field="accountingCode.code" />
            <hftl:actionsColumn />
        </hftl:dataList>

    </ui:define>

</ui:composition>
