<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:hftl="http://hftl.org" xmlns:pe="http://primefaces.org/ui/extensions"
	template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{reportExtractBean.objectId}" />
        </f:metadata>
    </ui:define>
	<ui:define name="body">
		<p:importEnum type="org.meveo.model.finance.ReportExtractScriptTypeEnum" var="ReportExtractScriptTypeEnum"></p:importEnum>
		<p:importEnum type="org.meveo.model.finance.ReportExtractResultTypeEnum" var="ReportExtractResultTypeEnum"></p:importEnum>
		
		<hftl:entityPopup id="scriptInstancePopup"
			header="#{messages['scriptInstance.title']}" backingBean="#{scriptInstanceBean}"
			searchField1="scriptInstanceCategory.code"
			searchField1Label="#{messages['scriptInstanceCategory']}"
			searchField2="code"
			searchField2Label="#{messages['BusinessEntity.code']}"
			column1="scriptInstanceCategory" column1Child="code"
			column1Label="#{messages['scriptInstanceCategory']}"
			column2="code" selection="#{reportExtractBean.entity.scriptInstance}"
			column2Label="#{messages['BusinessEntity.code']}"
			column3Label="#{messages['BusinessEntity.description']}"
			column3="description"			
			updateField=":reportExtractForm:scriptInstanceSelectId :reportExtractForm:scriptInstanceSelectId_text">
		</hftl:entityPopup>
		
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.finance']}" disabled="true" />
				<p:menuitem outcome="reportExtracts" value="#{messages['menu.reportExtracts']}" />
				<p:menuitem value="#{messages['commons.new']} #{messages['reportExtract']}"
					disabled="true" rendered="#{reportExtractBean.entity.transient}" />
				<p:menuitem
					value="#{messages['reportExtract']} #{messages['commons.configuration']} - #{reportExtractBean.entity.code}"
					disabled="true" rendered="#{!reportExtractBean.entity.transient}" />
			</p:breadCrumb>
		</h:form>
	
		<hftl:formPanel formId="reportExtractForm" label="#{messages['reportExtract.title']}" backingBean="#{reportExtractBean}" showEnableDisableButton="true">
			<p:panelGrid columns="2" columnClasses="Wid10 Responsive100, Wid90 Responsive100 VAlignTop" styleClass="ui-panelgrid-blank">
				<p:panel>
					<hftl:formField label="#{messages['commons.image']}" field="imagePath" required="false" pictureGroupName="reportExtract" sizeLimit="200000" />
				</p:panel>
				<p:panel>
					<hftl:formField label="#{messages['businessEntity.code']}" field="code" />
					<hftl:formField label="#{messages['businessEntity.description']}" field="description" />
					<hftl:formField label="#{messages['reportExtract.scriptType']}" field="scriptType" listenerUpdate="resultType scriptTypeJava scriptTypeSQL" />
					<p:outputPanel id="scriptTypeJava">
						<hftl:formField id="scriptInstanceSelectId" rendered="#{reportExtractBean.entity.scriptType eq ReportExtractScriptTypeEnum.JAVA}"
							label="#{messages['entity.notification.scriptInstance']}" field="scriptInstance"
							valueLabelField="code" required="true" popup="true"
							popupId="scriptInstancePopup" />
					</p:outputPanel>
					<hftl:formField label="#{messages['reportExtract.category']}" field="category" />
					<hftl:formField label="#{messages['reportExtract.outputDir']}" field="outputDir" />
					<hftl:formField label="#{messages['reportExtract.filenameFormat']}" field="filenameFormat" maxlength="100"/>
					<hftl:formField label="#{messages['reportExtract.fileSeparator']}" field="fileSeparator" size="1" maxlength="1"/>
					<p:outputPanel id="scriptTypeSQL">
						<hftl:decorateFormField label="#{messages['reportExtract.sqlQuery']}" fieldId="sqlQuery" componentWidth="100" rendered="#{reportExtractBean.entity.scriptType eq ReportExtractScriptTypeEnum.SQL}">
			                <pe:codeMirror required="true" id="sqlQuery" theme="eclipse" mode="sql" value="#{reportExtractBean.entity.sqlQuery}" lineNumbers="true" />
			            </hftl:decorateFormField>
		            </p:outputPanel>
		            <p:outputPanel id="resultType">
		            	<hftl:formField listenerUpdate="style" label="#{messages['reportExtract.resultType']}" field="reportExtractResultType" rendered="#{reportExtractBean.entity.scriptType eq ReportExtractScriptTypeEnum.SQL}" required="true" />
		            </p:outputPanel>
		            <p:outputPanel id="style">
		            	<hftl:formField textArea="true" label="#{messages['reportExtract.style']}" field="style" rendered="#{reportExtractBean.entity.reportExtractResultType eq ReportExtractResultTypeEnum.HTML}" rows="10" maxlength="2000" />
		            </p:outputPanel>
		            <hftl:formField label="#{messages['entity.notification.params']}" field="params" newLine="true" componentWidth="100%" />
					<hftl:formField label="#{messages['reportExtract.customTableCode']}" field="customTableCode" />
					<hftl:formField label="#{messages['reportExtract.generateEmptyReport']}" field="generateEmptyReport" />
					<hftl:formField label="#{messages['reportExtract.accumulate']}" field="accumulate" />
					<hftl:formField label="#{messages['reportExtract.decimalSeparator']}" field="decimalSeparator" size="1" maxlength="1"/>
					<hftl:formField label="#{messages['reportExtract.maximumLine']}" field="maximumLine" required="true"/>
					<hftl:formField label="#{messages['reportExtract.includeHeaders']}" field="includeHeaders" />
				</p:panel>
            </p:panelGrid>
            <ui:param name="buttons" value="true" />
            <ui:define name="buttons">
            	<p:commandButton id="runReport" icon="fa fa-fw fa-play" value="#{messages['action.execute']}" action="#{reportExtractBean.runReport}"></p:commandButton>
            </ui:define>
		</hftl:formPanel>
		
		<!-- ===================================== EXECUTION RESULTS ===================================== -->

        <p:panel rendered="#{!reportExtractBean.entity.transient}">
        	<h:form>
				<p:dataTable var="entity" sortBy="#{entity.endDate}" sortOrder="descending" paginator="true" value="#{reportExtractBean.entity.executionResults}" rows="10"
					rowKey="#{entity.id}" resizableColumns="true">
					<hftl:column label="#{messages['jobExecution.startDate']}" field="startDate" time="true" />
					<hftl:column label="#{messages['jobExecution.endDate']}" field="endDate" time="true"  />
					<hftl:column label="#{messages['reportExtract.filePath']}" field="filePath" />
					<hftl:column label="#{messages['reportExtract.lineCount']}" field="lineCount" />
					<hftl:column label="#{messages['reportExtract.origin']}" field="origin" />
					<hftl:column label="#{messages['reportExtract.errorMessage']}" field="errorMessage" />
					<p:column>
						<p:commandButton rendered="#{entity.lineCount>0}" value="#{messages['commons.download']}" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
					        <p:fileDownload value="#{reportExtractBean.getReportFile(entity)}" />
					    </p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
        </p:panel>
	</ui:define>
	
	<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
	    <p:graphicImage name="loading.gif" library="img" />
	</p:dialog>	
	
	<script type="text/javascript">
		function start() {
		    PF('statusDialog').show();
		}
		
		function stop() {
		    PF('statusDialog').hide();
		}
	</script>

</ui:composition>
