<ui:composition xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
    template="/layout/template.xhtml">
    
	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{serviceUsageChargeTemplateBean.preRenderView}" />
		</f:metadata>
	</ui:define>
	    
    <ui:define name="body">
    	
		<hftl:entityPopup id="searchChargeTemplatePopup"
			header="#{messages['usageChargeTemplate.title']}"
			updateField=":searchForm:usageChargeTemplate"
			selection="#{serviceUsageChargeTemplateBean.filters['chargeTemplate']}"
			backingBean="#{usageChargeTemplateBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code"
			column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description">
		</hftl:entityPopup>
		
		<hftl:entityPopup id="searchServiceTemplatePopup"
			header="#{messages['serviceTemplate.title']}"
			updateField=":searchForm:serviceTemplate"
			selection="#{serviceUsageChargeTemplateBean.filters['serviceTemplate']}"
			backingBean="#{serviceTemplateBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code"
			column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description">
		</hftl:entityPopup>
		
		<hftl:entityPopup id="searchCounterTemplatePopup"
			header="#{messages['counterTemplate.title']}"
			updateField=":searchForm:counterTemplate"
			selection="#{serviceUsageChargeTemplateBean.filters['counterTemplate']}"
			backingBean="#{counterTemplateBean}"
			searchField1Label="#{messages['businessEntity.code']}"
			searchField1="code"
			column1Label="#{messages['businessEntity.code']}"
			column1="code"
			column2Label="#{messages['businessEntity.description']}"
			column2="description">
		</hftl:entityPopup>


		<hftl:searchPanel
			label="#{messages['serviceUsageChargeTemplate.search']}"
			backingBean="#{serviceUsageChargeTemplateBean}">
			
			<hftl:searchField id="serviceTemplate"
				label="#{messages['serviceTemplate.title']}" field="serviceTemplate"
				childField="code" popup="true" popupId="searchServiceTemplatePopup" />
				
			<hftl:searchField id="usageChargeTemplate"
				label="#{messages['menu.usageChargeTemplates']}" field="chargeTemplate"
				childField="code" popup="true" popupId="searchChargeTemplatePopup" />
				
			<hftl:searchField id="counterTemplate"
				label="#{messages['counterTemplate.title']}" field="counterTemplate"
				childField="code" popup="true" popupId="searchCounterTemplatePopup" />
    		</hftl:searchPanel>	
    		
    		<hftl:dataList label="#{messages['serviceUsageChargeTemplate.title']}" backingBean="#{serviceUsageChargeTemplateBean}">
    		<hftl:column label="#{messages['serviceTemplate.code']}"
				field="serviceTemplate.code" width="20%" />
			
			<hftl:column label="#{messages['usageChargeTemplate.title']}"
				field="chargeTemplate.code" width="20%" />
				<hftl:column label="#{messages['counterTemplate.title']}"
				field="counterTemplate.code" width="20%" />
    			<hftl:actionsColumn />
		    </hftl:dataList>
		   		
    </ui:define>
    
</ui:composition>
