<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui">

	<hftl:menu rendered="#{currentUser.authenticated}">
		<ui:include src="navigationItems.xhtml">
			<ui:param name="menuId" value="mobile_menu"></ui:param>
		</ui:include>
		<p:menuitem value="#{messages['menu.aboutUs']}" outcome="about"></p:menuitem>
		<p:menuitem value="#{messages['menu.documentation']}"
			url="https://support.opencellsoft.com"></p:menuitem>
<!--		<p:menuitem value="#{messages['menutop.changePassword']}"
			rendered="#{currentUser.authenticated}" outcome="/changePassword.xhtml"></p:menuitem> -->
		<p:menuitem value="#{messages['menutop.logout']}" action="#{authenticationProvider.logout}" rendered="#{currentUser.authenticated}" ajax="false" immediate="true" />
	</hftl:menu>

</ui:composition>