<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui">

	<o:importFunctions type="org.meveo.commons.utils.ParamBean" var="paramBean" />

	<p:submenu id="admin" label="#{messages['menu.configuration']}">
		<p:menuitem id="provider" outcome="providerSelfDetail" value="#{messages['menu.appConfiguration']}" />
		<p:menuitem id="providerContacts" outcome="providerContacts" value="#{messages['menu.providerContacts']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		<p:submenu id="security" label="#{messages['menu.security']}">
			<p:menuitem id="users" value="#{messages['menu.users']}" outcome="users" />
			<p:menuitem id="roles" value="#{messages['menu.userRoles']}" outcome="roles" />
			<p:menuitem id="apiSecurity" value="#{messages['menu.apiSecurity']}" outcome="apiSecurity" />
		</p:submenu>
		<p:submenu id="menu" label="#{messages['menu.crm']}">
			<p:menuitem id="titles" outcome="titles" value="#{messages['menu.titles']}" />
			<p:menuitem id="customerBrands" outcome="customerBrands" value="#{messages['menu.customerBrands']}" />
			<p:menuitem id="customerCategories" outcome="customerCategories" value="#{messages['menu.customerCategories']}" />
			<p:menuitem id="creditCategories" outcome="creditCategories" value="#{messages['menu.creditCategories']}" />
			<p:menuitem id="occTemplates" outcome="occTemplates" value="#{messages['menu.occTemplates']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		</p:submenu>
		<p:submenu id="trading" label="#{messages['menu.trading']}">
			<p:menuitem id="tradingLanguages" outcome="tradingLanguages" value="#{messages['menu.comLanguages']}" />
			<p:menuitem id="tradingCurrencies" outcome="tradingCurrencies" value="#{messages['menu.tradingCurrencies']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
			<p:menuitem id="tradingCountries" outcome="tradingCountries" value="#{messages['menu.tradingCountries']}" />
			<p:menuitem id="multiLanguageFields" outcome="multiLanguageFields" value="#{messages['menu.multiLanguageFields']}" />
			<p:menuitem id="emailTemplates" outcome="emailTemplates" value="#{messages['menu.emailTemplates']}" />
		</p:submenu>
		<p:menuitem outcome="calendars" id="calendars" value="#{messages['menu.calendars']}" />
		<p:submenu id="invoicingconfig" label="#{messages['menu.invoicing']}">
			<p:menuitem id="billingCycles" outcome="billingCycles" value="#{messages['menu.billingCycles']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
			<p:submenu id="taxes" label="#{messages['menu.taxes']}">
				<p:menuitem id="taxCategories" outcome="taxCategories" value="#{messages['menu.taxCategories']}" />
				<p:menuitem id="taxClasses" outcome="taxClasses" value="#{messages['menu.taxClasses']}" />
				<p:menuitem id="taxMapping" outcome="taxMappings" value="#{messages['menu.taxMappings']}" />
				<p:menuitem id="taxRates" outcome="taxes" value="#{messages['menu.taxRates']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
			</p:submenu>
			<p:menuitem id="invoiceCategories" outcome="invoiceCategories" value="#{messages['menu.invoiceCategories']}" />
			<p:menuitem id="invoiceSubCategories" outcome="invoiceSubCategories" value="#{messages['menu.invoiceSubCategories']}" />
			<p:menuitem id="invoiceTypes" outcome="invoiceTypes" value="#{messages['menu.invoiceTypes']}" />
			<p:menuitem id="invoiceSequences" outcome="invoiceSequences" value="#{messages['menu.invoiceSequences']}" />
		</p:submenu>
		<p:menuitem id="terminationReasons" outcome="terminationReasons" value="#{messages['menu.terminationReason']}" />
		<p:menuitem id="currencies" outcome="currencies" value="#{messages['menu.currencies']}" />
		<p:menuitem id="languages" outcome="languages" value="#{messages['menu.languages']}" />
		<p:menuitem id="countries" outcome="countries" value="#{messages['menu.countries']}" />
		<p:menuitem id="meveoProperties" outcome="meveoProperties" value="#{messages['menu.properties']}" />
		<p:menuitem id="channels" outcome="channels" value="#{messages['menu.channels']}" />
		<p:menuitem id="unitOfMeasures" outcome="unitOfMeasures" value="#{messages['menu.unitOfMeasures']}" />
		<p:menuitem id="configurationIssues" outcome="configurationIssues" value="#{messages['menu.configurationIssues']}" />
	</p:submenu>
	<!-- Catalog -->
	<p:submenu id="catalog" label="#{messages['menu.catalog']}">
		<p:submenu id="offerManagement" label="#{messages['menu.catalog.offerManagement']}">
			<p:menuitem id="offerTemplates" outcome="offerTemplates" value="#{messages['menu.offers']}" />
			<p:menuitem id="offerTemplateCategories" outcome="offerTemplateCategories" value="#{messages['menu.offerTemplateCategories']}" />
		</p:submenu>
		<p:submenu id="serviceManagement" label="#{messages['menu.catalog.serviceManagement']}">
			<p:menuitem id="serviceTemplates" outcome="serviceTemplates" value="#{messages['menu.serviceTemplates']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
			<p:submenu id="charges" label="#{messages['menu.charges']}">
				<p:menuitem id="chargeTemplates" outcome="chargeTemplates" value="#{messages['menu.chargeTemplates']}" />
				<p:menuitem id="recurringChargeTemplate" outcome="recurringChargeTemplates" value="#{messages['menu.recurringChargeTemplates']}" />
				<p:menuitem id="oneShotChargeTemplates" outcome="oneShotChargeTemplates" value="#{messages['menu.oneShotChargeTemplates']}" />
				<p:menuitem id="usageChargeTemplates" outcome="usageChargeTemplates" value="#{messages['menu.usageChargeTemplates']}" />
			</p:submenu>
			<p:menuitem id="counterTemplates" outcome="counterTemplates" value="#{messages['menu.counterTemplates']}" />
		</p:submenu>
		<p:submenu id="productManagement" label="#{messages['menu.catalog.productManagement']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
			<p:menuitem id="productTemplates" outcome="productTemplates" value="#{messages['menu.productTemplates']}" />
			<p:menuitem id="productChargeTemplates" outcome="productChargeTemplates" value="#{messages['menu.productChargeTemplates']}" />
			<p:menuitem id="bundleTemplates" outcome="bundleTemplates" value="#{messages['menu.bundleTemplates']}" />
		</p:submenu>
		<p:menuitem id="triggeredEdrTemplates" outcome="triggeredEdrTemplates" value="#{messages['menu.triggeredEdrTemplates']}" />
		<p:menuitem id="walletTemplates" outcome="walletTemplates" value="#{messages['menu.wallets']}" />
		<p:submenu id="models" label="#{messages['menu.catalog.models']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
			<p:menuitem id="businessOfferModels" outcome="businessOfferModels" value="#{messages['menu.businessOffers']}" />
			<p:menuitem id="businessServiceModels" outcome="businessServiceModels" value="#{messages['menu.businessServiceModels']}" />
			<p:menuitem id="businessProductModels" outcome="businessProductModels" value="#{messages['menu.businessProductModels']}" />
		</p:submenu>
		<p:submenu id="pricePlanMatrixes_menu" label="#{messages['menu.pricePlanMatrixes']}">
			<p:menuitem id="pricePlanMatrixes" outcome="pricePlanMatrixes" value="#{messages['menu.pricePlanMatrixes']}" />
			<p:menuitem id="discountPlans" outcome="discountPlans" value="#{messages['menu.discountPlans']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		</p:submenu>
	</p:submenu>

	<p:submenu styleClass="mmOffersSM" label="#{messages['menu.offers']}" rendered="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
		<p:menuitem outcome="mm_offers" value="#{messages['menu.marketingManager.catalogList']}" />
	</p:submenu>

	<p:submenu styleClass="mmProductsSM" label="#{messages['menu.marketingManager.products']}"
		rendered="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
		<p:menuitem id="mm_products" outcome="mm_products" value="#{messages['menu.marketingManager.productList']}" />
	</p:submenu>

	<p:submenu id="crm" label="#{messages['menu.crm']}">
		<p:menuitem id="customerSearch" outcome="customerSearch" value="#{messages['menu.customerSearch']}" />
		<p:menuitem id="customers" outcome="customers" value="#{messages['menu.customers']}" />
		<p:menuitem id="customerAccounts" outcome="customerAccounts" value="#{messages['menu.customerAccounts']}" />
		<p:menuitem id="billingAccounts" outcome="billingAccounts" value="#{messages['menu.billingAccounts']}" />
		<p:menuitem id="userAccounts" outcome="userAccounts" value="#{messages['menu.userAccounts']}" />
		<p:menuitem id="crmAccounts" outcome="crmAccounts" value="#{messages['menu.crmAccounts']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		<p:menuitem id="subscriptions" outcome="subscriptions" value="#{messages['menu.subscriptions']}" />
		<p:menuitem id="accessPoints" outcome="access" value="#{messages['menu.accessPoints']}" />
		<p:menuitem id="businessAccountModels" outcome="businessAccountModels" value="#{messages['menu.businessAccountModels']}" />
	</p:submenu>

	<p:submenu id="orderAndQuotes" label="#{messages['menu.ordersAndQuotes']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
		<p:menuitem id="quotes" outcome="quotes" value="#{messages['menu.quotes']}" />
		<p:menuitem id="orders" outcome="orders" value="#{messages['menu.orders']}" />
	</p:submenu>

	<p:submenu styleClass="mmCustomersSM" label="#{messages['menu.customers']}" rendered="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
		<p:menuitem id="mm_workflows" value="#{messages['menu.marketingManager.workflowList']}" outcome="mm_workflows" />
	</p:submenu>

	<p:submenu id="mediation" label="#{messages['menu.mediation']}">
		<p:menuitem id="cdr" outcome="cdr" value="#{messages['menu.cdr']}" />
		<p:menuitem id="edr" outcome="edr" value="#{messages['menu.edr']}" />
		<p:menuitem id="importedFiles" outcome="importedFiles" value="#{messages['menu.transferredFiles']}" />
	</p:submenu>

	<p:submenu id="invoicing" label="#{messages['menu.invoicing']}">
		<p:submenu id="rating" label="#{messages['menu.rating']}">
			<p:menuitem id="walletOperations" outcome="walletOperations" value="#{messages['menu.walletOperations']}" />
			<p:menuitem id="ratedTransactions" outcome="ratedTransactions" value="#{messages['menu.ratedTransactions']}" />
		</p:submenu>
		<p:submenu id="billingRun" label="#{messages['menu.billingRun']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
			<p:menuitem id="billingRuns" outcome="billingRuns" value="#{messages['menu.billingRuns']}" />
			<p:menuitem id="billingRunDetail" outcome="billingRunDetail" value="#{messages['menu.globalExecution']}" />
			<p:menuitem id="exceptionalInvoicing" outcome="exceptionelInvoicing" value="#{messages['menu.exceptionalInvoicing']}" />
		</p:submenu>
		<p:submenu id="invoice" label="#{messages['menu.invoice']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
			<p:menuitem id="invoices" outcome="invoices" value="#{messages['menu.invoices']}" />
			<p:menuitem id="aggregateInvoices" outcome="invoiceAggregatedDetail" value="#{messages['menu.invoice.createAggregated']}" />
			<p:menuitem id="detailedInvoices" outcome="detailedInvoiceDetail" value="#{messages['menu.invoice.createDetailed']}" />
			<p:menuitem id="detailedInvoicesWithServices" outcome="detailedInvoiceDetailWithServices" value="#{messages['menu.invoice.createDetailedWithServices']}" />
		</p:submenu>
	</p:submenu>

	<p:submenu id="payment" label="#{messages['menu.Paiements']}">
		<p:submenu id="directDebit" label="#{messages['menu.payment.directDebit']}">
			<p:menuitem id="dDRequestBuilders" outcome="dDRequestBuilders" value="#{messages['menu.DDRequestBuilders']}" />
			<p:menuitem id="ddrequestLotOps" outcome="ddrequestLotOps" value="#{messages['menu.ddrequestLotOp']}" />
			<p:menuitem id="ddrequestLots" outcome="ddrequestLots" value="#{messages['menu.ddrequestLot']}" />
		</p:submenu>

		<p:menuitem id="paymentGateways" outcome="paymentGateways" value="#{messages['menu.paymentGateways']}" />


		<p:menuitem id="paymentScheduleTemplates" outcome="paymentScheduleTemplates" value="#{messages['menu.paymentSchedules']}" />


	</p:submenu>

	<!-- <p:submenu id="menurecouvrement" label="#{messages['menu.Recouvrement']}">
		<p:menuitem id="dunningWF" outcome="dunning_workflows" value="#{messages['dunningProcess.title']}" />
	</p:submenu> -->

	<p:submenu id="workflows" label="#{messages['menu.workflow']}">
		<p:menuitem id="genericWorkflows" value="#{messages['menu.generic.workflows']}" outcome="genericWorkflows" />
		<p:menuitem id="genericWfsHistory" value="#{messages['menu.generic.workflowHistory']}" outcome="genericWfsHistory" />
	</p:submenu>

	<p:submenu id="finance" label="#{messages['menu.finance']}">
		<p:menuitem id="chartOfAccounts" outcome="accountingCodes" value="#{messages['menu.chartOfAccounts']}" />
		<p:menuitem id="generalLedgers" outcome="generalLedgers" value="#{messages['menu.generalLedgers']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		<p:menuitem id="revenueRecognitionRules" outcome="revenueRecognitionRules" value="#{messages['menu.revenueRecognitionRules']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
		<p:menuitem id="revenueSchedules" outcome="revenueSchedules" value="#{messages['menu.revenueSchedules']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}"/>
		<p:menuitem id="reportExtracts" outcome="reportExtracts" value="#{messages['menu.reportExtracts']}" />
		<p:menuitem id="reportExtractHistories" outcome="reportExtractHistories" value="#{messages['menu.reportExtractHistories']}" />
		<p:menuitem id="accountingWritings" outcome="accountingEntries" value="#{messages['menu.accountingEntry']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}" />
	</p:submenu>

	<p:submenu id="reporting" label="#{messages['menu.reporting']}" rendered="#{currentUser.hasRoles('show_obsolete_legacy')}">
		<p:menuitem id="measurableQuantities" value="#{messages['menu.measurableQuantities']}" outcome="measurableQuantities" />
		<p:menuitem id="measuredValues" value="#{messages['menu.measuredValues']}" outcome="measuredValueDetail" />
		<p:menuitem id="charts" value="#{messages['menu.charts']}" outcome="charts" />
		<p:menuitem id="dataCollectors" value="#{messages['menu.dataCollector']}" outcome="dataCollectors" />
	</p:submenu>

	<p:submenu id="customEntities" label="#{messages['menu.customEntities']}" rendered="#{currentUser.hasRoles(customEntityTemplateBean.getAllPermissions()) and
		customEntityTemplateBean.listSortedByName() != null and !customEntityTemplateBean.listSortedByName().isEmpty() and currentUser.hasRoles(customEntityTemplateBean.getAllPermissions())}">
		<c:set var="cetIndex" value="0" />
		<c:forEach items="#{customEntityTemplateBean.listSortedByName()}" var="cet">
			<p:menuitem id="cet_#{cetIndex}" outcome="#{cet.storeAsTable?'customTables':'customEntities'}" value="#{cet.name}" rendered="#{currentUser.hasRoles(cet.readPermission,cet.modifyPermission,'ReadAllCE','ModifyAllCE')}">
				<f:param name="cet" value="#{cet.code}" disable="#{cet.storeAsTable}" />
				<f:param name="objectId" value="#{cet.id}" disable="#{!cet.storeAsTable}" />
			</p:menuitem>
			<c:set var="cetIndex" value="#{cetIndex + 1}" />
		</c:forEach>
	</p:submenu>

	<p:submenu label="#{messages['menu.myCompany']}" rendered="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
		<p:menuitem id="mm_users" value="#{messages['menu.users']}" outcome="users" />
		<p:menuitem id="mmUserGroups" outcome="userGroupHierarchy" value="#{messages['menu.userGroupHierarchy']}" />
	</p:submenu>

	<p:submenu styleClass="mmSettingsSM" id="settings" label="#{messages['menu.settings']}"
		rendered="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
		<p:menuitem id="mmOfferCategories" outcome="mm_offerTemplateCategories" value="#{messages['menu.marketingManager.manageCategories']}" />
	</p:submenu>

	<p:submenu id="automation" label="#{messages['menu.admin']}">
		<p:submenu id="adminJobs" label="#{messages['menu.jobs']}">
			<p:menuitem id="jobs" outcome="jobInstances" value="#{messages['menu.jobInstances']}" />
			<p:menuitem id="timers" outcome="timerEntities" value="#{messages['menu.timerEntities']}" />
			<p:submenu id="jobErrors" label="#{messages['menu.jobErrorManagement']}">
				<p:menuitem id="recurringChargeJobErrors" outcome="recurringChargeJobErrors" value="#{messages['menu.recurringChargeJobExecutionErrors']}" />
				<p:menuitem id="invoiceJobErrors" outcome="invoiceJobErrors" value="#{messages['menu.invoiceJobExecutionErrors']}" />
			</p:submenu>
		</p:submenu>
		<p:menuitem id="MeveoInstances" outcome="meveoInstances" value="#{messages['menu.meveoInstance']}" />
		<p:menuitem id="meveoModules" outcome="meveoModules" value="#{messages['menu.meveoModules']}" />
		<p:menuitem id="customizedEntities" outcome="customizedEntities" value="#{messages['menu.customizedEntities']}" />

		<p:submenu id="script" label="#{messages['menu.script']}">
			<p:menuitem id="scriptInstanceCategories" outcome="scriptInstanceCategories" value="#{messages['menu.scriptInstanceCategory']}" />
			<p:menuitem id="scriptInstances" outcome="scriptInstances" value="#{messages['menu.scriptInstances']}" />
		</p:submenu>

		<p:menuitem id="filters" outcome="filters" value="#{messages['menu.filters']}" />
		<!-- <p:submenu id="workflows" label="#{messages['menu.workflow']}">
			<p:submenu id="generic_workflow" label="#{messages['menu.generic.workflow']}">
				<p:menuitem id="genericWorkflows" value="#{messages['menu.generic.workflows']}"
					outcome="genericWorkflows" />
				<p:menuitem id="genericWfsHistory" value="#{messages['menu.generic.workflowHistory']}"
					outcome="genericWfsHistory" />
			</p:submenu>
			<p:menuitem id="crud_workflows" value="#{messages['menu.workflow']}"
				outcome="workflows" />
			<p:menuitem id="workflowHistory"
				value="#{messages['menu.workflowHistory']}"
				outcome="workflowHistory" />
		</p:submenu> -->
		<p:submenu id="notifications" label="#{messages['menu.notifications']}" outcome="notifications">
			<p:menuitem id="internalNotifications" value="#{messages['menu.notifications']}" outcome="notifications" />
			<p:menuitem id="webHooks" value="#{messages['menu.webHooks']}" outcome="webHooks" />
			<p:menuitem id="emailNotifications" value="#{messages['menu.emailNotifications']}" outcome="emailNotifications" />
			<p:menuitem id="jobTriggers" value="#{messages['menu.jobTriggers']}" outcome="jobTriggers" />
			<p:menuitem id="notificationHistory" value="#{messages['menu.notificationHistories']}" outcome="notificationHistories" />
			<p:menuitem id="inboundRequests" value="#{messages['menu.inboundRequests']}" outcome="inboundRequests" />
		</p:submenu>
		<p:submenu id="tools" label="#{messages['menu.tools']}">
			<p:menuitem id="import" outcome="import" value="#{messages['menu.import']}" />
			<p:menuitem id="export" outcome="export" value="#{messages['menu.export']}" />
		</p:submenu>
		<p:menuitem id="fileExplorerMenu" outcome="fileExplorer" value="#{messages['menu.fileExplorer']}" />
		<p:submenu id="auditLogSubMenu" label="#{messages['menu.auditLog']}">
			<p:menuitem id="auditConfiguration" outcome="auditConfiguration" value="#{messages['menu.auditActionsConfiguration']}" />
			<p:menuitem id="auditDataConfiguration" outcome="auditDataConfiguration" value="#{messages['menu.auditDataConfiguration']}" />
			<p:menuitem id="auditLog" outcome="auditLog" value="#{messages['menu.auditLogs']}" />
		</p:submenu>
		<p:menuitem id="cache" outcome="caches" value="#{messages['menu.cacheInfo']}" />


		<p:menuitem id="providers" outcome="providers" value="#{messages['menu.tenants']}" rendered="#{ currentUser.providerCode==null and paramBean.isMultitenancyEnabled()}" />
	</p:submenu>

</ui:composition>