<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


	<div id="topbar-wrapper" class="clearfix">
		<div id="layout-topbar" class="pull-left">
			<a href="#{request.contextPath}" id="logo-wrapper"> <h:graphicImage
					name="logo.png" library="img" />
			</a>
		</div>

		<div id="responsive-menu-button">
			<a id="menu-button"><i class="fa fa-bars"></i> </a>
		</div>

		<h:form id="primary-nav-form">
			<div class="pull-right" id="primary_nav_wrap">
				<ul id="top-right-menu">
					<li><c:if test="#{currentUser.authenticated}">
							<a href="#" id="menu1"><i class="fa fa-2x fa-cog"></i></a>
							<ul style="display: none; z-index: 1">
								<li><h:commandLink id="logout" action="#{authenticationProvider.logout}" value="#{messages['menutop.logout']}" /></li>
							</ul>
						</c:if></li>
					<li><a href="#" id="menu2"><i class="fa fa-2x fa-question"></i></a>
						<ul style="display: none; z-index: 1">
							<li><p:link outcome="about"
									value="#{messages['menu.aboutUs']}"></p:link></li>
							<li><h:outputLink target="_blank"
									value="https://support.opencellsoft.com">
									<h:outputText value="#{messages['menu.documentation']}" />
								</h:outputLink></li>
						</ul></li>

				</ul>
				<!-- / top-right-menu -->
			</div>
			<script type="text/javascript">
				$(document).ready(
						function() {
							$('#top-right-menu li a').click(
									function(e) {
										//e.preventDefault();
										e.stopPropagation();
										var id = $(this).attr("id");
										if (id === "menu1") {
											$("#menu2").parent().find('ul')
													.hide();
										} else {
											$("#menu1").parent().find('ul')
													.hide();
										}

										$(this).parent().find('ul')
												.slideToggle();
										$(this).parent().find('ul').delay(5000)
												.fadeOut('slow');
									});
						})
			</script>
			<div class="FRight">
				<ul id="user-info" class="ListNoStyle Padding10"
					style="margin: 0 40px 0 0;">
					<li class="Fs14 FontBold">#{currentUser.fullNameOrUserName}</li>
					<li class="Fs12 FontBold">#{appProvider.description}</li>
                    <li class="Fs12 FontBold">#{clusterInformation.clusterNodeName}</li>
				</ul>
			</div>
			<c:if
				test="#{currentUser.hasRoles('marketingCatalogVisualization','marketingCatalogManager') }">
				<div class="search-wrapper">
					<p:inputText id="globalFullTextSearch"
						value="#{fullTextSearchBean.filters['fullText']}"
						placeholder="#{messages['commons.search']}" />
					<p:commandLink id="doGlobalFullTextSearch"
						styleClass="Padding5 fa fa-search" action="mm_fullTextSearch"
						process="globalFullTextSearch @this" />

				</div>
				<p:defaultCommand target="doGlobalFullTextSearch" />
			</c:if>
		</h:form>
		<!-- / topbar-wrapper -->
	</div>

	<div id="messages-header" class="ui-messages ui-widget ui-header-alert-message">
		<div class="ui-messages-warn ui-corner-all">
			<span class="ui-messages-warn-icon"></span>
			<ul>
				<li><h:outputText value="#{messages['deprecated.legacy.message']}" styleClass="ui-messages-warn-summary" /></li>
			</ul>
		</div>
	</div>

	<div
		id="#{FacesContext.viewRoot.renderKitId eq 'PRIMEFACES_MOBILE' ? 'layout-menu-cover' : 'top-menu-cover'}"
		class="FLeft">
		<c:if test="#{!hideNavigation}">
			<ui:include src="/layout/navigation.xhtml" />
		</c:if>
	</div>

</ui:composition>