<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:s="http://jboss.org/seam/faces" xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions" xmlns:hftl="http://hftl.org" xmlns:pe="http://primefaces.org/ui/extensions">

<ui:composition>

    <c:set var="mainBackingBean" value="#{backingBean}" />

    <hftl:entityPopup id="moduleScriptPopup" header="#{messages['scriptInstance.search']}" backingBean="#{scriptInstanceListBean}"
        searchField1Label="#{messages['BusinessEntity.code']}" searchField1="code" searchField2Label="#{messages['BusinessEntity.description']}" searchField2="description"
        column1Label="#{messages['BusinessEntity.code']}" column1="code" column2Label="#{messages['BusinessEntity.description']}" column2="description"
        selection="#{backingBean.entity.script}" updateField=":moduleForm:script_entity">
    </hftl:entityPopup>

    <hftl:genericEntityPopup id="addModuleItem" header="#{messages['meveoModuleItem.add.header']}" annotation="org.meveo.model.ModuleItem" selection="#{backingBean.moduleItemEntity}" updateField=":moduleForm:moduleItems" />

    <p:dialog id="scriptDialog" header="#{messages['meveoModule.scriptHeader']}" modal="true" closeOnEscape="false" maximizable="true" closable="false" widgetVar="scriptDialog"
        width="90%" height="550px">

        <p:scrollPanel mode="native" style="max-height:550px">
            <hftl:formPanel formId="scriptForm" label="#{messages['meveoModule.scriptHeader']}" backingBean="#{scriptInstanceBean}" showFormButtons="false"
                edit="#{!mainBackingBean.entity.downloaded}">
                <h:panelGroup rendered="#{scriptInstanceBean.entity.isError()}">
                    <div class="ui-messages ui-widget">
                        <div class="ui-messages-error ui-corner-all">
                            <span class="ui-messages-error-icon"></span>
                            <ul>
                                <li><h:outputText value="#{messages['scriptInstance.compilationFailed']}" styleClass="ui-messages-error-summary" /></li>
                            </ul>
                        </div>
                    </div>
                </h:panelGroup>

                <hftl:formField label="#{messages['BusinessEntity.code']}" disabled="true" field="code" required="true" allowEdit="false" componentWidth="15" />
                <hftl:formField label="#{messages['BusinessEntity.description']}" field="description" required="false" componentWidth="15" />
                <hftl:formField label="#{messages['scriptInstance.sourceTypeEnum']}" field="sourceTypeEnum" />
                <hftl:decorateFormField fieldId="codeMirror" label="#{messages['scriptInstance.script']}" newLine="true" componentWidth="100">
                    <pe:codeMirror id="codeMirror" theme="eclipse" mode="text/x-java" value="#{scriptInstanceBean.entity.script}" lineNumbers="true" required="true" />
                </hftl:decorateFormField>
                <hftl:formField label="#{messages['enableEntity.disabled']}" doNotShowOnNew="true" allowEdit="false" field="disabled" isMessage="true" newLine="true" />

                <h:panelGroup id="scriptErrors" rendered="#{scriptInstanceBean.entity.isError()}">
                    <hftl:decorateFormField label="#{messages['scriptInstance.compilationErrors']}" componentWidth="100" newLine="true"
                        rendered="#{scriptInstanceBean.entity.isError()}">
                        <p:dataTable id="entityScripts" var="entity" value="#{scriptInstanceBean.entity.scriptErrors}" paginator="true" rows="10" sortBy="#{entity.lineNumber}"
                            sortField="lineNumber" paginatorAlwaysVisible="false"
                            paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="10"
                            lazy="false" styleClass="custom-grid" reflow="true">
                            <hftl:column label="#{messages['scriptInstance.compilation.lineNumber']}" field="lineNumber" width="10%" />
                            <hftl:column label="#{messages['scriptInstance.compilation.columnNumber']}" field="columnNumber" width="15%" />
                            <hftl:column label="#{messages['scriptInstance.compilation.message']}" field="message" />
                        </p:dataTable>
                    </hftl:decorateFormField>
                </h:panelGroup>

                <ui:param name="buttons" value="true" />
                <ui:define name="buttons">

                    <p:remoteCommand action="#{mainBackingBean.refreshScript}" name="refreshScript" update=":moduleForm:script_entity" />

                    <p:commandButton value="#{messages['action.save']}" action="#{scriptInstanceBean.saveOrUpdateForPopup}"
                        oncomplete="refreshScript(); if (args &amp;&amp; !args.validationFailed) PF('scriptDialog').hide()" update="@form :moduleForm:messages"
                        rendered="#{!mainBackingBean.entity.downloaded}">
                    </p:commandButton>
                    <p:commandButton value="#{messages['scriptInstance.testCompilation']}" action="#{scriptInstanceBean.testCompilation}" update="@form"
                        rendered="#{!mainBackingBean.entity.downloaded}" />
                    <p:commandButton value="#{messages['commons.disable']}"
                        rendered="#{not empty scriptInstanceBean.entity.id and scriptInstanceBean.entity.active and !mainBackingBean.entity.downloaded}"
                        action="#{scriptInstanceBean.disable}" update="@form">
                        <p:confirm header="#{messages['commons.disable']}" message="#{messages['commons.confirmDisable']}" />
                    </p:commandButton>
                    <p:commandButton value="#{messages['commons.enable']}"
                        rendered="#{not empty scriptInstanceBean.entity.id and scriptInstanceBean.entity.disabled and !mainBackingBean.entity.downloaded}"
                        action="#{scriptInstanceBean.enable}" update="@form">
                        <p:confirm header="#{messages['commons.enable']}" message="#{messages['commons.confirmEnable']}" />
                    </p:commandButton>

                    <p:commandButton value="#{messages['commons.close']}" immediate="true" oncomplete="PF('scriptDialog').hide()" actionListener="#{mainBackingBean.refreshScript}"
                        update=":moduleForm:messages" />
                </ui:define>
            </hftl:formPanel>
        </p:scrollPanel>
    </p:dialog>

</ui:composition>

</html>