<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{recurringChargeTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="recurringChargeTemplates"
					value="#{messages['menu.recurringChargeTemplates']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel
			label="#{messages['recurringChargeTemplate.search']}"
			backingBean="#{recurringChargeTemplateListBean}">
			<hftl:searchField label="#{messages['chargeTemplate.code']}"
				field="code" />
			<hftl:searchField label="#{messages['chargeTemplate.description']}"
				id="description" field="description" />
			<hftl:searchField label="#{messages['enableEntity.disabled']}"
				field="disabled" />

			<!--	<hftl:searchField label="#{messages['chargeTemplate.amountEditable']}" field="amountEditable"/>
    			<hftl:searchField label="#{messages['recurringChargeTemplate.recurrenceType']}" field="recurrenceType" childField="label"/>
    		 	<hftl:searchField label="#{messages['recurringChargeTemplate.durationTermInMonth']}" field="durationTermInMonth" />
    			<hftl:searchField label="#{messages['recurringChargeTemplate.subscriptionProrata']}" field="subscriptionProrata" />
    			<hftl:searchField label="#{messages['recurringChargeTemplate.terminationProrata']}" field="terminationProrata" />
    			<hftl:searchField label="#{messages['recurringChargeTemplate.applyInAdvance']}" field="applyInAdvance" /> -->
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['recurringChargeTemplate.title']}"
			backingBean="#{recurringChargeTemplateListBean}" sortBy="code">
			<hftl:column label="#{messages['chargeTemplate.code']}" field="code" />
			<hftl:column label="#{messages['chargeTemplate.description']}"
				field="description" />
			<hftl:column label="#{messages['chargeTemplate.amountEditable']}"
				field="amountEditable" isMessage="true" />
			<hftl:column
				label="#{messages['recurringChargeTemplate.durationTermInMonth']}"
				field="durationTermInMonth" />
			<!-- <hftl:column label="#{messages['recurringChargeTemplate.recurrenceType']}" field="recurrenceType" childField="label" isMessage="true" />
    			<hftl:column label="#{messages['recurringChargeTemplate.subscriptionProrata']}" field="subscriptionProrata" isMessage="true" />
    			<hftl:column label="#{messages['recurringChargeTemplate.terminationProrata']}" field="terminationProrata" isMessage="true" />
    			 -->
			<hftl:column
				label="#{messages['recurringChargeTemplate.applyInAdvance']}"
				field="applyInAdvance" isMessage="true" />
			<hftl:column label="#{messages['charge.subCategory']}"
				field="invoiceSubCategory.code" valueIdField="invoiceSubCategory.id"
				entityView="invoiceSubCategoryDetail" propagateConversation="false"
				backView="invoiceCategories" />
			<hftl:column label="#{messages['menu.status']}"
				field="status" valueLabelField="code" />
			<hftl:column label="#{messages['menu.triggeredEdrTemplates']}"
				field="edrTemplates" valueLabelField="code" isList="true" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="disabled" isDisabledMessage="true" />
			<hftl:actionsColumn renderEnableLink="true"
				renderDuplicateLink="true" />
		</hftl:dataList>

	</ui:define>

</ui:composition>
