<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.org/seam/faces" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org" xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="objectId" value="#{customTableBean.objectId}" />
			<f:event type="preRenderView" listener="#{customTableBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="objectId" value="#{titleBean.objectId}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">

		<o:importConstants type="org.meveo.model.crm.custom.CustomFieldTypeEnum" />

		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="customTables" value="#{customTableBean.entity.descriptionOrCode}" />
			</p:breadCrumb>
		</h:form>


		<h:panelGroup id="exportSummary">
			<h:form id="formExportSummary">
				<h:panelGroup rendered="#{customTableBean.exportFuture!=null}">

					<p:poll interval="5" update="exportSummary" stop="#{customTableBean.exportFuture!=null and customTableBean.exportFuture.isDone()}" widgetVar="exportStatusPoll"
						onerror="PF('exportStatusPoll').stop()" process="@this" />

					<h:panelGroup rendered="#{customTableBean.exportFuture!=null}">
						<h:panelGroup rendered="#{!customTableBean.exportFuture.isDone()}">
							<div class="ui-messages ui-widget">
								<div class="ui-messages-info ui-corner-all">
									<span class="ui-messages-info-icon"></span>
									<ul>
										<li><h:outputText value="#{messages['customTable.exportFile.inProgress']}" styleClass="ui-messages-info-summary" /></li>
									</ul>
								</div>
							</div>

						</h:panelGroup>
						<h:panelGroup rendered="#{customTableBean.exportFuture.isDone()}">
							<div class="ui-messages ui-widget">
								<h:panelGroup rendered="#{customTableBean.exportFuture.get().exception!=null}">
									<div class="ui-messages-error ui-corner-all">
										<span class="ui-messages-error-icon"></span>
										<ul>
											<li><h:outputText value="#{messages['customTable.exportFile.failed']}" styleClass="ui-messages-error-summary" escape="false" /></li>
											<li><h:outputText value="#{customTableBean.exportFuture.get().exceptionMessage}" /></li>
										</ul>
									</div>
								</h:panelGroup>
								<h:panelGroup rendered="#{customTableBean.exportFuture.get().exception==null}">
									<div class="ui-messages-info ui-corner-all">
										<span class="ui-messages-info-icon"></span>
										<ul>
											<li><h:outputText value="#{messages['customTable.exportFile.finished'].concat(customTableBean.exportFuture.get().resultMessage)}"
													styleClass="ui-messages-info-summary" escape="false" /></li>
										</ul>
									</div>
								</h:panelGroup>
							</div>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>



		<h:panelGroup id="importSummary">
			<h:form id="formImportSummary">
				<h:panelGroup rendered="#{customTableBean.importFuture!=null}">

					<p:remoteCommand name="updateData" update=":ctForm:ctSearchResults" />

					<p:poll interval="5" update="importSummary" stop="#{customTableBean.importFuture!=null and customTableBean.importFuture.isDone()}" widgetVar="importStatusPoll"
						onerror="PF('importStatusPoll').stop()" onsuccess="updateData()" process="@this" />

					<h:panelGroup rendered="#{customTableBean.importFuture!=null}">
						<h:panelGroup rendered="#{!customTableBean.importFuture.isDone()}">
							<div class="ui-messages ui-widget">
								<div class="ui-messages-info ui-corner-all">
									<span class="ui-messages-info-icon"></span>
									<ul>
										<li><h:outputText value="#{messages['customTable.importFile.inProgress']}" styleClass="ui-messages-info-summary" /></li>
									</ul>
								</div>
							</div>

						</h:panelGroup>
						<h:panelGroup rendered="#{customTableBean.importFuture.isDone()}">
							<div class="ui-messages ui-widget">
								<h:panelGroup rendered="#{customTableBean.importFuture.get().exception!=null}">
									<div class="ui-messages-error ui-corner-all">
										<span class="ui-messages-error-icon"></span>
										<ul>
											<li><h:outputText value="#{messages['customTable.importFile.failed']}" styleClass="ui-messages-error-summary" escape="false" /></li>
											<li><h:outputText value="#{customTableBean.importFuture.get().exceptionMessage}" /></li>
										</ul>
									</div>
								</h:panelGroup>
								<h:panelGroup rendered="#{customTableBean.importFuture.get().exception==null}">
									<div class="ui-messages-info ui-corner-all">
										<span class="ui-messages-info-icon"></span>
										<ul>
											<li><h:outputText value="#{messages['customTable.importFile.finished'].concat(customTableBean.importFuture.get().itemsProcessed)}"
													styleClass="ui-messages-info-summary" escape="false" /></li>
										</ul>
									</div>
								</h:panelGroup>
							</div>
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
			</h:form>
		</h:panelGroup>


		<hftl:searchPanel backingBean="#{customTableBean}" renderNewButton="false" ajaxUpdateIds=":ctForm:ctSearchResults">

			<c:forEach items="#{customTableBean.fields}" var="field">
				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.STRING}">
					<hftl:searchTextField id="#{field.dbFieldname}" backingBean="#{customTableBean}" field="#{field.dbFieldname}"
						label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" maxlength="#{field.maxValue}" />
				</c:if>
				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.DATE}">
					<hftl:searchDateField id="#{field.dbFieldname}" backingBean="#{customTableBean}" field="#{field.dbFieldname}"
						label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" datePattern="#{paramBean.dateFormat}" rangeSearch="true" componentWidth="25" />
				</c:if>
				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.DOUBLE}">
					<hftl:searchNumberField id="#{field.dbFieldname}" converterId="javax.faces.Double" backingBean="#{customTableBean}" field="${field.dbFieldname}"
						label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" componentWidth="25" rangeSearch="true" />
				</c:if>
				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.LONG}">
					<hftl:searchNumberField id="#{field.dbFieldname}" converterId="javax.faces.Long" backingBean="#{customTableBean}" field="${field.dbFieldname}"
						label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" componentWidth="25" rangeSearch="true" />
				</c:if>

				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.LIST}">
					<hftl:decorateFormField fieldId="#{field.dbFieldname}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" componentWidth="25">
						<p:selectOneMenu id="#{field.dbFieldname}" value="#{customTableBean.filters[field.dbFieldname]}"
							placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}">
							<f:selectItem itemValue="#{null}" itemLabel="" />
							<f:selectItems value="#{field.listValues.entrySet()}" var="listVal" itemValue="#{listVal.key}" itemLabel="#{listVal.value} (#{listVal.key})" />
						</p:selectOneMenu>
					</hftl:decorateFormField>
				</c:if>
			</c:forEach>

			<ui:define name="buttons">
				<p:commandButton value="#{messages['commons.new']}" process="@this" update="ctRowDetailsDialog" oncomplete="PF('ctRowDetailsDialog').show();"
					action="#{customTableBean.cleanRowValues()}">
					<f:setPropertyActionListener target="#{customTableBean.newEntity}" value="true" />
					<p:resetInput target=":ctRowDetails:addUpdateFields" />
				</p:commandButton>
			</ui:define>
		</hftl:searchPanel>

		<p:panel width="100">
			<h:form id="ctForm">
				<p:dataTable id="ctSearchResults" value="#{customTableBean.dataModel}" var="entity" lazy="true" widgetVar="ctTable"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" paginator="true" rows="10"
					rowsPerPageTemplate="10,15,20,50" resizableColumns="true" styleClass="custom-grid" reflow="true" editable="#{customTableBean.edit}" editMode="cell"
					selection="#{customTableBean.selectedValues}" sortBy="id">
					<p:ajax event="cellEdit" listener="#{customTableBean.onCellEdit}" update="@form" partialSubmit="true" partialSubmitFilter=":not([name*='addUpdateFields'])" />/>
                    <p:ajax event="cellEditCancel" partialSubmit="true" partialSubmitFilter=":not([name*='addUpdateFields'])" />/>

                    <p:column id="multiSelect" selectionMode="multiple" width="4%" exportable="false" toggleable="false" />
					<p:column headerText="id" sortBy="#{id}">
						<h:outputText value="#{entity['id']}" />
					</p:column>
					<p:columns value="#{customTableBean.fields}" var="field" headerText="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" sortBy="#{field.dbFieldname}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText id="#{entity[field.dbFieldname]}_out_date" value="#{entity[field.dbFieldname]}" styleClass="field-value"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.DATE}">
									<f:convertDateTime type="date" pattern="#{field.displayFormat!=null? field.displayFormat:paramBean.dateFormat}" />
								</h:outputText>
								<h:outputText id="#{entity[field.dbFieldname]}_out" value="#{entity[field.dbFieldname]}" styleClass="field-value"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.STRING or field.fieldType eq CustomFieldTypeEnum.LIST or field.fieldType eq CustomFieldTypeEnum.LONG}" />
								<h:outputText id="#{entity[field.dbFieldname]}_out_big_text" value="#{entity[field.dbFieldname]}" styleClass="field-value"
											  rendered="#{field.fieldType eq CustomFieldTypeEnum.TEXT_AREA}" >
								</h:outputText>

								<h:outputText id="#{entity[field.dbFieldname]}_out_double" value="#{entity[field.dbFieldname]}" styleClass="field-value"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.DOUBLE}">
									<f:converter converterId="javax.faces.Double" />
								</h:outputText>
								<h:outputText id="#{entity[field.dbFieldname]}_out_boolean" value="#{entity[field.dbFieldname]}" styleClass="field-value"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.BOOLEAN}">
									<f:converter converterId="javax.faces.Boolean" />
								</h:outputText>
								<h:outputText id="#{entity[field.dbFieldname]}_out_entity" value="#{entity[field.dbFieldname.concat('_TXTlabel')]}" styleClass="field-value"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.ENTITY}">
									<!-- 									<f:converter converterId="javax.faces.Long" /> -->
								</h:outputText>
							</f:facet>
							<f:facet name="input">
								<p:inputText id="#{field.dbFieldname}_in_string" value="#{entity[field.dbFieldname]}" placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
									label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" size="20" maxlength="#{field.maxValue}" required="#{field.valueRequired}"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.STRING}" />
								<p:calendar id="#{field.dbFieldname}_in_date" value="#{entity[field.dbFieldname]}" placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
									label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" showButtonPanel="true"
									pattern="#{field.displayFormat!=null? field.displayFormat:paramBean.dateFormat}" required="#{field.valueRequired}"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.DATE}" size="15" />

								<p:inputText id="#{field.dbFieldname}_in_dbl" value="#{entity[field.dbFieldname]}" required="#{field.valueRequired}"
									placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.DOUBLE}" size="10">
									<f:convertNumber minFractionDigits="2" />
									<c:if test="#{field.minValue!=null and field.maxValue!=null}">
										<f:validateLongRange minimum="#{field.minValue}" maximum="#{field.maxValue}" />
									</c:if>
									<c:if test="#field.minValue!=null and field.maxValue==null}">
										<f:validateLongRange minimum="#{field.minValue}" />
									</c:if>
									<c:if test="#{field.minValue==null and field.maxValue!=null}">
										<f:validateLongRange maximum="#{field.maxValue}" />
									</c:if>
								</p:inputText>
								<p:inputText id="#{field.dbFieldname}_in_long" value="#{entity[field.dbFieldname]}" required="#{field.valueRequired}"
									placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.LONG}" size="10">
									<f:convertNumber integerOnly="true" />
									<c:if test="#{field.minValue!=null and field.maxValue!=null}">
										<f:validateLongRange minimum="#{field.minValue}" maximum="#{field.maxValue}" />
									</c:if>
									<c:if test="#{field.minValue!=null and field.maxValue==null}">
										<f:validateLongRange minimum="#{field.minValue}" />
									</c:if>
									<c:if test="#{field.minValue==null and field.maxValue!=null}">
										<f:validateLongRange maximum="#{field.maxValue}" />
									</c:if>
								</p:inputText>
								<p:selectOneMenu id="#{field.dbFieldname}_in_list" value="#{entity[field.dbFieldname]}" required="#{field.valueRequired}"
									placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
									rendered="#{field.fieldType eq CustomFieldTypeEnum.LIST}">
									<f:selectItem itemValue="#{null}" itemLabel="" />
									<f:selectItems value="#{field.listValues.entrySet()}" var="listVal" itemValue="#{listVal.key}" itemLabel="#{listVal.value} (#{listVal.key})" />
								</p:selectOneMenu>

								<p:selectOneMenu id="#{field.dbFieldname}_in_boolean" value="#{entity[field.dbFieldname]}" required="#{field.valueRequired}" onLabel="true" offLabel="false"
									style="width:60px" rendered="#{field.fieldType eq CustomFieldTypeEnum.BOOLEAN}">
									<f:selectItem itemValue="#{null}" itemLabel="" />
									<f:selectItem itemValue="#{true}" itemLabel="true" />
									<f:selectItem itemValue="#{false}" itemLabel="false" />
									<f:converter converterId="javax.faces.Boolean" />
								</p:selectOneMenu>

							</f:facet>
						</p:cellEditor>
					</p:columns>
					<p:column headerText="#{messages['commons.actions']}" exportable="false">
						<p:commandButton icon="ui-icon-search" oncomplete="PF('ctRowDetailsDialog').show()" update=":ctRowDetailsDialog" title="#{messages['commons.view']}">
							<f:setPropertyActionListener target="#{customTableBean.rowValues}" value="#{entity}" />
							<f:setPropertyActionListener target="#{customTableBean.newEntity}" value="false" />
						</p:commandButton>
						<p:commandButton id="deletelink" icon="ui-icon-trash" action="#{customTableBean.delete(entity['id'])}" rendered="#{customTableBean.edit}" update=":ctForm:ctSearchResults"
							process="@this" immediate="true">
							<p:confirm header="#{messages['commons.confirmationHeader']}" message="#{messages['commons.confirmDelete']}" icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>

					<c:if test="#{customTableBean.edit}">
						<f:facet name="footer" layout="block">
							<h:panelGroup styleClass="clearLeft" style="margin-top:20px" layout="block">
								<p:commandButton id="deleteMany" value="#{messages['commons.deleteMultiple']}" action="#{customTableBean.deleteMany()}" icon="ui-icon-trash"
									process=":ctForm:ctSearchResults" partialSubmit="true" partialSubmitFilter=":not([name*='addUpdateFields'])" update=":ctForm:ctSearchResults">
									<p:confirm header="#{messages['commons.confirmationHeader']}" message="#{messages['commons.confirmDeleteMultiple']}" icon="ui-icon-alert" />
								</p:commandButton>
							</h:panelGroup>
						</f:facet>
					</c:if>
				</p:dataTable>
			</h:form>


			<p:dialog id="ctRowDetailsDialog" header="#{messages[customTableBean.update?'customTable.values':'customTable.newValues']}" modal="true" closeOnEscape="true"
				widgetVar="ctRowDetailsDialog" width="90%" closable="true" appendTo="@(body)">

				<hftl:decorateFormPanel formId="ctRowDetails">
					<ui:define name="fields">

						<p:messages id="ctNewFieldsMessage" globalOnly="false" redisplay="false" />

						<hf:namingContainer id="addUpdateFields" wrap="true">
							<c:forEach items="#{customTableBean.fields}" var="field">
								<hftl:decorateFormField fieldId="#{id}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" rendered="#{!customTableBean.newEntity or !field.hideOnNew}">

									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.STRING}">
										<p:inputText id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" style="margin-left:5px"
											label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" size="20" maxlength="#{field.maxValue}" required="#{field.valueRequired}"
											disabled="#{!customTableBean.newEntity and !field.allowEdit}"/>
									</c:if>
									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.BOOLEAN}">
										<p:selectBooleanButton id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" style="margin-left:5px" onLabel="true" offLabel="false"
											label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" size="20" maxlength="#{field.maxValue}" required="#{field.valueRequired}"
											disabled="#{!customTableBean.newEntity and !field.allowEdit}">
										</p:selectBooleanButton>
									</c:if>
									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.DATE}">
										<p:calendar id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}"
											showButtonPanel="true" pattern="#{field.displayFormat!=null? field.displayFormat:paramBean.dateFormat}" required="#{field.valueRequired}" style="margin-left:5px"
											size="15" disabled="#{!customTableBean.newEntity and !field.allowEdit}"/>
									</c:if>
									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.DOUBLE}">
										<p:inputText id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}" required="#{field.valueRequired}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" style="margin-left:5px"
											label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" size="10" disabled="#{!customTableBean.newEntity and !field.allowEdit}">
											<f:convertNumber minFractionDigits="2" />
											<c:if test="#{field.minValue!=null and field.maxValue!=null}">
												<f:validateLongRange minimum="#{field.minValue}" maximum="#{field.maxValue}" />
											</c:if>
											<c:if test="#field.minValue!=null and field.maxValue==null}">
												<f:validateLongRange minimum="#{field.minValue}" />
											</c:if>
											<c:if test="#{field.minValue==null and field.maxValue!=null}">
												<f:validateLongRange maximum="#{field.maxValue}" />
											</c:if>
										</p:inputText>
									</c:if>
									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.LONG}">
										<p:inputText id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}" required="#{field.valueRequired}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" style="margin-left:5px"
											label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" size="10" disabled="#{!customTableBean.newEntity and !field.allowEdit}">
											<f:convertNumber integerOnly="true" />
											<c:if test="#{field.minValue!=null and field.maxValue!=null}">
												<f:validateLongRange minimum="#{field.minValue}" maximum="#{field.maxValue}" />
											</c:if>
											<c:if test="#{field.minValue!=null and field.maxValue==null}">
												<f:validateLongRange minimum="#{field.minValue}" />
											</c:if>
											<c:if test="#{field.minValue==null and field.maxValue!=null}">
												<f:validateLongRange maximum="#{field.maxValue}" />
											</c:if>
										</p:inputText>
									</c:if>

									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.LIST}">
										<p:selectOneMenu id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}" required="#{field.valueRequired}"
											placeholder="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" style="margin-left:5px"
											label="#{field.getDescription(customTableBean.currentLocale.ISO3Language)}" disabled="#{!customTableBean.newEntity and !field.allowEdit}">
											<f:selectItem itemValue="#{null}" itemLabel="" />
											<f:selectItems value="#{field.listValues.entrySet()}" var="listVal" itemValue="#{listVal.key}" itemLabel="#{listVal.value} (#{listVal.key})" />
										</p:selectOneMenu>
									</c:if>
									<c:if test="#{field.fieldType eq CustomFieldTypeEnum.ENTITY}">
										<!-- 										<p:inputText id="#{field.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}" required="#{field.valueRequired}" disabled="true"> -->
										<!-- 											<f:converter converterId="javax.faces.Long" /> -->
										<!-- 										</p:inputText> -->
										<p:inputText id="#{field.dbFieldname}_TXTlabel" value="#{customTableBean.rowValues[field.dbFieldname.concat('_TXTlabel')]}" disabled="true" />
										<p:commandButton disabled="#{!customTableBean.newEntity and !field.allowEdit}" immediate="true" onclick="PF('#{field.dbFieldname}_dlg').show()" icon="ui-icon-search" type="button" />
										<p:commandButton disabled="#{!customTableBean.newEntity and !field.allowEdit}" immediate="true" rendered="#{!field.valueRequired}" update="#{field.dbFieldname}_TXTlabel" icon="ui-icon-close">
											<f:setPropertyActionListener target="#{customTableBean.rowValues[field.dbFieldname]}" value="#{null}" />
											<f:setPropertyActionListener target="#{customTableBean.rowValues[field.dbFieldname.concat('_TXTlabel')]}" value="#{null}" />
										</p:commandButton>
									</c:if>
								</hftl:decorateFormField>
							</c:forEach>
						</hf:namingContainer>
					</ui:define>
					<ui:define name="buttons">
						<p:commandButton value="#{messages[customTableBean.update?'action.update':'commons.addNew']}" partialSubmit="true" process="@this addUpdateFields"
							update="@form :ctForm:ctSearchResults" action="#{customTableBean.addUpdateRowValues()}" style="margin-left:20px"
							oncomplete="if (args &amp;&amp; !args.validationFailed){PF('ctRowDetailsDialog').hide();}" ajax="true" rendered="#{customTableBean.edit}">
							<p:resetInput target="addUpdateFields" />
						</p:commandButton>

						<p:commandButton value="#{messages['commons.clear']}" process="@this" update="@form" rendered="#{customTableBean.edit}">
							<p:resetInput target="addUpdateFields" />
						</p:commandButton>
						<p:button value="#{messages['action.cancel']}" onclick="PF('ctRowDetailsDialog').hide(); return false;" />
					</ui:define>
				</hftl:decorateFormPanel>
			</p:dialog>


			<c:forEach items="#{customTableBean.fields}" var="field">
				<c:if test="#{field.fieldType eq CustomFieldTypeEnum.ENTITY}">

					<p:dialog id="#{field.dbFieldname}_dlg" header="#{field.getDescriptionOrCode()}" widgetVar="#{field.dbFieldname}_dlg" dynamic="true" modal="true" styleClass="form-dialog"
						closeOnEscape="true" width="50%" appendTo="@(body)">
						<h:form id="#{field.dbFieldname}_popupForm">
							<h:panelGroup layout="block" styleClass="search-panel">
								<p:messages />
								<p:outputPanel styleClass="search-panel-fields">
									<c:forEach items="#{customTableBean.getEntityTypeFields(field)}" var="fieldField">
										<hftl:decorateFormField fieldId="#{fieldField.dbFieldname}" label="#{fieldField.descriptionOrCode}" componentWidth="20">
											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.STRING}">
												<p:inputText id="#{fieldField.dbFieldname}" value="#{customTableBean.getFieldFilters(field)[fieldField.dbFieldname]}" size="20" maxlength="60" />
											</c:if>

											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.BOOLEAN}">
												<p:selectBooleanButton id="#{fieldField.dbFieldname}" value="#{customTableBean.getFieldFilters(field)[fieldField.dbFieldname]}" size="20" />
											</c:if>
											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.DATE}">
												<p:calendar id="#{fieldField.dbFieldname}" value="#{customTableBean.rowValues[field.dbFieldname]}" showButtonPanel="true"
													pattern="#{field.displayFormat!=null? field.displayFormat:paramBean.dateFormat}" size="15" />
											</c:if>
											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.DOUBLE}">
												<p:inputText id="#{fieldField.dbFieldname}" value="#{customTableBean.getFieldFilters(field)[fieldField.dbFieldname]}" size="10">
													<f:convertNumber minFractionDigits="2" />
													<c:if test="#{fieldField.minValue!=null and fieldField.maxValue!=null}">
														<f:validateLongRange minimum="#{fieldField.minValue}" maximum="#{fieldField.maxValue}" />
													</c:if>
													<c:if test="#fieldField.minValue!=null and fieldField.maxValue==null}">
														<f:validateLongRange minimum="#{fieldField.minValue}" />
													</c:if>
													<c:if test="#{fieldField.minValue==null and fieldField.maxValue!=null}">
														<f:validateLongRange maximum="#{fieldField.maxValue}" />
													</c:if>
												</p:inputText>
											</c:if>
											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.LONG or fieldField.fieldType eq CustomFieldTypeEnum.ENTITY}">
												<p:inputText id="#{fieldField.dbFieldname}" value="#{customTableBean.getFieldFilters(field)[fieldField.dbFieldname]}" size="10">
													<f:convertNumber integerOnly="true" />
													<c:if test="#{fieldField.minValue!=null and fieldField.maxValue!=null}">
														<f:validateLongRange minimum="#{fieldField.minValue}" maximum="#{fieldField.maxValue}" />
													</c:if>
													<c:if test="#{fieldField.minValue!=null and fieldField.maxValue==null}">
														<f:validateLongRange minimum="#{fieldField.minValue}" />
													</c:if>
													<c:if test="#{fieldField.minValue==null and fieldField.maxValue!=null}">
														<f:validateLongRange maximum="#{fieldField.maxValue}" />
													</c:if>
												</p:inputText>
											</c:if>
											<c:if test="#{fieldField.fieldType eq CustomFieldTypeEnum.LIST}">
												<p:selectOneMenu id="#{fieldField.dbFieldname}" value="#{customTableBean.getFieldFilters(field)[fieldField.dbFieldname]}">
													<f:selectItem itemValue="#{null}" itemLabel="" />
													<f:selectItems value="#{fieldField.listValues.entrySet()}" var="listVal" itemValue="#{listVal.key}" itemLabel="#{listVal.value} (#{listVal.key})" />
												</p:selectOneMenu>
											</c:if>
										</hftl:decorateFormField>
									</c:forEach>
								</p:outputPanel>
								<h:panelGroup layout="block" styleClass="search-panel-actions">
									<p:commandButton id="buttonSearch" value="#{messages['commons.search']}" update="#{field.dbFieldname}_datatable" process="@this @form" />
									<p:commandButton id="buttonClear" action="#{customTableBean.cleanFieldSearch(field)}" value="#{messages['commons.clean']}" update="@form" process="@this">
										<p:resetInput target="@form" />
									</p:commandButton>
								</h:panelGroup>
							</h:panelGroup>

							<p:dataTable id="#{field.dbFieldname}_datatable" var="e" paginator="true" resizableColumns="true" value="#{customTableBean.getFieldDataModel(field)}" rows="10"
								selectionMode="single" rowKey="#{e.id}" lazy="true">
								<p:ajax event="rowSelect" listener="#{customTableBean.onEntitySelect}" oncomplete="PF('#{field.dbFieldname}_dlg').hide()"
									update="ctRowDetails:addUpdateFields:#{field.dbFieldname}_TXTlabel" />

								<c:forEach items="#{customTableBean.getEntityTypeFields(field)}" var="fieldField">
									<p:column>
										<f:facet name="header">
											<h:outputText value="#{fieldField.descriptionOrCode}" />
										</f:facet>
										<h:outputText value="#{e[fieldField.dbFieldname]}" />
									</p:column>
								</c:forEach>
							</p:dataTable>
						</h:form>
					</p:dialog>
				</c:if>
			</c:forEach>

		</p:panel>
	</ui:define>

</ui:composition>
