<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://xmlns.jcp.org/jsf/composite/tags"
	template="/layout/template.xhtml">

    
	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.contacts']}" disabled="true" />
				<p:menuitem outcome="contact" value="#{messages['menu.contacts']}" />
			</p:breadCrumb>
		</h:form>   
		
		<hftl:searchPanel label="#{messages['contact.search']}" backingBean="#{contactListBean}">
            <hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
            <hftl:searchField label="#{messages['businessEntity.description']}" id="description" field="description" componentWidth="75" size="100" />
        </hftl:searchPanel>
        
        <hftl:dataList label="#{messages['contact.search']}" sortBy="code" backingBean="#{contactListBean}">
            <hftl:column label="#{messages['businessEntity.code']}" field="code" useCustomIdParam="true" />
            <hftl:actionsColumn useCustomIdParam="true"  />
        </hftl:dataList>
        
		<div style="margin: 10%">
			<H1>BUTTON BELLOW</H1>
			<h:form id="form" enctype="multipart/form-data">
				 <h:inputFile id="file" value="#{contactBean.file}"/>
				 <h:commandButton value="Upload"
				      action="#{contactBean.upload}"/>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
