<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:hftl="http://hftl.org" xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{occTemplateBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}"
					disabled="true" />
				<p:menuitem value="#{messages['menu.occTemplates']}"
					outcome="occTemplates" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['occTemplate.search']}"
			backingBean="#{occTemplateBean}">
			<hftl:searchField label="#{messages['businessEntity.code']}"
				field="code" />
			<hftl:searchField label="#{messages['businessEntity.description']}"
				id="description" field="description" />
		</hftl:searchPanel>

		<hftl:dataList backingBean="#{occTemplateBean}"
			label="#{messages['occTemplate.title']}" sortBy="code">
			<hftl:column label="#{messages['businessEntity.code']}" field="code" />
			<hftl:column label="#{messages['businessEntity.description']}"
				field="description" />
			<hftl:column label="#{messages['accountingCode']}"
				field="accountingCode.code" />
			<hftl:column label="#{messages['occTemplate.accountCodeClientSide']}"
				field="accountCodeClientSide" />
			<hftl:column label="#{messages['occTemplate.occCategory']}"
				field="occCategory.label" isMessage="true" />
			<hftl:column label="#{messages['occTemplate.journal']}"
				field="journal.code" />	
			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>
