<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				xmlns:f="http://xmlns.jcp.org/jsf/core"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:hftl="http://hftl.org"
				xmlns:p="http://primefaces.org/ui"
				template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{timerEntityListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		
			<h:form id="crumbmenuForm">
				<p:breadCrumb homeDisplay="text" id="crumbmenu">
					<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
					<p:menuitem outcome="timerEntities"
						value="#{messages['menu.timerEntities']}" />
				</p:breadCrumb>
			</h:form>
		
		<hftl:searchPanel columns="3" label="#{messages['timers.page.title']}"
			backingBean="#{timerEntityListBean}">

			<hftl:searchField label="#{messages['tax.code']}" field="code" />
			<hftl:searchField label="#{messages['tax.description']}"
				id="description" field="description" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['timers.page.title']}"
			backingBean="#{timerEntityListBean}" sortBy="code">
			<hftl:column label="#{messages['tax.code']}" field="code" />
			<hftl:column label="#{messages['tax.description']}" field="description" />
			<hftl:column label="#{messages['timer.second']}" field="second"  />
			<hftl:column label="#{messages['timer.minute']}" field="minute"  />
            <hftl:column label="#{messages['timer.hour']}" field="hour" />
            <hftl:column label="#{messages['timer.dayOfMonth']}" field="dayOfMonth"  />
            <hftl:column label="#{messages['timer.month']}" field="month" />
            <hftl:column label="#{messages['timer.dayOfWeek']}" field="dayOfWeek"  />
            <hftl:column label="#{messages['timer.year']}" field="year"  />
			<hftl:actionsColumn />
		</hftl:dataList>

	</ui:define>

</ui:composition>

