<ui:composition xmlns="http://www.w3.org/1999/xhtml"    
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:hftl="http://hftl.org"
    template="/layout/template.xhtml">
    
	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{walletTemplateListBean.preRenderView}" />
		</f:metadata>
	</ui:define>
	    
    <ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.catalog']}" disabled="true" />
				<p:menuitem outcome="walletTemplates"
					value="#{messages['menu.wallets']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['wallet.search']}" backingBean="#{walletTemplateListBean}">
    			<hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
    			<hftl:searchField label="#{messages['businessEntity.description']}" field="description"/>
    		</hftl:searchPanel>	
    		
    		<hftl:dataList label="#{messages['menu.wallets']}" backingBean="#{walletTemplateListBean}" sortBy="code">
    			<hftl:column label="#{messages['businessEntity.code']}" field="code" />
    			<hftl:column label="#{messages['businessEntity.description']}" field="description" /> 
    			<hftl:column label="#{messages['wallet.walletType']}" field="walletType.label" isMessage="true" /> 
    			<hftl:column label="#{messages['walletTemplate.lowBalanceLevel']}" field="lowBalanceLevel"/>
    			<!-- <hftl:column label="#{messages['walletTemplate.consumptionAlertSet']}" field="consumptionAlertSet" /> 
    			<hftl:column label="#{messages['walletTemplate.fastRatingLevel']}" field="fastRatingLevel" />  -->
    			<hftl:actionsColumn />
		    </hftl:dataList>
		   		
    </ui:define>
    
</ui:composition>
