<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:hftl="http://hftl.org"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{ftpImportedFileListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.mediation']}" disabled="true" />
				<p:menuitem outcome="importedFiles" value="#{messages['menu.transferredFiles']}" />
			</p:breadCrumb>
		</h:form> 
		<hftl:searchPanel columns="2"
			label="#{messages['transferredFile.search']}"
			backingBean="#{ftpImportedFileListBean}" renderNewButton="false">
			<hftl:searchField label="#{messages['transferredFile.transferDate']}" field="transferDate" />
			<hftl:searchField label="#{messages['transferredFile.uri']}" field="uri" />
			<hftl:searchField label="#{messages['transferredFile.description']}" field="description" />
			<hftl:searchField label="#{messages['transferredFile.lastModified']}"
				field="lastModification" />
			<hftl:searchField label="#{messages['transferredFile.operation']}" field="operation" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['transferredFile.title']}"
			backingBean="#{ftpImportedFileListBean}" sortBy="transferDate" sortOrder="DESCENDING">
			<hftl:column label="#{messages['transferredFile.transferDate']}" field="transferDate"/>
			<hftl:column label="#{messages['transferredFile.code']}" field="code"/>
			<hftl:column label="#{messages['transferredFile.description']}" field="description"/>
			<hftl:column label="#{messages['transferredFile.uri']}" field="uri"/>
			<hftl:column label="#{messages['transferredFile.size']}" field="size" />
			<hftl:column label="#{messages['transferredFile.lastModified']}"
				field="lastModification" isDate="true" />
			<hftl:column label="#{messages['transferredFile.operation']}" field="operation" />
			<hftl:actionsColumn />
		</hftl:dataList>
	</ui:define>
</ui:composition>
