<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{tradingCountryListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="body">
		<h:form id="crumbmenuForm">
			<p:breadCrumb homeDisplay="text" id="crumbmenu">
				<p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
				<p:menuitem outcome="tradingCountries"
					value="#{messages['menu.tradingCountries']}" />
			</p:breadCrumb>
		</h:form>

		<hftl:searchPanel label="#{messages['tradingCountry.search']}"
			backingBean="#{tradingCountryListBean}" >

			<hftl:searchField id="country"
				label="#{messages['tradingCountry.trCountryCode']}"
				field="country.countryCode" />

		</hftl:searchPanel>

		<hftl:dataList label="#{messages['tradingCountry.title']}"
			backingBean="#{tradingCountryListBean}">
			<hftl:column label="#{messages['tradingCountry.trCountryCode']}"
				field="country.countryCode" width="10%"
				entityView="tradingCountryDetail" valueIdField="id" />
			<hftl:column label="#{messages['tradingCountry.description']}"
				width="30%" field="description" />
			<hftl:column label="#{messages['enableEntity.active']}"
				field="active" isMessage="true" />
			<h:column>
				<f:facet name="header">
					<div style="float: left;">#{messages['tradingCountry.languageCode']}</div>
				</f:facet>
				<h:outputText value="#{entity.country.language.languageCode}"
					align="left" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<div style="float: left;">#{messages['tradingCountry.curencyCode']}</div>
				</f:facet>
				<h:outputText value="#{entity.country.currency.currencyCode}"
					align="left" />
			</h:column>

			<hftl:actionsColumn renderEnableLink="true"/>
		</hftl:dataList>

	</ui:define>

</ui:composition>
